input {
  color: black;
}
.cs-loader {
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0px;
  z-index: 1052;
}
.loading-logo {
  margin: auto;
  display: block;
  text-align: center;
  width: 200px;
}
.isDisabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.isOn {
  opacity: 1;
  cursor: default;
}
