<div id="tab1" class="col-xs-12 EditPanel" [ngClass]="{'notEdit':editMode == false}">
  <div class="row">
    <div class="col-md-12">
      <p><strong>{{'CUSTOMER.ID' | translate}} : {{CustomInfo.id}}</strong></p>
    </div>
  </div>

  <div class="cs-loader">
    <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
  </div>

  <div class="row">
    <form #EditCustomerform="ngForm">
      <div class="col-md-6 col-xs-12">

        <div class="form-group halfInput">
          <label for="Name">{{'CUSTOMER.NAME' | translate}} : *</label>
          <input type="text" [(ngModel)]="CustomInfo.name"
                 class="form-control" id="Name" name="Name" #Name="ngModel"
                 [ngClass]="{ 'has-error': (firstSubmitTry)  && Name.invalid }" required [disabled]="!editMode || isHideFromLoggedUser">
          <small *ngIf="Name.invalid && (firstSubmitTry) " class="text-danger ErrorLable">
            Name is required
          </small>
        </div>

        <div class="form-group halfInput">
          <label for="Type">{{'CUSTOMER.TYPE' | translate}} : *</label>
          <select [(ngModel)]="CustomInfo.fK_CustomerType_Id" class="form-control" name="CustType" #CustType="ngModel"
                  [ngClass]="{ 'has-error': (firstSubmitTry) && CustType.invalid }" required [disabled]="!editMode  || isHideFromLoggedUser">
            <option *ngFor="let t of CustomerType" [value]="t.id">{{t.name}}</option>
          </select>

          <small *ngIf="CustType.invalid && (firstSubmitTry) " class="text-danger ErrorLable">
            Customer Type is required
          </small>
        </div>


        <div class="form-group halfInput">
          <label for="Category">{{'CUSTOMER.CATEGORY' | translate}} : *</label>
          <select [(ngModel)]="CustomInfo.fK_CustomerCategory_Id" class="form-control" name="CustCategory" #CustCategory="ngModel"
                  [ngClass]="{ 'has-error': (firstSubmitTry) && CustCategory.invalid }" required [disabled]="!editMode  || isHideFromLoggedUser">
            <option *ngFor="let t of CustomerCategory" [value]="t.id">{{t.name}}</option>
          </select>

          <small *ngIf="CustCategory.invalid && (firstSubmitTry) " class="text-danger ErrorLable">
            Customer Category is required
          </small>
        </div>

        <div class="form-group halfInput">
          <label for="kcrm_ID">{{'CUSTOMER.KCRMID' | translate}} : *</label>
          <input type="text" [(ngModel)]="CustomInfo.kcrM_Customer_Id"
                 class="form-control" id="kcrm_ID" name="kcrm_ID" #kcrm_ID="ngModel"
                 [ngClass]="{ 'has-error': (firstSubmitTry)  && Name.invalid }" required [disabled]="!editMode || isHideFromLoggedUser">
          <small *ngIf="kcrm_ID.invalid && (firstSubmitTry) " class="text-danger ErrorLable">
            KCRM ID is required
          </small>
        </div>


        <div class="form-group halfInput" *ngIf="CustomInfo.fK_CustomerType_Id =='2'">
          <label for="civil">{{'CUSTOMER.CIVIL_ID' | translate}} </label>
          <input type="text" [(ngModel)]="CustomInfo.civilId" pattern="-?[\d]+" minlength="12" maxlength="12"
                 class="form-control" id="civil" name="civil" #civil="ngModel"
                 [ngClass]="{ 'has-error': (firstSubmitTry)  && civil.invalid }" [disabled]="!editMode  || isHideFromLoggedUser">
          <small *ngIf="civil.invalid && (firstSubmitTry) " class="text-danger ErrorLable">
            Civil Id is required (12 digit Number).
          </small>
        </div>

      </div>

      <div class="col-md-6 col-xs-12">


        <div class="form-group halfInput" *ngFor="let phone of totalPhones ;let i = index" [attr.data-index]="i">
          <label for="phone">{{'ADD_NEW_CUSTOMER.PHONE' | translate}} *:</label>
          <input type="tel" [(ngModel)]="CustomInfo.phones[i]" (blur)="checkPhone(CustomInfo.phones[i])" class="form-control" [disabled]="!editMode"
                 [minlength]="numberCount"
                 [maxlength]="numberCount" name="phone{{i}}"
                 #phone="ngModel" [ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && phone.invalid }"
                 required>

          <small *ngIf="(firstSubmitTry || firstStep) " class="text-danger ErrorLable">
            phone is required
          </small>
          <span class="NewLink" (click)="AddPhoneItem()" *ngIf="i == 0 && editMode">{{'ADD_NEW_CUSTOMER.ADD_PHONE' | translate}}</span>
          <span class="NewLink" (click)="DeletePhoneItem(i)"
                *ngIf="i != 0 && editMode">{{'SHARED.REMOVE' | translate}}</span>
        </div>

        <div class="form-group halfInput" *ngIf="CustomInfo.fK_CustomerType_Id =='3'">
          <label for="company">{{'ADD_NEW_CUSTOMER.COMPANY_NAME' | translate}} : *</label>
          <input type="text" [(ngModel)]="CustomInfo.companyName" class="form-control" id="company" name="company"
                 #company="ngModel" [ngClass]="{ 'has-error': (firstSubmitTry)  && company.invalid }" required
                 [disabled]="!editMode">
          <small *ngIf="company.invalid && (firstSubmitTry) " class="text-danger ErrorLable">
            company name is required.
          </small>
        </div>

        <div class="form-group halfInput">
          <label for="remark">{{'SHARED.REMARK' | translate}} :</label>
          <input type="text" class="form-control" [(ngModel)]="CustomInfo.remarks" id="remark" name="remark"
                 #remark="ngModel" [disabled]="!editMode || isHideFromLoggedUser">
        </div>
        <div class="form-group halfInput">
          <label for="remark">{{'SHARED.CREDIT_LIMIT' | translate}}  : * </label>
          <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control"  [(ngModel)]="CustomInfo.creditLimit" id="creditLimit" name="creditLimit"
                 #creditLimit="ngModel" (focusout)="checkIsValidtoSaveCustomer()" [disabled]="!editMode || isHideFromLoggedUser " required>
        </div>

        <div class="form-group halfInput">
          <label for="remark">{{'SHARED.BALANCE' | translate}} </label>
          <input type="number" min="0" class="form-control" [(ngModel)]="CustomInfo.balance" id="balance" name="balance" readonly
                 #balance="ngModel" [disabled]="!editMode || isHideFromLoggedUser">
        </div>
        <div class="form-group halfInput">
          <label for="remark">{{'SHARED.IncreaseAmount' | translate}} </label>
          <input type="number" min="0" class="form-control" [(ngModel)]="CustomInfo.increaseAmount" id="increaseAmount" name="increaseAmount"
                 #increaseAmount="ngModel" [disabled]="!editMode || isHideFromLoggedUser">
        </div>


        <div class="form-group halfInput">
          <label for="remark">{{'SHARED.Debit' | translate}} </label>
          <input type="number" min="0" class="form-control" [(ngModel)]="CustomInfo.debit" id="debit" name="debit" readonly
                 #debit="ngModel" [disabled]="!editMode || isHideFromLoggedUser">
        </div>

        <div class="form-group halfInput">
          <label for="messenger">{{'CUSTOMER.Messenger' | translate}} </label>
          <input type="text" [disabled]="!editMode || isHideFromLoggedUser" [(ngModel)]="CustomInfo.messenger" class="form-control" id="messenger"
                 name="messenger" #messenger="ngModel">
        </div>


      </div>



      <div class="col-xs-12 col-md-12  mt-20" *ngIf="editMode == false">

        <button type="button" class="btn btn-primary centerBtn" (click)="editMode = true">
          {{'SHARED.EDIT' | translate}}
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </div>
      <div class="col-xs-12 col-md-12 mt-20" *ngIf="editMode == true">
        <button type="button" class="btn btn-success centerBtn" (click)="onSubmit(EditCustomerform)">
          {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetCustInfo()">
          {{'SHARED.CANCEL' | translate}}
        </button>

      </div>
    </form>
  </div>

  <!--<div class="row" style="margin-top: 25px; padding-top: 25px;border-top: 1px solid gray"
       *ngIf="currentLocation.governorate">

    <div class="col-xs-12">
      <h4>{{'LOCATION.ADDRESS' | translate}} : </h4>
    </div>


  </div>-->
</div>




