<div class="col-xs-12 EditPanel" *ngIf="ItemInfo">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" [disabled]='selectedItem.length!=0' (click)="AddItem=true">
        {{'SHARED.ADD_NEW' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedItem.length!=1' (click)="editItem=true">
        {{'SHARED.EDIT' | translate}} <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button type="button" class="btn btn-danger" [disabled]='selectedItem.length!=1' (click)="DeleteAllItem()">
        {{'SHARED.REMOVE' | translate}} <span class="glyphicon glyphicon-remove"></span>
      </button>
      <!-- <button type="button" class="btn btn-danger" [disabled]='selectedItem.length < 2' (click)="DeleteAllItem()"> Delete All <span class="glyphicon glyphicon-remove"></span> </button> -->
    </div>
    <div class="col-xs-12">
      <ngx-datatable class="material expandable" [rows]="ItemInfo" [columnMode]="'force'" [columns]="ItemColumns"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5" [selected]="selectedItem"
                     [selectionType]="'checkbox'"  (select)='onSelect($event)'>
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true"
                              [checkboxable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="id" name="{{'SHARED.ItemCode' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="name"
                              name="{{'SHARED.NAME' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="code" name="{{'SHARED.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="formula"
                              name="{{'SHARED.FORMULA' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="availableAmount"
                              name="{{'SHARED.AVAILABLE_AMOUNT' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="description"
                              name="{{'SHARED.DESCRIPTION' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="price"
                              name="{{'SHARED.PRICE' | translate}}"></ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>

<div class="cs-loader">
  <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
</div>
<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editItem || AddItem"></div>

<div class="modal fade in confirm-popup" *ngIf="editItem">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.EDIT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="id">{{'SHARED.ID' | translate}}</label>
                <input type="text" [(ngModel)]="selectedItem[0].id" class="form-control" id="id" name="id" #id="ngModel"
                       [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.NAME' | translate}}: * </label>
                <input type="text" [(ngModel)]="selectedItem[0].name" class="form-control" id="Name" name="Name"
                       #Name="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && Name.invalid }" required>

                <small *ngIf="Name.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  name is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.ID' | translate}}: * </label>
                <input type="text" [(ngModel)]="selectedItem[0].code" class="form-control" id="code" name="code"
                       #code="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && code.invalid }" required>

                <small *ngIf="code.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  code is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.DESCRIPTION' | translate}}: * </label>
                <input type="text" [(ngModel)]="selectedItem[0].description" class="form-control" id="description"
                       name="description" #description="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && description.invalid }" required>

                <small *ngIf="description.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  description is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.FORMULA' | translate}}: * </label>
                <input type="text" [(ngModel)]="selectedItem[0].formula" class="form-control" id="formula"
                       name="formula" #formula="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && formula.invalid }" required>

                <small *ngIf="formula.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  formula is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.AVAILABLE_AMOUNT' | translate}}: * </label>
                <input type="number" [(ngModel)]="selectedItem[0].availableAmount" class="form-control"
                       id="availableAmount" name="availableAmount" #availableAmount="ngModel"
                       (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && availableAmount.invalid }" required>

                <small *ngIf="availableAmount.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  availableAmount is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.PRICE' | translate}}: * </label>
                <input type="number" [(ngModel)]="selectedItem[0].price" class="form-control"
                       id="price" name="price" #price="ngModel"
                       (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && price.invalid }" required>

                <small *ngIf="availableAmount.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Price is required.
                </small>
              </div>
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success"  (click)="onSubmit(form)">{{'SHARED.CONFIRM' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddItem">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.ADD_NEW' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="Itemn">{{'SHARED.NAME' | translate}}: </label>
                <input type="text" [(ngModel)]="newItem.name" class="form-control" id="Itemn" name="Itemn"
                       #Itemn="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && Itemn.invalid }" required>
                <small *ngIf="Itemn.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  Item is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.ID' | translate}}: * </label>
                <input type="text" [(ngModel)]="newItem.code" (focusout)="ItemCodeExists(newItem.code)" class="form-control" id="code" name="code" #code="ngModel"
                       (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && code.invalid }" required>

                <small *ngIf="code.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  code is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.DESCRIPTION' | translate}}: * </label>
                <input type="text" [(ngModel)]="newItem.description" class="form-control" id="description"
                       name="description" #description="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && description.invalid }" required>

                <small *ngIf="description.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  description is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.FORMULA' | translate}}: * </label>
                <input type="text" [(ngModel)]="newItem.formula" class="form-control" id="formula" name="formula"
                       #formula="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && formula.invalid }" required>

                <small *ngIf="formula.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  formula is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.AVAILABLE_AMOUNT' | translate}}: * </label>
                <input type="number" [(ngModel)]="newItem.availableAmount" class="form-control" id="availableAmount"
                       name="availableAmount" #availableAmount="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && availableAmount.invalid }" required>

                <small *ngIf="availableAmount.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  availableAmount is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.PRICE' | translate}}: * </label>
                <input type="number" [(ngModel)]="newItem.price" class="form-control"
                       id="price" name="price" #price="ngModel"
                       (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && price.invalid }" required>

                <small *ngIf="availableAmount.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Price is required.
                </small>
              </div>


            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAdd(form)"> {{'SHARED.CONFIRM' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>
