<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <div class="form-group col-sm-6">
        <label for="id" class="col-sm-3">{{'ORDER.PRIORITY'|translate}}</label>
        <select [(ngModel)]="filterCritieria.fK_Priority_Id[0]" class="widthAuto form-control">
          <option *ngFor="let item of priorities" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-sm-6">
        <label for="id" class="col-sm-3">{{'ORDER.FACTORY'|translate}}</label>
        <select [(ngModel)]="filterCritieria.fK_Factory_Id[0]" class="widthAuto form-control">
          <option *ngFor="let item of factories" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-sm-6 ">
        <label for="id" class="col-sm-3">{{'ORDER.STATUS'|translate}}</label>
        <select [(ngModel)]="filterCritieria.fK_Status_Id[0]" class="form-control widthAuto">
          <option *ngFor="let item of status" value="{{item?.id}}">{{selectedLang=='en'?item.name:item.arabicName}}</option>
        </select>
      </div>
      <div class="form-group col-sm-6 ">
        <label for="id" class="col-sm-3">{{'ORDER.CODE'|translate}}</label>
        <input type="text" [(ngModel)]="filterCritieria.code[0]" class="form-control widthAuto" />
      </div>
      <div class="form-group col-sm-6 ">
        <label for="Category" class="col-sm-3">{{'ORDER.FIRST_DATE'|translate}}:</label>


        <p-calendar showTime="true" class="st" [readonlyInput]="false" placeholder="From" name="startDateF" dateFormat="dd/mm/yy"
                    [(ngModel)]="filterCritieria.startDate[0]"
                    [showIcon]="true"></p-calendar>

        <p-calendar showTime="true" [readonlyInput]="false" placeholder="To" name="startDateS" dateFormat="dd/mm/yy"
                    [(ngModel)]="filterCritieria.startDate[1]"
                    [showIcon]="true"></p-calendar>

      </div>


      <div class="form-group col-sm-12">
        <label for="id" class="col-sm-2">{{'SHARED.AMOUNT'|translate}}</label>
        <input type="text" [(ngModel)]="filterCritieria.amount[0]" class="form-control widthAuto col-sm-4"
               placeholder="From" />
        <input type="text" [(ngModel)]="filterCritieria.amount[1]" class="form-control widthAuto col-sm-4"
               placeholder="To" />
      </div>
      <div class="form-group col-sm-12">
        <label for="id" class="col-sm-2">{{'ORDER.PENDING_AMOUNT'|translate}}</label>
        <input type="text" [(ngModel)]="filterCritieria.pendingAmount[0]" placeholder="From"
               class="form-control widthAuto col-sm-4" />
        <input type="text" [(ngModel)]="filterCritieria.pendingAmount[1]" placeholder="To"
               class="form-control widthAuto col-sm-4" />
      </div>
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary col-sm-offset-8" (click)="applyFilter()">
          {{'SHARED.APPLY'|translate}}
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button type="button" class="btn btn-danger" (click)="resetFilter()">
          {{'SHARED.RESET'|translate}}
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </div>
    </div>
  </div>



  <!--<div *ngIf="data && data.length > 0">

    <div>
      <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>

    </div>
    <table class="table" style="background-color:white;color:black">
      <thead class="thead-inverse">
        <tr>
          <th>{{'ORDER.FACTORY'|translate}}</th>
          <th>{{'ORDER.STATUS'|translate}}</th>
          <th>{{'ORDER.PRIORITY'|translate}}</th>
          <th>{{'ORDER.FIRST_DATE'|translate}}</th>
          <th>{{'SHARED.AMOUNT'|translate}}</th>
          <th>{{'ORDER.CODE'|translate}}</th>
          <th>{{'ORDER.PENDING_AMOUNT'|translate}}</th>
          <th>{{'ORDER.DIVIDE'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{item.factoryName}}</td>
          <td>{{item['status']}}</td>
          <td>{{item['priority']}}</td>
          <td>{{item['createdDate']}}</td>
          <td>{{item['amount']}}</td>
          <td>{{item['code']}}</td>
          <td>{{item['pendingAmount']}}</td>
          <td>
            <input disabled type="checkbox" [(ngModel)]="item['hasSuborders']" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary col-sm-offset-8" (click)="pageChanged(currentPage - 1)"
              [disabled]="currentPage == 0">
        Previous
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      Page : {{currentPage +1}}
      <button type="button" class="btn btn-primary" (click)="pageChanged(currentPage + 1)"
              [disabled]="currentPage == lastPage">
        Next
        <span class="glyphicon glyphicon-edit"></span>
      </button>
    </div>
  </div>

  <div class="cs-loader">
    <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
  </div>-->
<div *ngIf="data && data.length > 0">

  <div>
    <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>

  </div>


  <ngx-datatable class="material expandable" [rows]="data" [columnMode]="'force'" [columns]="[]"
                 [headerHeight]="50"
                 [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5">


    <ngx-datatable-column [width]='120' prop="factoryName" name="{{'ORDER.FACTORY' | translate}}"></ngx-datatable-column>







    <ngx-datatable-column *ngIf="selectedLang=='en'" name="{{'ORDER.STATUS' | translate}}" prop="engStatus">
      <ng-template let-value="value" ngx-datatable-cell-template let-row="row">

        {{value}}

      </ng-template>
    </ngx-datatable-column>



    <ngx-datatable-column *ngIf="selectedLang=='ar'" name="{{'ORDER.STATUS' | translate}}" prop="arStatus">
      <ng-template let-value="value" ngx-datatable-cell-template let-row="row">

        {{value}}

      </ng-template>
    </ngx-datatable-column>



    <ngx-datatable-column [width]='120' prop="priority" name="{{'ORDER.PRIORITY' | translate}}"></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="startDate"
                          name="{{'ORDER.FIRST_DATE' | translate}}"></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="amount"
                          name="{{'SHARED.AMOUNT' | translate}}"></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="code"
                          name="{{'ORDER.CODE' | translate}}"></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="pendingAmount"
                          name="{{'ORDER.PENDING_AMOUNT' | translate}}"></ngx-datatable-column>


  </ngx-datatable>
</div>
