.sebm-google-map-container {
    height: 500px;
  }
  strong{
    color: black;
  }

  .widthAuto{
    width:150px !important;
    margin-right: 15px;
  }
 .table select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    border: none;
    /* needed for Firefox: */
    overflow:hidden;
    width: 120%;
}
.cs-loader {
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0px;
  z-index: 1052;
}
.loading-logo {
  margin: auto;
  display: block;
  text-align: center;
  width: 200px;
}

.st{
  margin-right: 38px !important;
}