<!--<div class="modal fade in confirm-popup WorkOrderpopUp">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<div class="cs-loader">
  <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
</div>

<form #orderConfirmationForm="ngForm" >

  <div class="modal-header">
    <!--<h4 class="modal-title">{{'ORDER_CONFIRMATIONS.ORDER_CONFIRMATIONS_MODAL.RECOMMENDATION_DATE' | translate}}</h4>-->
    <h4 *ngIf="!isCallCenter">
      {{'ORDER.REASSIGN'| translate}}:
      <span class="titleSmall">{{orderConfirmation.orderNumber}}</span> to another factory
    </h4>
  </div>

  <div class="form-group halfInput col-md-12 col-xs-12" *ngIf="showSelectedDate && !isMovement">
    <div class="alert alert-info">
      <strong>Info!</strong>{{selectedDate}}
    </div>
  </div>


  <div class="modal-body">

    <div class="panel panel-default" *ngIf="isMovement">
      <div class="panel-body">
        <div class="form-group halfInput">
          <label class="dec">
            {{'ORDER_CONFIRMATIONS.DeclineOrder' | translate}}:
          </label>

            <p-inputSwitch  (onChange)="handleChange($event)" name="decline" class="input-switch" onLabel="YES" offLabel="NO" [(ngModel)]="orderConfirmation.isDeclined"></p-inputSwitch>

        </div>
      </div>
    </div>

    <div  [hidden]='showAllConfirmationData'>

      <div class="panel panel-default" *ngIf="!isCallCenter">
        <div class="panel-body">
          <div class="form-group halfInput">

            <label for="priority">{{'ORDER.FACTORY' | translate}}: </label>: <span style="color:brown">*</span>
            <select class="form-control" [(ngModel)]="orderConfirmation.factoryId" name="assignedFactory">
              <option *ngFor="let t of Factories" [value]="t.id">{{t.name}}</option>
            </select>
          </div>
        </div>
      </div>


      <div class="panel panel-default" *ngIf="isMovement">
        <div class="panel-body">
          <div class="form-group halfInput">
            <label class="display">Confirmation Type :</label>: <span style="color:brown">*</span>
            <label class="radio-inline">
              <input type="radio" (ngModelChange)='isDirty=true' id="rbConfirm" required
                     (change)="orderConfirmation.selectedDate =1" value="1" name="rbConfirm"
                     [checked]="isFirstDate()" />First Date
            </label>
            <label class="radio-inline">
              <input type="radio" (ngModelChange)='isDirty=true' (change)="orderConfirmation.selectedDate =2"
                     [checked]="isAltDate()" id="rbConfirm" value="2" name="rbConfirm" />Alt Date
            </label>
          </div>
        </div>
      </div>



      <div class="form-group halfInput">
        <label for="dates">{{'ORDER.FIRST_DATE' | translate}} : </label>
        <p-calendar showTime="true" class="form-control" [readonlyInput]="false" name="startDate" dateFormat="dd/mm/yy"
                    [(ngModel)]="orderConfirmation.orderDate" [disabled]="true" [showIcon]="true"></p-calendar>
      </div>

      <div class="form-group halfInput">
        <label for="dates" style="display: block">{{'ORDER.ALT_DATE' | translate}} : </label>


        <p-calendar showTime="true" [readonlyInput]="false" class="form-control" name="endDate" dateFormat="dd/mm/yy"
                    [(ngModel)]="orderConfirmation.orderAlternativeDateView " [disabled]="!isResecdual" [showIcon]="true">
        </p-calendar>

      </div>

      <i *ngIf="orderCount" style="color:red;">
        NOTE: There are {{orderCount}} orders in this day {{
orderConfirmation.orderAlternativeDateView
      | date
        }}
      </i>

      <div class="form-group">
        <label>{{'ORDER.STATUS' | translate}}</label>: <span style="color:brown">*</span>
        <select (change)="checkStatusValue(orderConfirmation)" class="form-control" name="fk_ConfirmationStatus_Id"
                [(ngModel)]="orderConfirmation.fk_ConfirmationStatus_Id">
          <option *ngIf="!orderConfirmation.fk_ConfirmationStatus_Id" [value]="undefined">-- {{'ORDER.selectStatus' | translate}} --</option>
          <option *ngFor="let status of confirmationStatus" [value]="status.id">{{selectedLang=='en'?status.name:status.arabicName}}</option>
        </select>
        <em *ngIf="orderConfirmationForm.submitted && orderConfirmationForm?.controls?.fk_ConfirmationStatus_Id?.invalid">
          This
          Field is required
        </em>
      </div>
    </div>

    <div *ngIf="isMovement" class="form-group">
      <label>{{'ORDER_CONFIRMATIONS.ORDER_CONFIRMATIONS_MODAL.REASON' | translate}}</label> 
      <textarea class="form-control" [(ngModel)]="orderConfirmation.reason"
                [required]="orderConfirmation.orderAlternativeDate" placeholder="Enter A Reason ..." name="reason"></textarea>
    </div>

    <div *ngIf="isCallCenter" class="form-group">
      <label>{{'ORDER_CONFIRMATIONS.ORDER_CONFIRMATIONS_MODAL.REASON' | translate}}</label>
      <textarea class="form-control" [(ngModel)]="orderConfirmation.reason"
                [required]="orderConfirmation.orderAlternativeDate" disabled name="reason"></textarea>
    </div>

    <div *ngIf="isMovement" class="form-group">
      <label>{{'SHARED.REMARK' | translate}}</label>
      <textarea class="form-control" [(ngModel)]="orderConfirmation.description" disabled
                name="REMARK"></textarea>
    </div>
    <div *ngIf="isCallCenter" class="form-group">
      <label>{{'SHARED.REMARK' | translate}}</label>
      <textarea class="form-control" [(ngModel)]="orderConfirmation.description"
                name="REMARK"></textarea>
    </div>

    <em *ngIf="orderConfirmationForm.submitted && orderConfirmationForm?.controls?.reason?.invalid">
      This Field is
      required
    </em>
  </div>


  <div class="modal-footer">
    <div class="row">

      <div class=" col-md-3">
        <button (click)="addEquipment()" class="btn btn-primary confirmation-dialog-btn">
          {{ 'ORDER.ADD_EQUIPMENT'| translate  }}
        </button>
      </div>

      <div class=" col-md-3">
        <button type="submit" (click)="saveConfirmationDate()" class="btn btn-primary confirmation-dialog-btn">
          {{'SHARED.CONFIRM' | translate}}
        </button>
      </div>


      <div class="col-md-2">
        <button class="btn btn-default confirmation-dialog-btn" (click)="closeModal()">
          {{'SHARED.CANCEL' | translate}}
        </button>
      </div>
    </div>
  </div>
</form>



<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="AddEquipment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{'ORDER.ADD_EQUIPMENT_TO' | translate}}
          <span class="titleSmall">{{currentOrder.code}}</span>
        </h4>
      </div>
      <div class="modal-body graymodal">
        <div class="row">
          <div class="col-xs-6">
            <span class="titleEquipment">{{'ORDER.AVAILABLE_EQUIPMENTS' | translate}}</span>
          </div>
          <div class="col-xs-6">
            <span class="titleEquipment">
              <span class="glyphicon glyphicon-ok-circle"></span> {{'ORDER.ASSIGNED_EQUIPMENTS' | translate}}
            </span>
          </div>

          <div class='col-xs-6 dragulaContainer' [dragula]='"another-bag"' [dragulaModel]='AllEqui' *ngIf="AllEqui">
            <div class="items" *ngFor='let all of AllEqui'>
              {{all.name}}
            </div>
          </div>

          <div class='col-xs-6 dragulaContainer ourEquipment' [dragula]='"another-bag"' [dragulaModel]='itemEqui'
               *ngIf="itemEqui">
            <div class="items" *ngFor='let item of itemEqui'>
              {{item.name}}
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer confirm-footer">

        <button type="button" class="btn btn-primary" (click)="closeModal1()">{{'SHARED.CANCEL' | translate}}</button>
      </div>

    </div>
  </div>
</div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
