<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8"></script>

<div class="col-xs-12 EditPanel" *ngIf="AreaInfo">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" [disabled]='selectedFactory.length!=0'
              (click)="openAddWashingAreaPanel()"> {{'SHARED.ADD_NEW' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedFactory.length!=1'
              (click)="editWashingArea=true"> {{'SHARED.EDIT' | translate}}
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <!--    <button type="button" class="btn btn-danger" [disabled]='selectedFactory.length!=1' (click)="DeleteAllFactory()"> Delete
            <span class="glyphicon glyphicon-remove"></span>
          </button>-->
      <!-- <button type="button" class="btn btn-danger" [disabled]='selectedFactory.length < 2' (click)="DeleteAllFactory()"> Delete All <span class="glyphicon glyphicon-remove"></span> </button> -->
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <!-- <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
           #search [formControl]="searchControl">-->
      </div>
      <ngx-datatable class="material expandable" [rows]="AreaInfo" [columnMode]="'force'" [columns]="FactoryColumns"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5" [selected]="selectedFactory"
                     [selectionType]="'checkbox'">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true"
                              [checkboxable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="id" name="{{'SHARED.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="fk_Factory_Id"
                              name="{{'SHARED.NAME' | translate}}"></ngx-datatable-column>
        <!--<ngx-datatable-column [width]='120' prop="fK_Location_Id" name="Location Id"></ngx-datatable-column>-->
      </ngx-datatable>
    </div>

  </div>
</div>
<div class="cs-loader">
    <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo"/>
</div>

<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editWashingArea || AddWashingArea"></div>

<div class="modal fade in confirm-popup" *ngIf="editWashingArea">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.EDIT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="id">{{'SHARED.ID' | translate}}</label>
                <input type="text" [(ngModel)]="selectedFactory[0].id" class="form-control" id="id" name="id"
                       #id="ngModel" [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label style="width:100% !important">{{'SHARED.EDIT' | translate}} * </label>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)"
                         [mapTypeControl]="true">
                  <agm-polygon [editable]="false" [paths]="selectedFactory[0].polygon">
                  </agm-polygon>
                  <!--<agm-polygon [paths]="paths" [editable]="true" [polyDraggable]="true" (polyDragEnd)="onpolyDragEnd($event)" (polyMouseUp)="onpolyMouseUp($event)"></agm-polygon>-->
                </agm-map>
              </div>
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit(form)"> {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddWashingArea">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.ADD_NEW' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12">
              <!--  <div class="form-group halfInput">
                  <label for="Factoryn">Factory Name: </label>
                  <input type="text" [(ngModel)]="newFactory.name" class="form-control" id="Factoryn" name="Factoryn" #Factoryn="ngModel" (ngModelChange)='isDirty=true'
                    [ngClass]="{ 'has-error': firstSubmitTryadd && Factoryn.invalid }" required>
                  <small *ngIf="Factoryn.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                    Factory is required.
                  </small>
                </div>-->
              <div class="form-group halfInput">
                <label for="Name" style="width:100% !important">{{'SHARED.ADD_NEW' | translate}} * </label>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)"
                         [mapTypeControl]="true">
                  <agm-polyline [editable]="true">
                    <agm-polyline-point *ngFor="let data of paths"
                                        [latitude]="data.lat"
                                        [longitude]="data.lng">
                    </agm-polyline-point>
                  </agm-polyline>
                  <!--<agm-polygon [paths]="paths" [editable]="true" [polyDraggable]="true" (polyDragEnd)="onpolyDragEnd($event)" (polyMouseUp)="onpolyMouseUp($event)"></agm-polygon>-->
                </agm-map>

                <!--
                                <div id="gmap" style="width:500px;height:380px;"></div>
                -->

              </div>
            </div>


          </form>
        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAdd(form)"> {{'SHARED.CONFIRM' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>
      </div>
    </div>
  </div>
</div>


