<div class="operations-container">
  <app-search [back]="true" [placeholder]="'Order Code'" (viewAll)="getAllOrders()"
              (searchValue)="search($event)"></app-search>

  <ngx-datatable class="material expandable" [rows]="orders" [columnMode]="'force'" [columns]="[]"
                 [headerHeight]="50"
                 [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
  >
    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                          [resizeable]="false" [headerCheckboxable]="false"
                          [checkboxable]="false">
    </ngx-datatable-column>

    <ngx-datatable-column [width]='60' prop="code" name="{{'ORDER.CODE' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='120' prop="startDateView"
                          name="{{'ORDER.FIRST_DATE' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='120' prop="endDateView"
                          name="{{'ORDER.ALT_DATE' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='90' prop="amount" name="{{'SHARED.AMOUNT' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='90' prop="pendingAmount"
                          name="{{'ORDER.PENDING_AMOUNT' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='70' name="{{'SHARED.DETAILS' | translate}}">
      <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

        <button class="btn btn-primary" [routerLink]="[row.id]">{{'SHARED.SHOW_JOBS' | translate}}</button>

      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
