.logoIcon {
  height: 55px;
  width: auto;
  padding: 0px 12px;
}

.loginBtn, .loginBtn:active {
  width: 100px;
  float: left;
  margin: 10px;
  background-color: rgba(18, 120, 255, 0.91);
  color: white;
  font-weight: bold;
  outline: none;
}

.lang-dropdown {
  text-transform: capitalize;
  margin-top: 12px;
}

li.ListItem {
  padding: 5px;
}

li.ListItem:hover {
  background: #e2e2e2;

}

li.ListItem a {
  color: rgba(18, 120, 255, 0.91);
  font-weight: bold;

}

.RightPart {
  float: right;
  margin: 10px;
  margin-right: 40px;
}

.NewUser {
  padding: 16px 10px;
  float: right;
}

.navbar {
  /* margin-bottom: 0px !important; */
}

.AfterLogin {
  display: inline-block;
  float: left;
  margin: 0px 23px;
  text-align: right;
  color: rgba(18, 120, 255, 0.91);
}

.AfterLogin .nameLogged {
  color: #6a5a5a;
  font-size: 14px;
}

.LogOut {
  cursor: pointer;
}
