<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="logoIcon" src="./assets/Images/logo.png"/>
    </div>
    <ul class="nav navbar-nav">
      <li class="ListItem"><a href="./">{{'HEADER.HOME'| translate}}</a></li>
      <li class="ListItem"><a href="http://www.kuwaitcement.com/about-us/corporate-profile/">{{"HEADER.ABOUT_US"|
        translate}}</a></li>
      <li>
        <select class="form-control lang-dropdown" [(ngModel)]="selectedLang" (change)="chooseLang(selectedLang)">
          <option *ngFor="let lang of languages" [value]="lang.symbol">{{lang.name}}</option>
        </select>
      </li>
    </ul>

    <!--<pre>{{CurentUser| translate}}</pre>-->

    <div class="RightPart" *ngIf="CurentUser">
      <img class="Avatar" src="./assets/Images/user.png"/>
      <div class="AfterLogin">
        <span class="nameLogged">{{'HEADER.WELCOME' | translate}} , {{CurentUser.userName}} </span>
        <br/>
        <span class="LogOut"><u (click)="LogoutAll()">{{'HEADER.LOG_OUT'| translate}}</u></span>

      </div>

    </div>

  </div>
</nav>
