.searchPhonepanel {
  /* background-color: rgba(77, 76, 76, 0.64); */
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc9c9;
}

.searchPhonepanel input {
  width: 85%;
  float: left;
  margin: 9px 0px 0px;
}
.mar {
 margin: 7px !important
}
.searchPhonepanel .searchIcon {
  float: right;
}

.AddUsericon {
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url(./../../../assets/Images/AddUser.png);
  transform: scale(0.7);
}

.all-customers {
  width: 85%;
  min-height: 59px;
  border: solid 1px gray;
  border-radius: 5px;
  max-height: 112px;
  overflow-y: scroll;
}

.customElemet {
  background-color: white;
  color: black;
  padding: 6px;
  cursor: pointer;
  border: solid 1px darkgray;
  border-radius: 5px;
  margin: 3px;
}

.customElemet:hover {
  background-color: #E2E2E2;

}

.customElemet .name {
  display: block;
  font-size: 14px;
}

.customElemet .phone {
  display: block;
  font-size: 12px;
}

:host /deep/ .all-customers::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

:host /deep/ .all-customers::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

:host /deep/ .all-customers::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #E0E0E0;
}

.latest-customers{
  margin-top: 50px;
  margin-bottom: 100px;
}
