<div class="row searchPhonepanel mt-20">

  <div class="col-md-6 col-md-offset-5 col-xs-12">
    <label>Customer Search</label>
    <input type="text" class="form-control" (keyup)="checktoSearch($event)" [(ngModel)]="SearchInput"
           [placeholder]="'CUSTOMER_SEARCH.SEARCH_BAR' | translate" />
    <i class="AddUsericon searchIcon clickable" title="Add New" (click)="AddNewCustomer()" *ngIf="isSales"></i>
  </div>
  <img *ngIf="loading" src={{loadingImage}} />


  <div class="col-md-4 col-md-offset-5 col-xs-12" *ngIf="UserExistance== 'true' && allSearchCustomers.length > 0 ">
    <div class="all-customers">
      <div class="customElemet" (click)="MoreDetail(customer.id)" *ngFor="let customer of allSearchCustomers">
        <span class="name">Name: {{customer.name}}</span>
        <!--<span class="phone">Civil Id: {{customer.civilId}}</span>-->
      </div>
    </div>
  </div>
</div>

<div class="row searchPhonepanel" *ngIf="UserExistance== 'false'">
  <div class="col-xs-12">
    <h4 class="center">
      No Data Found<h4 *ngIf="isSales">, To add New Customer Click</h4>
      <span (click)="AddNewCustomer()" class="clickable" *ngIf="isSales"><u>here</u></span>
    </h4>
  </div>
</div>

<div *ngIf="showLatestCustomer" class="row searchPhonepanel mt-20">
  <div class="row">

    <div class="col-xs-12">
      <h4>Customers :</h4>
    </div>
    <div class="col-xs-12">
      <button (click)="exportCsv()" class="btn btn-dark mar"> EXPORT </button>
      <button type="button" *ngIf="showRemoveButton" class="btn btn-danger"
              (click)="deleteCustomer()">
        {{'SHARED.REMOVE' | translate}} <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ngx-datatable #myTable [selected]="selectedCustomer" class="material expandable" [rows]="allCustomers" [columnMode]="'force'"
                       [offset]="page.pageNumber" [limit]="page.pageSize" [externalPaging]="true"
                       (page)='setPage($event)' [count]="page.totalElements"
                       [headerHeight]="50" [selectionType]="'selected'" [footerHeight]="50" [rowHeight]="50" [scrollbarH]="true">

          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="name" name="{{'CUSTOMER.NAME' | translate}}"></ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="phone" name="{{'ADD_NEW_CUSTOMER.PHONE' | translate}}">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="kcrM_Customer_Id" name="{{'CUSTOMER.KCRMID' | translate}}">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="customerCategory.name" name="{{'CUSTOMER.CATEGORY' | translate}}">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="customerType.name" name="{{'CUSTOMER.TYPE' | translate}}">
          </ngx-datatable-column>
          <ngx-datatable-column [width]='120' prop="messenger" name="{{'CUSTOMER.Messenger' | translate}}">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="remarks" name="{{'SHARED.REMARK' | translate}}">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='200' prop="Customer Details" name="{{'CUSTOMER.GO_TO_DETAILS' | translate}}">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <button class="btn btn-primary" (click)="viewCustomerDetails(row)">
                {{
'CUSTOMER.GO_TO_DETAILS' |
                translate
                }}
              </button>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>
  </div>
</div>


