<div class="col-xs-12 EditPanel" *ngIf="FactoryInfo">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" [disabled]='selectedFactory.length!=0'
              (click)="openAddFactoryPanel()"> {{'SHARED.ADD_NEW' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedFactory.length!=1' (click)="editFactory=true">
        {{'SHARED.EDIT' | translate}}
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button type="button" class="btn btn-danger" [disabled]='selectedFactory.length!=1' (click)="DeleteAllFactory()">
        {{'SHARED.REMOVE' | translate}}
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <!-- <button type="button" class="btn btn-danger" [disabled]='selectedFactory.length < 2' (click)="DeleteAllFactory()"> Delete All <span class="glyphicon glyphicon-remove"></span> </button> -->
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
               class="form-control"
               #search [formControl]="searchControl">
      </div>
      <ngx-datatable class="material expandable" [rows]="FactoryInfo" [columnMode]="'force'" [columns]="FactoryColumns"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5" [selected]="selectedFactory"
                     [selectionType]="'checkbox'">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true"
                              [checkboxable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="id" name="{{'SHARED.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="name" name="{{'ORDER.FACTORY' | translate}}"></ngx-datatable-column>
        <!--<ngx-datatable-column [width]='120' prop="fK_Location_Id" name="Location Id"></ngx-datatable-column>-->
      </ngx-datatable>
    </div>

  </div>
</div>

<div class="cs-loader">
    <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo"/>
</div>

<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editFactory || AddFactory"></div>

<div class="modal fade in confirm-popup" *ngIf="editFactory">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.EDIT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="id">{{'SHARED.ID' | translate}}</label>
                <input type="text" [(ngModel)]="selectedFactory[0].id" class="form-control" id="id" name="id"
                       #id="ngModel" [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.NAME' | translate}}: * </label>
                <input type="text" [(ngModel)]="selectedFactory[0].name" class="form-control" id="Name" name="Name"
                       #Name="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && Name.invalid }" required>

                <small *ngIf="Name.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  name is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label style="width:100% !important" for="Name">{{'SHARED.PICK_FACTORY_LOCATION' | translate}}* </label>
                <agm-map [latitude]="selectedFactory[0].latitude" [longitude]="selectedFactory[0].longitude"
                         [zoom]="zoom" [disableDefaultUI]="false"
                         [zoomControl]="false">
                  <agm-marker (markerClick)="clickedMarker(m.label, i)" [latitude]="selectedFactory[0].latitude"
                              [longitude]="selectedFactory[0].longitude"
                              [label]="'A'" [markerDraggable]="true"
                              (dragEnd)="markerDragEndForExistingFactory(m, $event)">
                  </agm-marker>
                </agm-map>
              </div>
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit(form)"> {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddFactory">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.ADD_NEW' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="Factoryn">{{'SHARED.NAME' | translate}}: </label>
                <input type="text" [(ngModel)]="newFactory.name" class="form-control" id="Factoryn" name="Factoryn"
                       #Factoryn="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && Factoryn.invalid }" required>
                <small *ngIf="Factoryn.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  Factory is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Name" style="width:100% !important">{{'SHARED.PICK_FACTORY_LOCATION' | translate}}
                  * </label>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                         [zoomControl]="true" (mapClick)="mapClicked($event)">
                  <agm-marker (markerClick)="clickedMarker(m.label, i)" [latitude]="lat" [longitude]="lng" [label]="'A'"
                              [markerDraggable]="true"
                              (dragEnd)="markerDragEndForNewFactory(m, $event)">
                  </agm-marker>
                </agm-map>
              </div>
            </div>

          </form>
        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAdd(form)"> {{'SHARED.CONFIRM' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>
      </div>
    </div>
  </div>
</div>
