 .sebm-google-map-container {
       height: 300px;
     }
.pac-container {
      background-color: #FFF;
      z-index: 20;
      position: fixed;
      display: inline-block;
  }
  
  .modal-backdrop {
    z-index: 10 !important;        
}​
  .modal{
      z-index: 99999 !important;   
  }
  .cs-loader {
    width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 350px;
    z-index: 1052;
  }
  .loading-logo {
    margin: auto;
    display: block;
    text-align: center;
    width: 200px;
  }