

<div class="order-confirmation">
  <div>
    <!--<div class="col-md">-->
    <app-customer-search [data]="showLatestCustomer"></app-customer-search>
    <!--</div>-->
  </div>

  <div class="col-xs-12 mt-10 filter blackdiv">

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="priority">{{'ORDER.PRIORITY'|translate}}: </label>
      <select [(ngModel)]="search.selectedPriority" class="form-control">
        <option *ngFor="let t of Periorities" [value]="t.id">{{t.name}}</option>
      </select>
    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category">{{'ORDER.STATUS'|translate}}: </label>
      <select class="form-control" [(ngModel)]="search.selectedStatus">
        <option *ngFor="let t of allStatus" [value]="t.id">{{selectedLang=='en'?t.name:t.arabicName}}</option>
      </select>
    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'SHARED.SEARCH'|translate}}: </label>
      <input type="text" placeholder="Search by work order code" [(ngModel)]="search.searchField" class="form-control"
             id="code">

    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category">{{'ORDER.FIRST_DATE'|translate}}: </label>

      <p-calendar class="st" showTime="true" [readonlyInput]="false" placeholder="From" name="startDateF" dateFormat="dd/mm/yy"
                  [(ngModel)]="search.startDateF"
                  [showIcon]="true"></p-calendar>
      <p-calendar class="st" [readonlyInput]="false" showTime="true" placeholder="To" name="startDateS" dateFormat="dd/mm/yy"
                  [(ngModel)]="search.startDateS"
                  [showIcon]="true"></p-calendar>

    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'ORDER.ALT_DATE'|translate}}: </label>


      <p-calendar class="st" [readonlyInput]="false" name="startDate" dateFormat="dd/mm/yy"
                  [(ngModel)]="search.endDate"
                  [showIcon]="true"></p-calendar>
    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'CUSTOMER.NAME'|translate}}: </label>
      <input type="text" placeholder="Search by customer" [(ngModel)]="search.customerName" class="form-control" id="custName">
    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'LOCATION.TITLE'|translate}}: </label>
      <input type="text" placeholder="Search by Location Title" [(ngModel)]="search.locationTitle" class="form-control" id="locTitle">
    </div>
    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'CUSTOMER.KCRMID'|translate}}: </label>
      <input type="text" placeholder="Search by Kcrm " [(ngModel)]="search.kcrmId" class="form-control" id="kcrmId">
    </div>
    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'ADD_NEW_CUSTOMER.PHONE'|translate}}: </label>
      <input type="text" placeholder="Search by Customer phone " [(ngModel)]="search.phoneCus" class="form-control" id="phone">
    </div>
    <button type="button" class="btn btn-default filterButton" (click)="ResetAllSearch()">
      {{'SHARED.SHOW_ALL'|translate}}
    </button>
    <button type="button" class="btn btn-primary filterButton" (click)="filterAll({ offset: 0 })">{{'SHARED.FILTER'| translate}}</button>
  </div>

  <div class="row searchPhonepanel" style="margin-top:20px">
    <div class="row">
      <div class="col-xs-4">
        <h4>{{'ORDER_CONFIRMATIONS.TITLE' | translate}} :</h4>
      </div>
      <div class="col-xs-12">
        <button (click)="exportCsv()" class="btn btn-dark mar"> Export Approved Orders </button>
      </div>
      <!-- <div class="col-xs-6" style="margin:1% 0;">
        <label>Order Search</label>
        <input type="text" #myInput class="form-control" [(ngModel)]="query" (keyup)='updateFilter($event)' placeholder="filter by order code">
      </div> -->
    </div>

    <div class="cs-loader">
      <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
    </div>



    <div class="container">
      <div>
        <div class="col-xs-12">
          <ngx-datatable #myTable class="material expandable" [rows]="pendingOrders" [offset]="page.pageNumber" [columnMode]="'force'" [externalPaging]="true"
                         (page)='setPage($event)' [count]="page.totalElements"
                         [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarH]="true" style="margin-bottom:20px"
                         [limit]="5">

            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
                                  [headerCheckboxable]="false"
                                  [checkboxable]="false">
            </ngx-datatable-column>



            <ngx-datatable-column [width]='160' prop="customer.name" name="{{'CUSTOMER.NAME' | translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='120' prop="customer.phone" name="{{'ADD_NEW_CUSTOMER.PHONE' | translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='160' prop="customer.kcrM_Customer_Id" name="{{'CUSTOMER.KCRMID' | translate}}"></ngx-datatable-column>



            <ngx-datatable-column [width]='90' prop="amount" name="{{'SHARED.AMOUNT' | translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='120' prop="priority.name" name="{{'ORDER.PRIORITY' | translate}}"></ngx-datatable-column>



            <ngx-datatable-column name="{{'ORDER.STATUS' | translate}}" prop="status">
              <ng-template let-value="value" ngx-datatable-cell-template let-row="row">

                {{selectedLang=='en' ? value.name: value.arabicName}}

              </ng-template>
            </ngx-datatable-column>



            <!--<ngx-datatable-column name="{{'ORDER.STATUS' | translate}}" prop="confirmationStatus">
              <ng-template let-value="value" ngx-datatable-cell-template let-row="row">

                {{selectedLang=='en' ? value.name: value.arabicName}}

              </ng-template>
            </ngx-datatable-column>-->



            <ngx-datatable-column [width]='100' prop="location.title" name="{{'LOCATION.NAME' | translate}}"></ngx-datatable-column>



            <ngx-datatable-column [width]='200' prop="startDate" name="{{'ORDER.FIRST_DATE' | translate}}">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{value | date:'medium'}}
              </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column [width]='200' prop="endDate" name="{{'ORDER.ALT_DATE' | translate}}">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{value | date:'medium' }}
              </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column [width]='200' prop="Show Details Confirmation" name="{{'ORDER.SHOW_DETAILS' | translate}}">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <button class="btn btn-primary" (click)="ShowOrderDetails(row)">
                  {{'ORDER.SHOW_DETAILS' | translate}}
                </button>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]='120' prop="History" name="{{'ORDER_CONFIRMATIONS.HISTORY' | translate}}">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <button class="btn btn-primary" (click)="viewConfirmationDetails(row,true)">
                  {{'ORDER_CONFIRMATIONS.HISTORY' | translate}}
                </button>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]='120' prop="History" name="{{'ORDER.EDIT_ORDER' | translate}}">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <button class="btn btn-primary" (click)="openEditModel(row)">
                  {{'SHARED.EDIT' | translate}}
                </button>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]='200' prop="Add Confirmation" name="{{'ORDER_CONFIRMATIONS.ADD_CONFIRMATION' | translate}}">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <button class="btn btn-primary" (click)="viewConfirmationDetails(row,false)">
                  {{'ORDER_CONFIRMATIONS.ORDER_CONFIRMATIONS_MODAL.ADD_NEW_CONFIRMATION' | translate}}
                </button>
              </ng-template>
            </ngx-datatable-column>




          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="modal-backdrop fade in confirm-popup-fade"
     *ngIf="showWorkOrder || editWorkOrder">
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="showWorkOrder">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'ORDER.WORK_ORDER_DETAILS' | translate}}</h4>
      </div>
      <div class="form-group halfInput col-md-12 col-xs-12" *ngIf="showSelectedDate && !isMovement">
        <div class="alert alert-info">
          <strong>Info!</strong>{{selectedDate}}
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12" *ngIf="dispatcherRole">

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PARENT_WORK_ORDER_CODE' | translate}}: </label>
              <input [(ngModel)]="currentOrder.code" type="text" class="form-control" [disabled]="true">
            </div>

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PARENT_WORK_ORDER_AMOUNT' | translate}}: </label>
              <input [(ngModel)]="currentOrder.parentWorkOrder.amount" type="text" class="form-control"
                     [disabled]="true">
            </div>

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PARENT_WORK_ORDER_PENDING_AMOUNT' | translate}}: </label>
              <input [(ngModel)]="currentOrder.parentWorkOrder.pendingAmount" type="text" class="form-control"
                     [disabled]="true">
            </div>
          </div>

          <div *ngIf="currentOrder">
            <div class="col-md-6 col-xs-12">

              <div class="form-group halfInput">
                <label for="Title">{{'ORDER.CODE' | translate}}: </label>
                <input [(ngModel)]="currentOrder.code" type="text" class="form-control" [disabled]="true">
              </div>
              <div class="form-group halfInput">
                <label for="Title">{{'ORDER.PERCENT' | translate}}: </label>
                <input [(ngModel)]="currentOrder.percentage" type="text" class="form-control" [disabled]="true">
              </div>
              <div class="form-group halfInput">
                <label for="Title">{{'ORDER.PENDING_AMOUNT' | translate}}: </label>
                <input [(ngModel)]="currentOrder.pendingAmount" type="text" class="form-control" [disabled]="true">
              </div>
              <div class="form-group halfInput">
                <label for="Title">{{'SHARED.AMOUNT' | translate}}: </label>
                <input [(ngModel)]="currentOrder.amount" type="text" class="form-control" [disabled]="true">
              </div>
              <div class="form-group halfInput">
                <label for="priority">{{'ORDER.FACTORY' | translate}}: </label>
                <select class="form-control" [(ngModel)]="currentOrder.fK_Factory_Id" [disabled]="true">
                  <option *ngFor="let t of Factories" [value]="t.id">{{t.name}}</option>
                </select>
              </div>
              <div class="form-group halfInput">
                <label for="Title">{{'CONTRACT.NUMBER' | translate}}: </label>
                <input [(ngModel)]="currentOrder.contract.contractNumber" type="text" class="form-control"
                       [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label for="pouredElement">{{'ORDER.PouredElement' | translate}}:</label>
                <select class="form-control" [(ngModel)]="currentOrder.fK_ElementToBePoured_Id" name="fK_ElementToBePoured_Id" [disabled]="true">
                  <option *ngFor="let t of allItemsToPoured" [value]="t.id">{{t.name}}</option>
                </select>
              </div>


            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group halfInput">
                <label for="priority">{{'ORDER.PRIORITY' | translate}}: </label>
                <select [(ngModel)]="currentOrder.fK_Priority_Id" class="form-control" [disabled]="true">
                  <option *ngFor="let t of Periorities" [value]="t.id">{{t.name}}</option>
                </select>
              </div>

              <div class="form-group halfInput">
                <label for="Category">{{'ORDER.STATUS' | translate}}: </label>
                <select class="form-control" [(ngModel)]="currentOrder.fK_Status_Id" [disabled]="true">
                  <option *ngFor="let t of allStatus" [value]="t.id">{{selectedLang=='en'?t.name:t.arabicName}}</option>
                </select>
              </div>

              <div class="form-group halfInput">
                <label style="display:block" for="dates">{{'ORDER.FIRST_DATE' | translate}}: </label>

                <p-calendar showTime="true" [readonlyInput]="true" name="startDate" dateFormat="dd/mm/yy"
                            [(ngModel)]="currentOrder.startDate" required="true" [disabled]="true"
                            [showIcon]="true"></p-calendar>

                <!--<input type="date" [ngModel]="currentOrder.startDate | date:'medium'"
                (ngModelChange)="currentOrder.startDate = $event" class="form-control" name="bday" [disabled]="true">-->
              </div>

              <div class="form-group halfInput">
                <label style="display:block" for="dates">{{'ORDER.ALT_DATE' | translate}}: </label>

                <p-calendar showTime="true" [readonlyInput]="false" name="endDate" dateFormat="dd/mm/yy"
                            [(ngModel)]="currentOrder.endDate" required="true" [disabled]="true"
                            [showIcon]="true"></p-calendar>



              </div>
              <div class="form-group halfInput">
                <label for="LOCATION">{{'LOCATION.LocationTitle' | translate}}: </label>
                <input class="form-control" [(ngModel)]="currentOrder.location.title" [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label for="Title">{{'CUSTOMER.NAME' | translate}}: </label>
                <input [(ngModel)]="currentOrder.customer.name" type="text" class="form-control" name="cusName"
                       [disabled]="true">
              </div>

              <div class="form-group halfInput" *ngIf="currentOrder.items !=null">
                <label for="mixType">{{'CONTRACT.READY_MIX_TYPE' | translate}}: </label>
                <input [(ngModel)]="currentOrder.items.name" type="text" class="form-control" name="cusName"
                       [disabled]="true">
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-primary" (click)="Resetall()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>















<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="orderConfirmationModal"></div>

<div class="modal fade in confirm-popup" *ngIf="orderConfirmationModal">
  <div class="modal-dialog SmallModal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'ORDER_CONFIRMATIONS.ORDER_CONFIRMATIONS_MODAL.TITLE' | translate}} :</h4>
        <button type="button" class="close" (click)="toggleOrderConfirmationModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="row" *ngIf="isHistory">
          <div class="col-xs-12">
            <ngx-datatable #myTable class="material expandable" [rows]="confirmations" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                           [rowHeight]="50" [scrollbarH]="true" [limit]="10">

              <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="false"
                                    [checkboxable]="false">
              </ngx-datatable-column>

              <ngx-datatable-column [width]='120' prop="creatorName" name="{{'ORDER_CONFIRMATIONS.ORDER_CONFIRMATIONS_MODAL.CREATOR_NAME' | translate}}"></ngx-datatable-column>

              <ngx-datatable-column [width]='80' prop="creatorRole" name="{{'ORDER_CONFIRMATIONS.ORDER_CONFIRMATIONS_MODAL.CREATOR_ROLE' | translate}}"></ngx-datatable-column>

              <ngx-datatable-column [width]='160' prop="confirmationStatus.name" name="{{'ORDER.STATUS' | translate}}"></ngx-datatable-column>

              <ngx-datatable-column [width]='100' prop="orderDate" name="{{'ORDER.FIRST_DATE' | translate}}">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  {{value | date:'medium'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [width]='100' prop="orderAlternativeDate" name="{{'ORDER.ALT_DATE' | translate}}">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  {{value | date:'medium'}}
                </ng-template>
              </ngx-datatable-column>


            </ngx-datatable>
          </div>
        </div>

        <div class="row" style="margin-top: 20px" *ngIf="!showAddConfirmation">
          <div class="col-xs-4">
            <button class="btn btn-primary" (click)="toggleAddConfirmation()">
              {{'ORDER_CONFIRMATIONS.ORDER_CONFIRMATIONS_MODAL.ADD_NEW_CONFIRMATION' | translate}}
            </button>
            <button class="btn btn-primary pull-right" (click)="toggleOrderConfirmationModal()">
              {{'SHARED.CANCEL' | translate}}
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <app-order-confirmation-modal [orderConfirmation]="orderConfirmation" (isModalClosed)="toggleAddConfirmation($event)" (pendingOrders)="loadPendingOrders()"
                                          *ngIf="showAddConfirmation"></app-order-confirmation-modal>
          </div>
        </div>
      </div>

      <!--<div class="modal-footer confirm-footer">-->
      <!--<button type="button" class="btn btn-default" (click)="toggleOrderConfirmationModal()">{{'SHARED.CANCEL' |-->
      <!--translate}}-->
      <!--</button>-->
      <!--</div>-->

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="editWorkOrder">
  <div class="modal-dialog SmallModal">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{'ORDER.PENDING_AMOUNT' | translate}}</h3>
        <br />
        <h4 class="modal-title">{{'CONTRACT.ID' | translate}}:{{contractCode}}</h4>

      </div>
      <app-word-order-edit [editWorkOrder]="editWorkOrder" (Reset)="Resetall()" [workOrderObjectToEdit]="workOrderObjectToEdit"></app-word-order-edit>

    </div>
  </div>
</div>
