



<form #editWorkOrderForm="ngForm" *ngIf="editWorkOrder" (ngSubmit)="editWorkOrderForm.valid && SaveEdits()">

  <div class="modal-body paddingBody">
    <div class="row">
      <div class="form-group">
        <label class="col-md-2" for="Category">{{'CONTRACT.OrderCode_Location' | translate}}: <i style="color: red;">*</i></label>
        <select class="form-code col-md-8" name="fK_Contract_Id" [disabled]="!notEditOrderAllowed"
                required [(ngModel)]="selectedWork[0].workOrder.fK_Location_Id">
          <option *ngFor="let t of ListOfLocations" [value]="t.id">{{selectedWork[0].workOrder.code}},{{t.title}}</option>
        </select>
      </div>


    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-xs-12">

        <div class="form-group halfInput">
          <label for="Category">{{'CONTRACT.READY_MIX_TYPE' | translate}}: </label>
          <select name="id" [disabled]="!notEditOrderAllowed"
                  (change)="getAvailableAmount(selectedWork[0].workOrder.items.id)" class="form-control"
                  [(ngModel)]="selectedWork[0].workOrder.items.id">
            <option *ngFor="let t of contractMixTypes" [value]="t.fk_Item_Id">{{t.name}},{{t.description}}</option>
          </select>
        </div>

        <div class="form-group halfInput">
          <label for="Category">{{'ORDER.STATUS' | translate}}: </label>
          <select [disabled]="!notEditOrderAllowed" class="form-control" name="fK_Status_Id"
                  [(ngModel)]="selectedWork[0].workOrder.fK_Status_Id">
            <option *ngFor="let t of allStatus" [value]="t.id">{{t.name}}</option>
          </select>
        </div>

        <div class="form-group halfInput">
          <label for="priority">{{'ORDER.PRIORITY' | translate}}: </label>
          <select name="fK_Priority_Id" [disabled]="true" [(ngModel)]="selectedWork[0].workOrder.fK_Priority_Id"
                  class="form-control">
            <!--<select name="fK_Priority_Id" [disabled]="!notEditOrderAllowed"-->
            <!--[(ngModel)]="selectedWork[0].workOrder.fK_Priority_Id"-->
            <!--class="form-control">-->
            <option *ngFor="let t of Periorities" [value]="t.id">{{t.name}}</option>
          </select>
        </div>
        <div class="form-group halfInput">
          <label for="priority">{{'ORDER.PouredElement' | translate}}: </label>
          <select [(ngModel)]="selectedWork[0].workOrder.fK_ElementToBePoured_Id" name="fK_ElementToBePoured_Id" class="form-control">
            <option *ngFor="let t of allItemsToPoured" [value]="t.id">{{t.name}}</option>
          </select>
        </div>
        <div class="form-group halfInput">
          <label for="Amount">{{'SHARED.AMOUNT' | translate}}:</label>
          <input type="number" [disabled]="!notEditOrderAllowed" [(ngModel)]="selectedWork[0].workOrder.amount"
                 name="amount" (change)="checkIsValidToEdit(selectedWork[0].workOrder.amount)" (focusout)="checkPriceValidaity(selectedWork[0].workOrder.amount)"
                 class="form-control" id="Amount"
                 maxlength="6">
        </div>


        <div class="form-group halfInput">
          <label for="description">{{'SHARED.REMARK' | translate}}:</label>
          <textarea rows="5" cols="60" [disabled]="!notEditOrderAllowed" [(ngModel)]="selectedWork[0].workOrder.description"
                    name="description"
                    class="form-control" id="description"></textarea>
        </div>

      </div>

      <div class="col-md-6 col-xs-12">
        <div class="form-group halfInput">
          <label for="dates">{{'ORDER.FIRST_DATE' | translate}}: <i style="color: red;">*</i></label>
          <p-calendar showTime="true" [minDate]="currentDate" [readonlyInput]="false" name="startDate" dateFormat="dd/mm/yy"
                      [(ngModel)]="selectedWork[0].workOrder.startDate" required="true" [disabled]="isAdmin"
                      [showIcon]="true"></p-calendar>

          <!--<input type="datetime-local" required  [ngModel]="this.selectedWork[0].workOrder.startDate | date:'yyyy-MM-ddThh:mm'"
           (change)="startDateChanged($event.target.value)" [min]="currentDate | date:'yyyy-MM-ddThh:mm'"
           class="form-control forceWidth" name="startDate">-->
        </div>

        <div class="form-group halfInput">
          <label for="dates">{{'ORDER.ALT_DATE' | translate}}: </label>
          <p-calendar showTime="true" [minDate]="currentDate" [readonlyInput]="false" name="endDate" dateFormat="dd/mm/yy"
                      [(ngModel)]="selectedWork[0].workOrder.endDate" [disabled]="isAdmin"
                      [showIcon]="true"></p-calendar>

        </div>


        <i *ngIf="orderCount" style="color:red;">
          NOTE: There are {{orderCount}} orders in this day
          {{selectedWork[0].workOrder.startDateView | date}}
        </i>



      </div>
    </div>
  </div>

  <div class="modal-footer confirm-footer">
    <button type="submit" class="btn btn-success" *ngIf="showSave" [ngClass]="{active: isOn, disabled: isDisabled}">
      {{'SHARED.CONFIRM' | translate}}
    </button>
    <button type="button" class="btn btn-primary" (click)="Resetall()"> {{'SHARED.CANCEL' | translate}}</button>
  </div>

</form>

<div class="cs-loader">
  <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
</div>
