.modal-body {
  height: 240px;
}


.ui-inputtext {
  pointer-events:none !important;
}

.forceWidth{
  width: 250px !important;
}
.disableAfterSave {
  pointer-events: none !important;
}
.paddingBody {
  height: 500px !important;
  position: relative !important;
  padding: 45px !important;
}

.form-control {
  width: 257px !important;
}.cs-loader {
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0px;
  z-index: 1052;
}
.loading-logo {
  margin: auto;
  display: block;
  text-align: center;
  width: 200px;
}
.isDisabled {
  opacity: 0.65;
  cursor: not-allowed;
  pointer-events: none;
}
.isOn {
  opacity:1;
  cursor:default;
}
.form-code {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
