
.footer-bottom {
 background: #f8f8f8;
 padding:0;
 border-top:1px solid #d9d9d9;
 font-size:11px;
 color: rgba(18, 120, 255, 0.91);
}
.widget{
    text-align: center;
    font-size: 14px;
    padding: 22px 0px;
}
.clear{
    clear: both;
    padding: 3% 0;
}