<br>
<br>
<br>
<div class="clearfix calendarBG">
  <br>
  <br>
  <ng-template #modalContent let-close="close" *ngIf="events && events.length > 0" class="mgTop">
    <div class="modal-header">
      <h3 class="modal-title">Work Order Details</h3>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12" *ngIf="currentOrder.parentWorkOrder">

            <div class="form-group halfInput">
              <label for="Title">Parent Work Order code: </label>
              <input [(ngModel)]="currentOrder.code" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">parent Work Order Amount: </label>
              <input [(ngModel)]="currentOrder.parentWorkOrder.amount" type="text" class="form-control"
                     [disabled]="true" (keypress)="keyPressNegative($event)">
            </div>
            <div class="form-group halfInput">
              <label for="Title">parent Work Order pending Amount: </label>
              <input [(ngModel)]="currentOrder.parentWorkOrder.pendingAmount" type="text" class="form-control"
                     [disabled]="true" (keypress)="keyPressNegative($event)">
            </div>
          </div>
          <div class="col-md-6 col-xs-12">

            <div class="form-group halfInput">
              <label for="Title">Work Order code: </label>
              <input [(ngModel)]="currentOrder.code" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">Percentage: </label>
              <input [(ngModel)]="currentOrder.percentage" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">pending Amount: </label>
              <input [(ngModel)]="currentOrder.pendingAmount" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">Amount: </label>
              <input [(ngModel)]="currentOrder.amount" type="text" class="form-control" [disabled]="true" (keypress)="keyPressNegative($event)">
            </div>
            <div class="form-group halfInput">
              <label for="priority">Factory: </label>
              <select class="form-control" [(ngModel)]="currentOrder.fK_Factory_Id" [disabled]="true">
                <option *ngFor="let t of Factories" [value]="t.id">{{t.name}}</option>
              </select>
            </div>


          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group halfInput">
              <label for="priority">Priority: </label>
              <select [(ngModel)]="currentOrder.fK_Priority_Id" class="form-control" [disabled]="true">
                <option *ngFor="let t of Periorities" [value]="t.id">{{t.name}}</option>
              </select>
            </div>

            <div class="form-group halfInput">
              <label for="Category">Status: </label>
              <select class="form-control" [(ngModel)]="currentOrder.fK_Status_Id" [disabled]="true">
                <option *ngFor="let t of allStatus" [value]="t.id">{{t.name}}</option>
              </select>
            </div>

            <div class="form-group halfInput">
              <label for="dates">Start Date: </label>
              <input type="date" [ngModel]="currentOrder.startDate | date:'yyyy-MM-dd'"
                     (ngModelChange)="currentOrder.startDate = $event"
                     class="form-control" name="bday" [disabled]="true">
            </div>

            <div class="form-group halfInput">
              <label for="dates">End Date: </label>
              <input type="date" [ngModel]="currentOrder.endDate | date:'yyyy-MM-dd'"
                     (ngModelChange)="currentOrder.endDate = $event" class="form-control"
                     name="bday" [disabled]="true">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
    </div>
  </ng-template>

  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
             (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
             (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
          Month
        </div>
        <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
          Week
        </div>
        <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
          Day
        </div>
      </div>
    </div>
  </div>
  <br>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                             [activeDayIsOpen]="activeDayIsOpen"
                             (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
                             (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                           (eventClicked)="handleEvent('Clicked', $event.event)"
                           (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>
<br>
<br>
<br>
