<div class="col-xs-12 EditPanel" *ngIf="EquipmentInfo">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" [disabled]='selectedEquipment.length!=0'
              (click)="AddEquipment=true"> {{'SHARED.ADD_NEW' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedEquipment.length!=1'
              (click)="editEquipment=true"> {{'SHARED.EDIT' | translate}} <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button type="button" class="btn btn-danger" [disabled]='selectedEquipment.length!=1'
              (click)="DeleteAllEquipment()"> {{'SHARED.REMOVE' | translate}} <span
        class="glyphicon glyphicon-remove"></span></button>
      <!-- <button type="button" class="btn btn-danger" [disabled]='selectedEquipment.length < 2' (click)="DeleteAllEquipment()"> Delete All <span class="glyphicon glyphicon-remove"></span> </button> -->
    </div>
    <div class="col-xs-12">
      <ngx-datatable class="material expandable" [rows]="EquipmentInfo" [columnMode]="'force'"
                     [columns]="EquipmentColumns" [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5"
                     [selected]="selectedEquipment" [selectionType]="'checkbox'">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true"
                              [checkboxable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="id" name="Id"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="name" name="{{'SHARED.NAME' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="number"
                              name="{{'ORDER.EQUIPMENT_NUMBER' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="fK_EquipmentType_Id"
                              name="{{'SHARED.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="isAvailable"
                              name="{{'SHARED.IS_AVAILABLE' | translate}}"></ngx-datatable-column>


      </ngx-datatable>
    </div>

  </div>
</div>


<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editEquipment || AddEquipment"></div>

<div class="modal fade in confirm-popup" *ngIf="editEquipment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.EDIT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="id">{{'SHARED.ID' | translate}}</label>
                <input type="text" [(ngModel)]="selectedEquipment[0].id" class="form-control" id="id" name="id"
                       #id="ngModel" [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.NAME' | translate}}: * </label>
                <input type="text" [(ngModel)]="selectedEquipment[0].name" class="form-control" id="Name" name="Name"
                       #Name="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && Name.invalid }" required>

                <small *ngIf="Name.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  name is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.NUMBER' | translate}}: * </label>
                <input type="number" [(ngModel)]="selectedEquipment[0].number" class="form-control" id="number"
                       name="number" #number="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && number.invalid }" required>

                <small *ngIf="number.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  number is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Type">{{'SHARED.TYPE' | translate}}: *</label>
                <select [(ngModel)]="selectedEquipment[0].fK_EquipmentType_Id" class="form-control" name="CustType"
                        #CustType="ngModel"
                        [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && CustType.invalid }" required>
                  <option *ngFor="let t of EquipmentLookup" [value]="t.id">{{t.name}}</option>
                </select>

                <small *ngIf="CustType.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  equipment Type is required
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="factory">{{'SHARED.FACTORY' | translate}}: *</label>
                <select [(ngModel)]="selectedEquipment[0].fk_Factory_Id" class="form-control" name="factory"
                        #factory="ngModel"
                        [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && factory.invalid }" required>
                  <option *ngFor="let t of FactoryLookup" [value]="t.id">{{t.name}}</option>
                </select>

                <small *ngIf="factory.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  factory is required
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Type">{{'SHARED.IS_AVAILABLE' | translate}}: *</label>

                <input type="checkbox" class="CheckBoxInput" [(ngModel)]="selectedEquipment[0].isAvailable"
                       name="isAvailable" #isAvailable="ngModel">
                <span>is Available</span>


              </div>

            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit(form)"> {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddEquipment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.ADD_NEW' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="Equipmentn">{{'SHARED.NAME' | translate}}: </label>
                <input type="text" [(ngModel)]="newEquipment.name" class="form-control" id="Equipmentn"
                       name="Equipmentn" #Equipmentn="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && Equipmentn.invalid }" required>
                <small *ngIf="Equipmentn.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  Equipment is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.NUMBER' | translate}}: * </label>
                <input type="number" [(ngModel)]="newEquipment.number" class="form-control" id="number2" name="number2"
                       #number2="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && number2.invalid }" required>

                <small *ngIf="number2.invalid && firstSubmitTryadd " class="text-danger ErrorLable">
                  number is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Type">{{'SHARED.TYPE' | translate}}: *</label>
                <select [(ngModel)]="newEquipment.fK_EquipmentType_Id" class="form-control" name="equipment"
                        #equipment="ngModel" [ngClass]="{ 'has-error': firstSubmitTryadd && equipment.invalid }"
                        required>
                  <option *ngFor="let t of EquipmentLookup" [value]="t.id">{{t.name}}</option>
                </select>

                <small *ngIf="equipment.invalid &&firstSubmitTryadd" class="text-danger ErrorLable">
                  equipment Type is required
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="factory">{{'SHARED.FACTORY' | translate}}: *</label>
                <select [(ngModel)]="newEquipment.fk_Factory_Id" class="form-control" name="factory"
                        #factory="ngModel" [ngClass]="{ 'has-error': firstSubmitTryadd && factory.invalid }"
                        required>
                  <option *ngFor="let t of FactoryLookup" [value]="t.id">{{t.name}}</option>
                </select>

                <small *ngIf="factory.invalid &&firstSubmitTryadd" class="text-danger ErrorLable">
                  factory is required
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Type">{{'SHARED.IS_AVAILABLE' | translate}}: *</label>

                <input type="checkbox" class="CheckBoxInput" [(ngModel)]="newEquipment.isAvailable" name="isAvailable"
                       #isAvailable="ngModel">
                <span>is Available</span>


              </div>
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAdd(form)"> {{'SHARED.CONFIRM' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>
