<div class="row">
  <div class="col-xs-12 ">

    <div *ngIf="existCust" class="row searchPhonepanel" style="margin-top:20px;margin-bottom:5%">

      <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified">
          <li [ngClass]="{'active':selectedTab== 'tab1'}" (click)="selectedTab='tab1'">
            <a>
              {{
'ADD_NEW_CUSTOMER.INFO' |
            translate
              }}
            </a>
          </li>
          <li [ngClass]="{'active':selectedTab== 'tab2'}" (click)="selectedTab='tab2'">
            <a>
              {{
'CONTRACT.NAME'
            | translate
              }}
            </a>
          </li>
          <li [ngClass]="{'active':selectedTab== 'tab3'}" (click)="selectedTab='tab3'">
            <a>
              {{
'ORDER.NAME' |
            translate
              }}
            </a>
          </li>
          <li [ngClass]="{'active':selectedTab== 'tab4'}" (click)="selectedTab='tab4'">
            <a>
              {{
'SHARED.COMPLAINS' |
            translate
              }}
            </a>
          </li>
        </ul>
      </div>

      <app-customerinfo *ngIf="selectedTab=='tab1'" (Reset)="GetCustDetails()"
                        [CustomInfo]="CustomerInfo" ></app-customerinfo>
      <app-contract *ngIf="selectedTab=='tab2' && loadingDone" [customerCredit]="customerCredit" [customerBalance]="customerBalance"></app-contract>
      <app-word-order *ngIf="selectedTab=='tab3'"  ></app-word-order>
      <app-complains *ngIf="selectedTab=='tab4'" ></app-complains>

    </div>

  </div>
  <div class="cs-loader">
    <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
  </div>

</div>

