.sebm-google-map-container {
    height: 500px;
  }
  strong{
    color: black;
  }

  .widthAuto{
    width:160px !important;
  }
  sebm-google-map-marker img{
    width: 22px;
    height: 40px;
    
  }