<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12 mtb-20">

      <div class="form-group col-sm-6" [hidden]="isHideFromLoggedUser">
        <label for="id" class="col-sm-3">{{'TRACKING_FILTER.DRIVER_NAME' | translate}}</label>
        <select [(ngModel)]="filterCritieria.driverName" class="widthAuto form-control">
          <option *ngFor="let item of drivers" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>

      <div class="form-group col-sm-6" [hidden]="isHideFromLoggedUser">
        <label for="id" class="col-sm-3">{{'TRACKING_FILTER.FACTORY_NAME' | translate}}</label>
        <select [(ngModel)]="filterCritieria.factoryName" class="widthAuto form-control">
          <option *ngFor="let item of factories" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>

      <div class="form-group col-sm-6">
        <label for="id" class="col-sm-3">{{'ORDER.CODE' | translate}}</label>
        <input type="text" [(ngModel)]="filterCritieria.orderName" class="form-control widthAuto"/>
      </div>

      <div class="form-group col-sm-6" [hidden]="isHideFromLoggedUser">
        <label for="id" class="col-sm-3">{{'TRACKING_FILTER.VEHICLE_NUMBER' | translate}}</label>
        <input type="text" [(ngModel)]="filterCritieria.vehicleNumber" class="form-control widthAuto"/>
      </div>

      <div class="form-group col-sm-6" [hidden]="isHideFromLoggedUser">
        <label for="id" class="col-sm-3">{{'ORDER.STATUS' | translate}}</label>
        <select [(ngModel)]="filterCritieria.status" class="form-control widthAuto">
          <option *ngFor="let item of status" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>

      <div class="col-sm-12" >
        <button type="button" class="btn btn-primary col-sm-offset-8" (click)="applyFilter()"
                [disabled]="!filterCritieria.driverName && !filterCritieria.status && !filterCritieria.factoryName && !filterCritieria.orderName && !filterCritieria.vehicleNumber">
          {{'SHARED.APPLY' | translate}}
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button type="button" class="btn btn-danger" (click)="resetFilter()"> {{'SHARED.RESET' | translate}}
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <div [hidden]="isHideFromLoggedUser">
          <label for="id">{{'SHARED.SHOW/HIDE' | translate}}</label>
          <input type="checkbox" (change)="applyToggle()" [(ngModel)]="toggleOrders"/>
        </div>
      </div>
    </div>
  </div>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true">
    <agm-marker *ngFor="let item of vehicles" [latitude]="item.lat" [longitude]="item.long" [label]=""
                [markerDraggable]="false" [iconUrl]="iconForItem(item.jobStatus)">
      <agm-info-window>
        <strong>{{'TRACKING_FILTER.DRIVER_NAME' | translate}} : {{item.driverName}}</strong>
        <br/>
        <strong>{{'TRACKING_FILTER.FACTORY_NAME' | translate}} : {{item.factoryName}}</strong>
        <br/>
        <strong>{{'ORDER.CODE' | translate}}. : {{item.orderNumber}}</strong>
        <br/>
        <strong>{{'TRACKING_FILTER.VEHICLE_NUMBER' | translate}}. : {{item.vehicleNumber}}</strong>
        <br/>
      </agm-info-window>
    </agm-marker>

    <agm-marker *ngFor="let order of ordersOnMap" [latitude]="order?.location?.latitude"
                [longitude]="order?.location?.longitude" [label]=""
                [markerDraggable]="false" [iconUrl]="order?.statusIcon">
      <agm-info-window>
        <strong>{{'ORDER.CODE' | translate}} : {{order.code}}</strong>
        <br>
        <strong>{{'SHARED.AMOUNT' | translate}} : {{order.amount}}</strong>
        <br>
        <strong>{{'ORDER.PENDING_AMOUNT' | translate}} : {{order.pendingAmount}}</strong>
      </agm-info-window>
    </agm-marker>

  </agm-map>
</div>
