<div class="col-xs-12 EditPanel" *ngIf="VehicleTypeInfo">

  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" [disabled]='selectedVehicleType.length!=0' *ngIf="showData"
              (click)="AddVehicleType=true">
        {{'SHARED.ADD_NEW' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedVehicleType.length!=1'
              (click)="GetVehicleJobs()">
        {{'SHARED.EDIT' | translate}}
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button type="button" class="btn btn-danger" [disabled]='selectedVehicleType.length!=1' *ngIf="showData"
              (click)="DeleteAllVehicleType()">
        {{'SHARED.REMOVE' | translate}}
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div class="col-xs-12 mtb-20">

      <input type="text" [(ngModel)]="vechileNumber" placeholder="Search By Vechile Number" class="form-control taxPad" id="id" name="id"
             #id="ngModel">

      <button type="button" class="btn btn-primary" (click)="seacrhByVechileNumber()">
        {{'SHARED.SEARCH_OP' | translate}}
      </button>

      <button type="button" class="btn btn-danger" (click)="Reset()">
        {{'SHARED.RESET' | translate}}
      </button>

    </div>
    <div class="col-xs-12">

      <ngx-datatable #myTable class="material expandable" [rows]="VehicleTypeInfo" [columnMode]="'force'"
                     [columns]="VehicleTypeColumns"
                     [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5"
                     [selected]="selectedVehicleType"
                     [selectionType]="'selected'">


        <!--<ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
      </ngx-datatable-column>-->

        <ngx-datatable-column [width]="30"
                              [sortable]="false"
                              [canAutoResize]="false"
                              [draggable]="false"
                              [resizeable]="false"
                              [headerCheckboxable]="false"
                              [checkboxable]="true">
        </ngx-datatable-column>

        <!--<ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
      </ng-template>-->
        <ngx-datatable-column [width]='120' prop="id" name="
        {{'SHARED.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="number" name="
        {{'SHARED.NAME' | translate}}"></ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>
<div class="cs-loader">
  <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
</div>

<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editVehicleType || AddVehicleType"></div>

<div class="modal fade in confirm-popup" *ngIf="editVehicleType">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{'SHARED.EDIT' | translate}}
        </h4>
      </div>
      <!--<div class="form-group halfInput col-md-12 col-xs-12" *ngIf="showjobExistAlert">
        <div class="alert alert-danger">
          <strong>Info!</strong>This vechile currently has a Job .
        </div>
      </div>-->
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="id">
                  {{'SHARED.ID' | translate}}
                </label>
                <input type="text" [(ngModel)]="selectedVehicleType[0].id" class="form-control" id="id" name="id"
                       #id="ngModel" [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label for="Name">
                  {{'TRACKING_FILTER.VEHICLE_NUMBER' | translate}}: *
                </label>
                <input type="text" [(ngModel)]="selectedVehicleType[0].number" class="form-control" id="number"
                       name="number" #Name="ngModel" [disabled]="!showData"
                       (ngModelChange)='isDirty=true' [ngClass]="{ 'has-error': firstSubmitTry && number.invalid }"
                       required>

                <small *ngIf="Name.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Vehicle Number is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="VehicleTypen">
                  {{'ORDER.FACTORY' | translate}}:
                </label>
                <select [(ngModel)]="selectedVehicleType[0].fK_Factory_Id" class="form-control"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)='isDirty=true' [disabled]="!showData"
                        required>
                  <option *ngFor="let item of factories" value="{{item.id}}"> {{item.name}}</option>
                </select>
              </div>


              <div class="form-group halfInput">
                <label for="VehicleTypen">
                  {{'SHARED.VechileStatus' | translate}}:
                </label>

                <p-inputSwitch name="status" (onChange)="handleChange($event)" class="input-switch" onLabel="Available" offLabel="NotAvailable" [(ngModel)]="selectedVehicleType[0].isAvailable"></p-inputSwitch>

              </div>





            </div>

          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit(form)">
          {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()">
          {{'SHARED.CANCEL' | translate}}
        </button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddVehicleType">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-titl">
          {{'SHARED.ADD_NEW' | translate}}
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="VehicleTypen">
                  {{'TRACKING_FILTER.VEHICLE_NUMBER' | translate}}:
                </label>
                <input type="text" [(ngModel)]="newVehicleType.Number" class="form-control" id="VehicleTypen"
                       name="VehicleTypen" #VehicleTypen="ngModel"
                       (ngModelChange)='isDirty=true' required>
              </div>
              <div class="form-group halfInput">
                <label for="VehicleTypen">
                  {{'ORDER.FACTORY' | translate}}:
                </label>
                <select [(ngModel)]="newVehicleType.fK_Factory_Id" class="form-control"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)='isDirty=true'
                        required>
                  <option *ngFor="let item of factories" value="{{item.id}}"> {{item.name}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAdd(form)"
                [disabled]="!newVehicleType.Number || !newVehicleType.fK_Factory_Id">

          {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()">
          {{'SHARED.CANCEL' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="cancelJobModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.CONFIRM' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h5>This vehicle currently has a job , are you sure you want to make it available ?</h5>
          </div>
        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="confirmCancelJob()">{{'SHARED.YES' | translate}}</button>
        <button type="button" class="btn btn-primary"
                (click)="cancelSidemodal()">
          {{'SHARED.NO' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

