.halfInput label{
    width: 100% !important;
}
.ErrorLable {

    margin: 2px 0px !important;
}
.DeleteRole{
    color: #B91818
}
.AllRoles{
    display: inline-block;
}
.OneRole{
    margin: 15px;
}
.DeleteRole{
    cursor: pointer;
}
.modal-body{
    position: relative;
    padding: 15px;
    max-height: 450px;
    overflow-y: scroll;
}
.cs-loader {
    width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 0px;
    z-index: 1052;
  }
  .loading-logo {
    margin: auto;
    display: block;
    text-align: center;
    width: 200px;
  }