<div class="col-xs-12 EditPanel" *ngIf="UserInfo">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" [disabled]='selectedUser.length!=0' (click)="AddUser=true">
        {{'SHARED.ADD_NEW' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedUser.length!=1' (click)="editUser=true"> Edit
        <span class="glyphicon glyphicon-edit"></span></button>
      <button type="button" class="btn btn-info" [disabled]='selectedUser.length!=1' (click)="resetPassword=true"> Reset
        Password
        <span class="glyphicon glyphicon-edit"></span></button>
      <button type="button" class="btn btn-danger" [disabled]='selectedUser.length!=1' (click)="DeleteAllUser()">
        {{'SHARED.REMOVE' | translate}}
        <span class="glyphicon glyphicon-remove"></span></button>
      <!-- <button type="button" class="btn btn-danger" [disabled]='selectedUser.length < 2' (click)="DeleteAllUser()"> Delete All <span class="glyphicon glyphicon-remove"></span> </button> -->
    </div>
    <div class="col-xs-12">
      <ngx-datatable class="material expandable" [rows]="UserInfo" [columnMode]="'force'" [columns]="UserColumns"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5" [selected]="selectedUser"
                     [selectionType]="'checkbox'">
        <ngx-datatable-column [width]="30"
                              [sortable]="false"
                              [canAutoResize]="false"
                              [draggable]="false"
                              [resizeable]="false"
                              [headerCheckboxable]="true"
                              [checkboxable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='150' prop="id" name="{{'SHARED.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="userName" name="{{'SHARED.NAME' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="phoneNumber"
                              name="{{'ADD_NEW_CUSTOMER.PHONE' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="email" name="{{'SHARED.EMAIL' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="firstName"
                              name="{{'SHARED.FIRST_NAME' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="lastName"
                              name="{{'SHARED.LAST_NAME' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="roleNames" name="{{'SHARED.ROLE' | translate}}">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span *ngFor="let t of value">{{t}}</span>
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column [width]='120' prop="password" name="Password"></ngx-datatable-column> -->


      </ngx-datatable>
    </div>

  </div>
</div>

<div class="cs-loader">
    <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo"/>
</div>

<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editUser || AddUser"></div>

<div class="modal fade in confirm-popup" *ngIf="editUser">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit User</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12 col-md-6">
              <div class="form-group halfInput">
                <label for="Usern">{{'SHARED.USER_NAME' | translate}}:* </label>
                <input type="text" [(ngModel)]="selectedUser[0].userName" class="form-control" id="Usern" name="Usern"
                       #Usern="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && Usern.invalid }" required>
                <small *ngIf="Usern.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  User is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="firstName">{{'SHARED.FIRST_NAME' | translate}}:* </label>
                <input type="text" [(ngModel)]="selectedUser[0].firstName" class="form-control" id="firstName"
                       name="firstName"
                       #firstName="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && firstName.invalid }" required>
                <small *ngIf="firstName.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  firstName is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="lastName">{{'SHARED.LAST_NAME' | translate}}:* </label>
                <input type="text" [(ngModel)]="selectedUser[0].lastName" class="form-control" id="lastName"
                       name="lastName"
                       #lastName="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && lastName.invalid }" required>
                <small *ngIf="lastName.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  lastName is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Usern">{{'ADD_NEW_CUSTOMER.PHONE' | translate}}:* </label>
                <input type="tel" [(ngModel)]="selectedUser[0].phoneNumber" class="form-control" minlength="8"
                       maxlength="8"
                       id="phoneNumber"
                       name="phoneNumber" #phoneNumber="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && Usern.invalid }"
                       required>
                <small *ngIf="phoneNumber.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  phone Number is required (8 digit Number)
                </small>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group halfInput">
                <label for="Usern">{{'SHARED.EMAIL' | translate}}:* </label>
                <input type="email" [(ngModel)]="selectedUser[0].email" class="form-control" id="email"
                       name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                       required [ngClass]="{ 'has-error': firstSubmitTryadd && email.invalid }">
                <small *ngIf="email.invalid && email.errors && firstSubmitTryadd" class="text-danger ErrorLable">
                  invalid email, mail is required.
                </small>
              </div>

            </div>
            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="Role">{{'SHARED.ROLE' | translate}}: *</label>
                <select [(ngModel)]="selectedUser[0].roleNames[0]" class="form-control" name="Role" #Role="ngModel"
                        [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && Role.invalid }"
                        (ngModelChange)='AddToListofRoles()' required>
                  <option *ngFor="let t of AllRoles" [value]="t.name">{{t.name}}</option>
                </select>
                <br/>
                <div class="AllRoles halfInput" *ngFor="let f of SelectedAllRoles">
                  <div class="OneRole">
                    <span>{{f}}</span>
                    <span class="DeleteRole glyphicon glyphicon-remove"
                          (click)="DeleteRolePer(f)"></span>
                  </div>
                </div>
                <small *ngIf=" (SelectedAllRoles.length < 1)&& firstSubmitTryadd" class="text-danger ErrorLable">
                  Role Name is required
                </small>

              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="SaveChanges()"> Save</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> Cancel</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddUser">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.ADD_NEW' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12 col-md-6">
              <div class="form-group halfInput">
                <label for="Usern">{{'SHARED.USER_NAME' | translate}}:* </label>
                <input type="text" [(ngModel)]="newUser.userName" class="form-control" id="Usern" name="Usern"
                       #Usern="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && Usern.invalid }" required>
                <small *ngIf="Usern.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  User is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="firstName">{{'SHARED.FIRST_NAME' | translate}}:* </label>
                <input type="text" [(ngModel)]="newUser.firstName" class="form-control" id="firstName" name="firstName"
                       #firstName="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && firstName.invalid }" required>
                <small *ngIf="firstName.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  firstName is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="lastName">{{'SHARED.LAST_NAME' | translate}}:* </label>
                <input type="text" [(ngModel)]="newUser.lastName" class="form-control" id="lastName" name="lastName"
                       #lastName="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && lastName.invalid }" required>
                <small *ngIf="lastName.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  lastName is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Usern">{{'CUSTOMER.PHONE' | translate}}:* </label>
                <input type="tel" [(ngModel)]="newUser.phoneNumber" class="form-control" minlength="8" maxlength="8"
                       id="phoneNumber"
                       name="phoneNumber" #phoneNumber="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && Usern.invalid }"
                       required>
                <small *ngIf="phoneNumber.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  phone Number is required (8 digit Number)
                </small>
              </div>


            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group halfInput">
                <label for="Usern">{{'SHARED.EMAIL' | translate}}:* </label>
                <input type="email" [(ngModel)]="newUser.email" class="form-control" id="email"
                       name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                       required [ngClass]="{ 'has-error': firstSubmitTryadd && email.invalid }">
                <small *ngIf="email.invalid && email.errors && firstSubmitTryadd" class="text-danger ErrorLable">
                  invalid email, mail is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="password">{{'SHARED.PASSWORD' | translate}}:* </label>
                <input type="password" [(ngModel)]="newUser.password"
                       [pattern]="passwordRegex"
                       class="form-control" id="password"
                       name="password" #password="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && password.invalid }"
                       required>

                <small *ngIf="form?.controls?.password?.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  password Required , must have <br/>
                  - one uppercase letters <br/>
                  - one special case letter <br/>
                  - one digits <br/>
                  - length 8.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="rePassword">{{'SHARED.CONFIRM_PASSWORD' | translate}}:* </label>
                <input type="password" [(ngModel)]="repreatPass" class="form-control" id="rePassword"
                       name="rePassword" #rePassword="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && password.invalid }"
                       required>

                <small *ngIf=" (repreatPass != newUser.password)&& firstSubmitTryadd" class="text-danger ErrorLable">
                  please enter the Same Password
                </small>

              </div>


            </div>
            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="Role">{{'SHARED.ROLE' | translate}}: *</label>
                <select [(ngModel)]="RoleItem" class="form-control" name="Role" #Role="ngModel"
                        [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && Role.invalid }"
                        (ngModelChange)='AddToListofRoles()' required>
                  <option *ngFor="let t of AllRoles" [value]="t.name">{{t.name}}</option>
                </select>
                <br/>
                <div class="AllRoles halfInput" *ngFor="let f of SelectedAllRoles">
                  <div class="OneRole">
                    <span>{{f}}</span>
                    <span class="DeleteRole glyphicon glyphicon-remove"
                          (click)="DeleteRolePer(f)"></span>
                  </div>
                </div>
                <small *ngIf=" (SelectedAllRoles.length < 1)&& firstSubmitTryadd" class="text-danger ErrorLable">
                  Role Name is required
                </small>

              </div>
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAdd(form)">{{'SHARED.CONFIRM' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="resetPassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12 col-md-6">
              <div class="form-group halfInput">
                <label for="Usern">{{'SHARED.USER_NAME' | translate}}:* </label>
                <input type="text" [(ngModel)]="selectedUser[0].userName" class="form-control" id="Usern" name="Usern"
                       #Usern="ngModel" [disabled]="true">
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group halfInput">
                <label for="password">{{'SHARED.PASSWORD' | translate}}:* </label>
                <input type="password" [(ngModel)]="selectedUser[0].password"
                       [pattern]="passwordRegex"
                       class="form-control" id="password"
                       name="password" #password="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && password.invalid }"
                       required>

                <small *ngIf="form?.controls?.password?.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  password Required , must have <br/>
                  - one uppercase letters <br/>
                  - one special case letter <br/>
                  - one digits <br/>
                  - length 8.
                </small>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="SaveResetPassword()"> Save</button>
        <button type="button" class="btn btn-primary" (click)="resetPassword=false"> Cancel</button>
      </div>

    </div>
  </div>
</div>
