<div class="col-xs-12 EditPanel">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" (click)="enableButton()" *ngIf="!isSales">
        {{'ORDER.NEW_ORDER' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedWork.length!=1' (click)="EditWorkOrder()"
              *ngIf="!isSales">
        {{'SHARED.EDIT' | translate}}
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button type="button" class="btn btn-danger" [disabled]='selectedWork.length!=1' (click)="DeleteItem()"
              *ngIf="!isSales">
        {{'SHARED.REMOVE' | translate}}
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <!-- <button type="button" class="btn btn-danger" [disabled]='selectedWork.length < 2'> Delete All <span class="glyphicon glyphicon-remove"></span> </button> -->
    </div>
    <div class="cs-loader">
      <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
    </div>
    <div class="col-xs-12" *ngIf="workOrderInfo != undefined">




      <ngx-datatable #myTable class="material expandable" [rows]="workOrderInfo" [columnMode]="'force'" [offset]="page.pageNumber"
                     (page)='setPage($event)' [count]="page.totalElements" [externalPaging]="true"
                     [columns]="contractColumns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarH]="true"
                     [limit]="5" [selected]="selectedWork" [selectionType]="'selected'">

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail [rowHeight]="getRowDetailHeight.bind(myTable)" #myDetailRow
                                  (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

            <ngx-datatable class="material" [style.height]="getInnerTableHeight(row)"
                           *ngIf="row.subOrdersFactoryPercent.length > 0 && row.subOrdersFactoryPercent[0].workOrder != null"
                           [groupRowsBy]="row.group" [rows]="row.subOrdersFactoryPercent" [headerHeight]="headerHeight"
                           [rowHeight]="rowHeight" [selected]="selectedWork" [selectionType]="'selected'" [footerHeight]="0"
                           [columnMode]="'force'">

              <ngx-datatable-column [width]="80" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                    [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="true">
              </ngx-datatable-column>

              <ngx-datatable-column [width]='120' prop="code" name="{{'ORDER.CODE' | translate}}">
              </ngx-datatable-column>
              <ngx-datatable-column [width]='120' prop="amount" name="{{'SHARED.AMOUNT' | translate}}">
              </ngx-datatable-column>
              <!--<ngx-datatable-column [width]='120' prop="factory.name" name="{{'ORDER.FACTORY' | translate}}">
        </ngx-datatable-column>-->
              <!--<ngx-datatable-column [width]='120' prop="percentage" name="{{'ORDER.PERCENT' | translate}}">
              </ngx-datatable-column>-->
              <ngx-datatable-column [width]='120' prop="startDate" name="{{'ORDER.FIRST_DATE' | translate}}">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  {{value == "0001-01-01T00:00:00" ? null : value | date:'mediumDate'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]='120' prop="endDate" name="{{'ORDER.ALT_DATE' | translate}}">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  {{value == "0001-01-01T00:00:00" ? null : value | date:'mediumDate'}}
                </ng-template>
              </ngx-datatable-column>
              <!--<ngx-datatable-column [width]='120' prop="workOrder.fK_Contract_Id" name="{{'CONTRACT.ID' | translate}}">
        </ngx-datatable-column>-->
              <ngx-datatable-column [width]='90' prop="fK_Priority_Id" name="{{'ORDER.STATUS' | translate}}">
              </ngx-datatable-column>
              <ngx-datatable-column [width]='120' prop="fK_Status_Id" name="Status Id"></ngx-datatable-column>
              <!--<ngx-datatable-column [width]='120' prop="fK_Customer_Id" name="{{'CUSTOMER.ID' | translate}}">
              </ngx-datatable-column>-->
              <ngx-datatable-column [width]='120' prop="fK_Location_Id"
                                    name="{{'LOCATION.TITLE' | translate}}"></ngx-datatable-column>
              <ngx-datatable-column [width]='120' prop="pendingAmount"
                                    name="{{'ORDER.PENDING_AMOUNT' | translate}}"></ngx-datatable-column>
              <ngx-datatable-column [width]='150' prop="items" name="{{'ORDER.MIX_TYPES' | translate}}">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <span *ngIf="value.length > 0">
                    {{row.workOrder.items[0].name}}
                  </span>
                </ng-template>

              </ngx-datatable-column>



            </ngx-datatable>
          </ng-template>
        </ngx-datatable-row-detail>
        <!-- Column Templates -->

        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                              [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
               title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="code" name="{{'ORDER.CODE' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="amount" name="{{'SHARED.AMOUNT' | translate}}">
        </ngx-datatable-column>
        <!--<ngx-datatable-column [width]='120' prop="workOrder.hasSuborders" name="{{'ORDER.FACTORY' | translate}}">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span *ngIf="value == false">
        {{row.subOrdersFactoryPercent[0]?.factory?.name}}
      </span>
      <span *ngIf="value == true" class="diviWorkOrder">
        {{'Divided'}}
      </span>
    </ng-template>

  </ngx-datatable-column>-->

        <!--<ngx-datatable-column [width]='120' prop="hasSuborders" name="{{'ORDER.PERCENT' | translate}}">
          ra
          em
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{100}}
          </ng-template>
        </ngx-datatable-column>-->


        ro
        <ngx-datatable-column [width]='120' prop="startDate" name="{{'ORDER.FIRST_DATE' | translate}}">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{value == "0001-01-01T00:00:00" ? null : value | date:'mediumDate'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="endDate" name="{{'ORDER.ALT_DATE' | translate}}">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{value == "0001-01-01T00:00:00" ? null : value | date:'mediumDate'}}
          </ng-template>
        </ngx-datatable-column>
        x
        <!--<ngx-datatable-column [width]='120' prop="workOrder.fK_Contract_Id" name="{{'CONTRACT.ID' | translate}}">
  </ngx-datatable-column>-->
        <ngx-datatable-column [width]='120' prop="priority.name" name="{{'ORDER.PRIORITY' | translate}}">
        </ngx-datatable-column>
       


        <ngx-datatable-column name="{{'ORDER.STATUS' | translate}}" prop="status">
          <ng-template let-value="value" ngx-datatable-cell-template let-row="row">

            {{selectedLang=='en' ? value.name: value.arabicName}}

          </ng-template>
        </ngx-datatable-column>


        <!--<ngx-datatable-column [width]='120' prop="customer.kcrM_Customer_Id" name="{{'CUSTOMER.KCRMID' | translate}}">
        </ngx-datatable-column>-->
        <ngx-datatable-column [width]='120' prop="location.title" name="{{'LOCATION.TITLE' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="pendingAmount"
                              name="{{'ORDER.PENDING_AMOUNT' | translate}}"></ngx-datatable-column>
        <!--<ngx-datatable-column [width]='120' prop="workOrder.items" name="{{'SHARED.PRICE' | translate}}">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span *ngIf="value.length > 0">
        {{row.workOrder.items[0].price}}
      </span>

    </ng-template>

  </ngx-datatable-column>-->


        <ngx-datatable-column [width]='300' prop="items" name="items">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{value.description}}

          </ng-template>

        </ngx-datatable-column>


      </ngx-datatable>
    </div>
  </div>
</div>

<div class="modal-backdrop fade in confirm-popup-fade"
     *ngIf="AddNewLocation ||AddNewLocation2||editWorkOrder || addWorkOrder"></div>

<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="editWorkOrder">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{'ORDER.PENDING_AMOUNT' | translate}}</h3>
        <br />
        <h4 class="modal-title">{{'CONTRACT.ID' | translate}}:{{contractCode}}</h4>

      </div>
 



      <form #editWorkOrderForm="ngForm" *ngIf="editWorkOrder" (ngSubmit)="editWorkOrderForm.valid && SaveEdits()">

        <div class="modal-body paddingBody">
          <div class="row">
            <div class="form-group">
              <label class="col-md-2" for="Category">{{'CONTRACT.OrderCode_Location' | translate}}: <i style="color: red;">*</i></label>

              <select class="form-code col-md-8" name="fK_Contract_Id" disabled
                      required [(ngModel)]="selectedWork[0].workOrder.fK_Location_Id">
                <option *ngFor="let t of Locations" [value]="t.id">{{selectedWork[0].workOrder.code}},{{t.title}}</option>
              </select>



            </div>


          </div>
          <br />
          <div class="row">
            <div class="col-md-6 col-xs-12">

              <div class="form-group halfInput">
                <label for="Category">{{'CONTRACT.READY_MIX_TYPE' | translate}}: </label>
                <select name="id" disabled
                        (change)="getAvailableAmount(selectedWork[0].workOrder.fK_Item)" class="form-control"
                        [(ngModel)]="selectedWork[0].workOrder.fK_Item">
                  <option *ngFor="let t of contractMixTypes" [value]="t.fk_Item_Id">{{t.item.name}},{{t.item.description}}</option>
                </select>
              </div>

              <div class="form-group halfInput">
                <label for="Category">{{'ORDER.STATUS' | translate}}: </label>
                <select [disabled]="!notEditOrderAllowed" class="form-control" name="fK_Status_Id"
                        [(ngModel)]="selectedWork[0].workOrder.fK_Status_Id">
                  <option *ngFor="let t of allStatus" [value]="t.id">{{selectedLang=='en'?t.name:t.arabicName}}</option>
                </select>
              </div>

              <div class="form-group halfInput">
                <label for="priority">{{'ORDER.PRIORITY' | translate}}: </label>
                <select name="fK_Priority_Id" [disabled]="true" [(ngModel)]="selectedWork[0].workOrder.fK_Priority_Id"
                        class="form-control">
                  <!--<select name="fK_Priority_Id" [disabled]="!notEditOrderAllowed"-->
                  <!--[(ngModel)]="selectedWork[0].workOrder.fK_Priority_Id"-->
                  <!--class="form-control">-->
                  <option *ngFor="let t of Periorities" [value]="t.id">{{t.name}}</option>
                </select>
              </div>
              <div class="form-group halfInput">
                <label for="priority">{{'ORDER.PouredElement' | translate}}: </label>
                <select [(ngModel)]="selectedWork[0].workOrder.fK_ElementToBePoured_Id" name="fK_ElementToBePoured_Id" class="form-control">
                  <option *ngFor="let t of allItemsToPoured" [value]="t.id">{{t.name}}</option>
                </select>
              </div>
              <div class="form-group halfInput">
                <label for="Amount">{{'SHARED.AMOUNT' | translate}}:</label>
                <input type="number" [disabled]="!notEditOrderAllowed" [(ngModel)]="selectedWork[0].workOrder.amount"
                       name="amount" (change)="checkIsValidToEdit(selectedWork[0].workOrder.amount)" (focusout)="checkPriceValidaity(selectedWork[0].workOrder.amount)"
                       class="form-control" id="Amount"
                       maxlength="6">
              </div>


              <div class="form-group halfInput">
                <label for="description">{{'SHARED.REMARK' | translate}}:</label>
                <textarea rows="5" cols="60" [disabled]="!notEditOrderAllowed" [(ngModel)]="selectedWork[0].workOrder.description"
                          name="description"
                          id="description"></textarea>
              </div>

            </div>

            <div class="col-md-6 col-xs-12">
              <div class="form-group halfInput">
                <label for="dates">{{'ORDER.FIRST_DATE' | translate}}: <i style="color: red;">*</i></label>
                <p-calendar showTime="true" [minDate]="currentDate" [readonlyInput]="false" name="startDate" dateFormat="dd/mm/yy"
                            [(ngModel)]="selectedWork[0].workOrder.startDate" required="true" [disabled]="isAdmin"
                            [showIcon]="true"></p-calendar>

                <!--<input type="datetime-local" required  [ngModel]="this.selectedWork[0].workOrder.startDate | date:'yyyy-MM-ddThh:mm'"
            (change)="startDateChanged($event.target.value)" [min]="currentDate | date:'yyyy-MM-ddThh:mm'"
            class="form-control forceWidth" name="startDate">-->
              </div>

              <div class="form-group halfInput">
                <label for="dates">{{'ORDER.ALT_DATE' | translate}}: </label>
                <p-calendar showTime="true" [minDate]="currentDate" [readonlyInput]="false" name="endDate" dateFormat="dd/mm/yy"
                            [(ngModel)]="selectedWork[0].workOrder.endDate" [disabled]="isAdmin"
                            [showIcon]="true"></p-calendar>

              </div>


              <i *ngIf="orderCount" style="color:red;">
                NOTE: There are {{orderCount}} orders in this day
                {{selectedWork[0].workOrder.startDateView | date}}
              </i>



            </div>
          </div>
        </div>

        <div class="modal-footer confirm-footer">
          <button type="submit" class="btn btn-success"  >
            {{'SHARED.CONFIRM' | translate}}
          </button>
          <button type="button" class="btn btn-primary" (click)="Resetall()"> {{'SHARED.CANCEL' | translate}}</button>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="addWorkOrder">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #AddOrderForm="ngForm" (ngSubmit)="AddOrderForm.valid && AddWorkOrder()">

        <div class="modal-header">
          <h4 class="modal-title">{{'ORDER.NEW_ORDER' | translate}}</h4>
        </div>
        <div class="modal-body paddingBody">
          <div class="row">
            <div class="form-group">
              <label class="col-md-2" for="Category">{{'CONTRACT.ContractCode_Location' | translate}}: <i style="color: red;">*</i></label>
              <select class="form-code col-md-8" name="fK_Contract_Id"
                      (change)="getContractDetails(newOrder.fK_Contract_Id)" required [(ngModel)]="newOrder.fK_Contract_Id">
                <ng-container *ngFor="let contract of ListOfContracts">
                  <option *ngFor="let t of contract.lstLocationName" [value]="contract.id">{{contract.contractNumber}},{{t.name}}</option>
                </ng-container>
              </select>
            </div>


          </div>
          <br />

          <div class="row">
            <div class="col-md-6 col-xs-12">


              <div class="form-group halfInput">
                <label for="Category">{{'CONTRACT.READY_MIX_TYPE' | translate}}: <i style="color: red;">*</i></label>
                <select class="form-control" name="WorkItem" (change)="getAvailableAmount(WorkItem)"
                        [(ngModel)]="WorkItem" required>
                  <option [value]="undefined"><strong>Choose item ...</strong></option>
                  <option *ngFor="let t of contractMixTypes" [value]="t.fk_Item_Id">{{t.item.name}},{{t.item.description}}</option>
                </select>
              </div>

              <div class="form-group halfInput">
                <label for="priority">{{'ORDER.PRIORITY' | translate}}: <i style="color: red;">*</i></label>
                <select [(ngModel)]="newOrder.fK_Priority_Id" name="fK_Priority_Id" class="form-control"
                        [disabled]="true">
                  <option *ngFor="let t of Periorities" [value]="t.id">{{t.name}}</option>
                </select>
              </div>

              <div class="form-group halfInput">
                <label for="priority">{{'ORDER.PouredElement' | translate}}: </label>
                <select [(ngModel)]="newOrder.fK_ElementToBePoured_Id" name="fK_ElementToBePoured_Id" class="form-control">
                  <option *ngFor="let t of allItemsToPoured" [value]="t.id">{{t.name}}</option>
                </select>
              </div>

              <div class="form-group halfInput">
                <label for="Amount">{{'SHARED.AMOUNT' | translate}}: <i style="color: red;">*</i></label>
                <input name="amount" type="text" (focusout)="checkPriceValidaity(newOrder.amount)"
                       [(ngModel)]="newOrder.amount" class="form-control" id="Amount" required
                       maxlength="6">

              </div>

              <div class="form-group halfInput">
                <label for="description">{{'SHARED.REMARK' | translate}}:</label>
                <textarea rows="5" cols="60" [(ngModel)]="newOrder.description"
                          name="description"
                           id="description"></textarea>
              </div>


            </div>

            <div class="col-md-6 col-xs-12">



              <div class="form-group halfInput">
                <label for="dates">{{'ORDER.FIRST_DATE' | translate}}: <i style="color: red;">*</i></label>


                <p-calendar showTime="true" [minDate]="currentDate" [readonlyInput]="false" name="startDate" dateFormat="dd/mm/yy"
                            [(ngModel)]="newOrder.startDate" required="true" [disabled]="isAdmin"
                            [showIcon]="true"></p-calendar>

              </div>

              <div class="form-group halfInput">
                <label for="dates">{{'ORDER.ALT_DATE' | translate}}: </label>


                <p-calendar showTime="true" [minDate]="currentDate" [readonlyInput]="false" name="endDate" dateFormat="dd/mm/yy"
                            [(ngModel)]="newOrder.endDate" [disabled]="isAdmin"
                            [showIcon]="true"></p-calendar>
              </div>

              <!--<div class="form-group halfInput">
                <label for="dates">{{'ORDER.PouringTime' | translate}}: </label>


                <p-calendar showTime="true" [minDate]="currentDate" [readonlyInput]="false" name="pouringTime" dateFormat="dd/mm/yy"
                            [(ngModel)]="newOrder.pouringTime" [disabled]="isAdmin"
                            [showIcon]="true"></p-calendar>
              </div>-->


            </div>

            <i *ngIf="orderCount" style="color:red;">
              NOTE: There are {{orderCount}} orders in this day
              {{newOrder.startDate | date}}
            </i>



          </div>
        </div>
        <div class="modal-footer confirm-footer">
          <i style="color: red;" class="pull-left">* This fields are required.</i>
          <br />
          <!--<i style="color: red; " class="pull-left"-->
          <!--[hidden]="isStartAllowed">-->
          <!--The selected contract ends before this First Date!-->
          <!--</i>-->
          <button type="submit" class="btn btn-success" [ngClass]="{'isOn': isOn, 'isDisabled': isDisabled}"
                  [disabled]="isDisableSaveAdd">
            {{'SHARED.CONFIRM' | translate}}
          </button>
          <button type="button" class="btn btn-primary" (click)="Resetall()"> {{'SHARED.CANCEL' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddNewLocation">
  <div class="modal-dialog SmallModal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'LOCATION.NEW_LOCATION' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <!--<div class="col-xs-12 ">-->
          <!--<h5>please enter a PACI# ,or choose the site location details</h5>-->
          <!--</div>-->
          <div class="col-xs-12">

            <div class="form-group halfInput">
              <label for="PACI">PACI# :</label>
              <input type="text" [(ngModel)]="PACI" class="form-control" id="PACI" (keyup)="checktoSearch($event)"
                     maxlength="8" (keypress)="keyPress($event)">

            </div>

            <div class="form-group halfInput">
              <label for="title">{{'LOCATION.TITLE' | translate}} : <span style="color:brown">*</span></label>
              <input type="text" [(ngModel)]="newLocation.title" class="form-control" id="title" required>
            </div>

            <div class="form-group halfInput">
              <label for="Government">{{'LOCATION.GOVERNORATE' | translate}}: <span style="color:brown">*</span></label>
              <select [(ngModel)]="newLocation.Government" class="form-control" (change)='CallArea();isDirty=true'
                      [disabled]="showG" required>
                <option *ngFor="let t of Governorates" [value]="t.id">{{t.name}}</option>
              </select>
            </div>

            <div class="form-group halfInput">
              <label for="area">{{'LOCATION.AREA' | translate}}: <span style="color:brown">*</span></label>
              <select [(ngModel)]="newLocation.area" class="form-control" (change)='CallBlock();isDirty=true'
                      [disabled]="showA" required>
                <option *ngFor="let t of areas" [value]="t.id">{{t.name}}</option>
              </select>
            </div>

            <div class="form-group halfInput">
              <label for="block">{{'LOCATION.BLOCK' | translate}}: <span style="color:brown">*</span></label>
              <select [(ngModel)]="newLocation.block" class="form-control" (change)='CallStreet();isDirty=true'
                      [disabled]="showB" required>
                <option *ngFor="let t of blocks" [value]="t.name">{{t.name}}</option>
              </select>

            </div>
            <div class="form-group halfInput">
              <label for="street">{{'LOCATION.STREET' | translate}}: <span style="color:brown">*</span></label>
              <select [(ngModel)]="newLocation.street" class="form-control" (change)='CallGetStreat();isDirty=true'
                      [disabled]="showS" required>
                <option *ngFor="let t of streets" [value]="t.id">{{t.name}}</option>
              </select>

            </div>

            <div class="form-group halfInput">
              <label for="note">{{'SHARED.REMARK' | translate}}: </label>
              <textarea class="form-control" id="note" [(ngModel)]="AddedNewLocation.addressNote"></textarea>
            </div>

          </div>

        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="createNewLocation('editWorkOrder')"
                [disabled]="!newLocation.title || !newLocation.Government || !newLocation.area || !newLocation.block || !newLocation.street">
          {{
'SHARED.CONFIRM' |
          translate
          }}
        </button>
        <!-- <button type="button" class="btn btn-success" (click)="createNewLocation('addWorkOrder')"> Save </button>                 -->
        <button type="button" class="btn btn-primary" (click)="ResetallLocation()">
          {{'SHARED.CANCEL' | translate}}
        </button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddNewLocation2">
  <div class="modal-dialog SmallModal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'LOCATION.NEW_LOCATION' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <!--<div class="col-xs-12 ">-->
          <!--<h5>please enter a PACI# ,or choose the site location details</h5>-->
          <!--</div>-->
          <div class="col-xs-12">

            <div class="form-group halfInput">
              <label for="PACI">PACI# :</label>
              <input type="text" [(ngModel)]="PACI" class="form-control" id="PACI" (keyup)="checktoSearch($event)">

            </div>
            <div class="form-group halfInput">
              <label for="title">{{'LOCATION.TITLE' | translate}} : <span style="color:brown">*</span></label>
              <input type="text" [(ngModel)]="newLocation.title" class="form-control" id="title" required>

            </div>
            <div class="form-group halfInput">
              <label for="Government">{{'LOCATION.GOVERNORATE' | translate}}: <span style="color:brown">*</span></label>
              <select [(ngModel)]="newLocation.Government" class="form-control" (change)='CallArea();isDirty=true'
                      [disabled]="showG" required>
                <option *ngFor="let t of Governorates" [value]="t.id">{{t.name}}</option>
              </select>

            </div>
            <div class="form-group halfInput">
              <label for="area">{{'LOCATION.AREA' | translate}}: <span style="color:brown">*</span></label>
              <select [(ngModel)]="newLocation.area" class="form-control" (change)='CallBlock();isDirty=true'
                      [disabled]="showA" required>
                <option *ngFor="let t of areas" [value]="t.id">{{t.name}}</option>
              </select>

            </div>
            <div class="form-group halfInput">
              <label for="block">{{'LOCATION.BLOCK' | translate}}: <span style="color:brown">*</span></label>
              <select [(ngModel)]="newLocation.block" class="form-control" (change)='CallStreet();isDirty=true'
                      [disabled]="showB" required>
                <option *ngFor="let t of blocks" [value]="t.name">{{t.name}}</option>
              </select>

            </div>
            <div class="form-group halfInput">
              <label for="street">{{'LOCATION.STREET' | translate}}: <span style="color:brown">*</span></label>
              <select [(ngModel)]="newLocation.street" class="form-control" (change)='CallGetStreat();isDirty=true'
                      [disabled]="showS" required>
                <option *ngFor="let t of streets" [value]="t.id">{{t.name}}</option>
              </select>

            </div>
            <div class="form-group halfInput">
              <label for="note">{{'SHARED.REMARK' | translate}}: </label>
              <textarea class="form-control" id="note" [(ngModel)]="AddedNewLocation.addressNote"></textarea>
            </div>

          </div>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <!-- <button type="button" class="btn btn-success" (click)="createNewLocation('editWorkOrder')"> Save </button> -->
        <button type="button" class="btn btn-success" (click)="createNewLocation('addWorkOrder')"
                [disabled]="!newLocation.title || !newLocation.Government || !newLocation.area || !newLocation.block || !newLocation.street">
          {{
'SHARED.CONFIRM' |
          translate
          }}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetallLocation()">
          {{'SHARED.CANCEL' | translate}}
        </button>
      </div>

    </div>
  </div>
</div>


<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="confirmDelete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.ConfirmDelete' | translate}}</h4>
      </div>
      <div class="delete">
        <div class="row">
          <div class="col-xs-12">
            <h5 class="orderPad">Are you sure you want to delete this order ?</h5>
          </div>
        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="ConfirmDelete()">{{'SHARED.YES' | translate}}</button>
        <button type="button" class="btn btn-primary"
                (click)="cancelDelete()">
          {{'SHARED.NO' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
