<div class="col-xs-12 EditPanel" *ngIf="FactoryUsers">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" [disabled]='selectedFactoryUser.length!=0'
              (click)="addDispatcherToFactory=true">
        {{'SHARED.ADD_NEW' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedFactoryUser.length!=1'
              (click)="editDispatcherToFactory=true">
        {{'SHARED.EDIT' | translate}}
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button type="button" class="btn btn-danger" [disabled]='selectedFactoryUser.length!=1'
              (click)="DeleteDispatcherToFactory()">
        {{'SHARED.REMOVE' | translate}}
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>

    <div class="cs-loader">
        <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo"/>
    </div>
    
    <div class="col-xs-12">
      <ngx-datatable class="material expandable" [rows]="FactoryUsers" [columnMode]="'force'"
                     [columns]="FactoryUserColumns"
                     [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5"
                     [selected]="selectedFactoryUser"
                     [selectionType]="'checkbox'">
        <!--<ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
          [checkboxable]="true">
        </ngx-datatable-column>-->

        <ngx-datatable-column
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="false"
          [checkboxable]="true">
        </ngx-datatable-column>

        <!--<ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
          <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
        </ng-template>-->
        <ngx-datatable-column [width]='120' prop="id" name="
        {{'SHARED.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="controller.userName" name="
        {{'SHARED.USER_NAME' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="factory.name" name="
        {{'ORDER.FACTORY' | translate}}"></ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>


<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editDispatcherToFactory || addDispatcherToFactory"></div>

<div class="modal fade in confirm-popup" *ngIf="editDispatcherToFactory">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{'SHARED.EDIT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="id">
                  {{'SHARED.ID' | translate}}</label>
                <input type="text" [(ngModel)]="selectedFactoryUser[0].id" class="form-control" id="id" name="id"
                       #id="ngModel" [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label for="">
                  {{'SHARED.USER_NAME' | translate}}: </label>
                <select [(ngModel)]="selectedFactoryUser[0].controller.id" class="form-control"
                        [ngModelOptions]="{standalone: true}"
                        required>
                  <option *ngFor="let item of dispatchers" value="{{item.id}}"> {{item.userName}}</option>
                </select>
              </div>


              <div class="form-group halfInput">
                <label for="">
                  {{'ORDER.FACTORY' | translate}}: </label>
                <select [(ngModel)]="selectedFactoryUser[0].factory.id" class="form-control"
                        [ngModelOptions]="{standalone: true}"  required>
                  <option *ngFor="let item of factories" value="{{item.id}}"> {{item.name}}</option>
                </select>
              </div>

            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="EditDispatcherToFactory()">
          {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()">
          {{'SHARED.CANCEL' | translate}}
        </button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="addDispatcherToFactory">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-titl">
          {{'SHARED.ADD_NEW' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="">
                  {{'SHARED.USER_NAME' | translate}}: </label>
                <select [(ngModel)]="newAssign.userId" class="form-control"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)='isDirty=true'
                        required>
                  <option *ngFor="let item of dispatchers" value="{{item.id}}"> {{item.userName}}</option>
                </select>
              </div>
              <div class="form-group halfInput">
                <label for="">
                  {{'ORDER.FACTORY' | translate}}: </label>
                <select [(ngModel)]="newAssign.factoryId" class="form-control"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)='isDirty=true'
                        required>
                  <option *ngFor="let item of factories" value="{{item.id}}"> {{item.name}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAdd(form)"
                [disabled]="!newAssign.userId || !newAssign.factoryId">

          {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()">
          {{'SHARED.CANCEL' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
