<div id="mySidenav" class="sidenav">

  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <a routerLink="./" (click)="closeNav()"> <span class="glyphicon glyphicon-home IconMenue"></span> Home</a>

  <a *ngIf="callCenterRole || salesRole || adminRole" (click)="routeToSearch()" style="cursor: pointer">
    <span class="glyphicon glyphicon-search IconMenue"></span> Search
    Customer
  </a>

  <a routerLink="./search/orderConfirmation" *ngIf="adminRole" (click)="closeNav()">
    <span class="glyphicon glyphicon-search IconMenue"></span> Order Confirmation
  </a>

  <a *ngIf="salesRole || adminRole" routerLink="./search/new" (click)="closeNav()">
    <span class="glyphicon glyphicon-plus IconMenue"></span> Add New
    Customer
  </a>

  <a routerLink="./admin" *ngIf="adminRole" (click)="closeNav()">
    <span class="glyphicon glyphicon-cog IconMenue"></span>
    Admin Page
  </a>

  <a routerLink="./workOrderBoard" *ngIf="movementRole || dispatcherRole || adminRole" (click)="closeNav()">
    <span class="glyphicon glyphicon-cog IconMenue"></span> Work
    order
  </a>

  <a routerLink="./workOrderBoardCalendar" *ngIf="movementRole"
     (click)="closeNav()">
    <span class="glyphicon glyphicon-cog IconMenue"></span>
    Work order Calendar
  </a>

  <a routerLink="./tracking" *ngIf="movementRole || dispatcherRole || callCenterRole || adminRole" (click)="closeNav()">
    <span class="glyphicon glyphicon-cog IconMenue"></span> Tracking
  </a>

  <a routerLink="./report" *ngIf="movementRole || dispatcherRole || adminRole" (click)="closeNav()">
    <span class="glyphicon glyphicon-cog IconMenue"></span> Report
  </a>

  <a routerLink="./operations" *ngIf="operatorRole || adminRole" (click)="closeNav()">
    <span class="glyphicon glyphicon-wrench IconMenue"></span>
    Operations
  </a>

  <a routerLink="./workOrderBoard/FactoryVehicles" *ngIf="dispatcherRole" (click)="closeNav()">
    <span class="glyphicon glyphicon-wrench IconMenue"></span>
    Change Vechile Status
  </a>

  <!-- <button (click)="someFunction()">someFunction</button> -->
</div>

<div id="main">
  <app-main-header-component></app-main-header-component>
  <span *ngIf="toggleMenuIcon" class="menueIcon" (click)="openNav()">&#9776;</span>
  <div class="card">
    <div class="container StaticBack">
      <div class="row">
        <div class="card-body">
          <!-- <spinner [size]="50" [tickness]="5" class="app-spinner" *ngIf="showSpinner" color="#00566a"></spinner>       -->
          <app-alert-component class="alertInfo"></app-alert-component>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <app-footer-component></app-footer-component>
</div>
