<div class="col-xs-12 EditPanel">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" [disabled]='selectedComplain.length!=0' (click)="AddComplains=true" *ngIf="!isSales">
        {{'COMPLAIN.NEW_COMPLAIN'| translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedComplain.length!=1'
              (click)="editComplains=true" *ngIf="!isSales">{{'SHARED.EDIT'| translate}}
        <span class="glyphicon glyphicon-edit"></span></button>
      <button type="button" class="btn btn-danger" [disabled]='selectedComplain.length!=1' (click)="DeleteItem()" *ngIf="!isSales">
        {{'SHARED.REMOVE'| translate}}
        <span class="glyphicon glyphicon-remove"></span></button>
      <!-- <button type="button" class="btn btn-danger" [disabled]='selectedComplain.length < 2'> Delete All <span class="glyphicon glyphicon-remove"></span> </button> -->
    </div>

    <div class="cs-loader">
      <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo"/>
    </div>

    <div class="col-xs-12">
      <ngx-datatable class="material expandable" [rows]="ComplainInfo" [columnMode]="'force'"
                     [columns]="complainsColumns" [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5"
                     [selected]="selectedComplain" [selectionType]="'selected'">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true"
                              [checkboxable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="fK_Customer_Id" name="  {{'CUSTOMER.ID'| translate}}
      ">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{Customer.id}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="fK_Customer_Id" name="  {{'CUSTOMER.NAME'| translate}}
      ">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{Customer.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="note" name="{{'SHARED.REMARK'| translate}}"></ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>


<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editComplains || AddComplains"></div>

<div class="modal fade in confirm-popup" *ngIf="editComplains">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.EDIT'| translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="customern">{{'CUSTOMER.NAME'| translate}}: </label>
                <input type="text" [(ngModel)]="Customer.name" class="form-control" id="customern" name="customern"
                       #customern="ngModel"
                       [disabled]="true">
              </div>

              <!--<div class="form-group halfInput">
                      <label for="notes">notes: * </label>
                      <input type="text" [(ngModel)]="selectedComplain[0].note" class="form-control" id="notes" name="notes" #notes="ngModel" (ngModelChange)='isDirty=true'
                          [ngClass]="{ 'has-error': firstSubmitTryadd && note.invalid }" required>
                      <small *ngIf="notes.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                                                              notes is required.
                                                      </small>
                  </div>-->

              <div class="form-group halfInput">
                <label for="notes">{{'SHARED.REMARK'| translate}}: * </label>
                <textarea rows="4" cols="50" [(ngModel)]="selectedComplain[0].note" class="form-control" id="notes"
                          name="notes" #notes="ngModel" (ngModelChange)='isDirty=true'
                          [ngClass]="{ 'has-error': firstSubmitTryadd && note.invalid }" required>
                            </textarea>
                <small *ngIf="notes.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  notes is required.
                </small>
              </div>
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="Editcomplain()"> {{'SHARED.CONFIRM'| translate}}</button>
        <button type="button" class="btn btn-primary" (click)="ResetCustInfo()"> {{'SHARED.CANCEL'| translate}}</button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddComplains">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'COMPLAIN.NEW_COMPLAIN'| translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="customern">{{'CUSTOMER.NAME'| translate}}: </label>
                <input type="text" [(ngModel)]="Customer.name" class="form-control" id="customern" name="customern"
                       #customern="ngModel"
                       [disabled]="true">
              </div>
              <!--<div class="form-group halfInput">
                      <label for="notes">notes: * </label>
                      <input type="text" [(ngModel)]="newComplain.note" class="form-control" id="notes" name="notes" #notes="ngModel" (ngModelChange)='isDirty=true'
                          [ngClass]="{ 'has-error': firstSubmitTryadd && notes.invalid }" required>

                <small *ngIf="notes.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                              notes is required.
                      </small>
                  </div>-->
              <div class="form-group halfInput">
                <label for="notes">{{'SHARED.REMARK'| translate}}: * </label>
                <textarea rows="4" cols="50" [(ngModel)]="newComplain.note" class="form-control" id="notes" name="notes"
                          #notes="ngModel" (ngModelChange)='isDirty=true'
                          [ngClass]="{ 'has-error': firstSubmitTryadd && notes.invalid }" required>

                              </textarea>
                <small *ngIf="notes.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  notes is required.
                </small>
              </div>

            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAddContract(form)"> {{'SHARED.CONFIRM'| translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetCustInfo()"> {{'SHARED.CANCEL'| translate}}
        </button>

      </div>

    </div>
  </div>
</div>
