<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-xs-12 mt-10 filter blackdiv">
    <div class="col-xs-12">

      <div class="NotiItem" (click)="ShowNotifications()">
        <i class="Notification"></i>
        <span class="NotiItems" *ngIf="TotalNotification!=0">{{TotalNotification}}</span>
        <div class="AllNotifications" *ngIf="VShowNot">
          <span class="glyphicon glyphicon-remove-circle close" (click)="CloseNot($event)"></span>
          <div class="mt-30"></div>
          <div class="ResultItem" *ngFor="let Noti of NotificationAllData" (click)="ShowNotiOrder(Noti)">
            <span *ngIf="Noti?.code">
              <b> {{Noti?.notificationMassage}} </b>
            </span>
         
          </div>
        </div>
      </div>

      <div class="NotiItem" (click)="ShowReminder()">
        <i class="Reminder"></i>
        <span class="RemiderNotiItems" *ngIf="TotalRemind!=0">{{TotalRemind}}</span>
        <div class="AllReminds" *ngIf="VShowRemind">
          <span class="glyphicon glyphicon-remove-circle close" (click)="CloseRemi($event)"></span>
          <div class="mt-30"></div>
          <div class="ResultItem" *ngFor="let Remind of RemiderAllData" (click)="ShowNotiOrder(Remind)">
            <span>
              <b>{{'ORDER.CODE'|translate}}: </b> {{Remind.code}}
            </span>
          </div>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="priority">{{'ORDER.PRIORITY'|translate}}: </label>
      <select [(ngModel)]="search.selectedPriority" class="form-control">
        <option *ngFor="let t of Periorities" [value]="t.id">{{t.name}}</option>
      </select>
    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category">{{'ORDER.STATUS'|translate}}: </label>
      <select class="form-control" [(ngModel)]="search.selectedStatus">
        <option *ngFor="let t of allStatus" [value]="t.id">{{selectedLang=='en'?t.name:t.arabicName}}</option>
      </select>
    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'SHARED.SEARCH'|translate}}: </label>
      <input type="text" placeholder="Search by work order code" [(ngModel)]="search.searchField" class="form-control"
             id="Amount">

    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category">{{'ORDER.FIRST_DATE'|translate}}: </label>

      <p-calendar class="st" [readonlyInput]="false" name="startDate" dateFormat="dd/mm/yy"
                  [(ngModel)]="search.startDate" [showIcon]="true"></p-calendar>
    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'ORDER.ALT_DATE'|translate}}: </label>
      <p-calendar class="st" [readonlyInput]="false" name="startDate" dateFormat="dd/mm/yy" [(ngModel)]="search.endDate"
                  [showIcon]="true"></p-calendar>
    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'CUSTOMER.NAME'|translate}}: </label>
      <input type="text" class="form-control" placeholder="Search Order by Customer Name"
             [(ngModel)]="search.selectedCus">
    </div>

    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'CUSTOMER.KCRMID'|translate}}: </label>
      <input type="text" class="form-control" placeholder="Search Order by Kcrm Id" [(ngModel)]="search.kcrmId">
    </div>
    <div class="col-xs-12 col-md-3 form-group halfInput">
      <label for="Category"> {{'ADD_NEW_CUSTOMER.PHONE'|translate}}: </label>
      <input type="text" class="form-control" placeholder="Search Order by Customer phone" [(ngModel)]="search.phone">
    </div>
    <button type="button" class="btn btn-default filterButton" (click)="ResetAllSearch()">
      {{'SHARED.SHOW_ALL'|translate}}
    </button>
    <button type="button" class="btn btn-primary filterButton" (click)="filterAll(page.pageNumber)">
      {{'SHARED.FILTER'| translate}}
    </button>

  </div>

  <div class="cs-loader">
    <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
  </div>

  <div class="col-xs-12 mtb-20">
    <div class="row" *ngIf="movementRole || adminRole">
      <div class="container">
        <div class="row">
          <div class="col-xs-12" style="margin-bottom: 5%;">
            <p *ngIf="searchResult.length == 0">no items found</p>

            



            <ngx-datatable #myTable class="material expandable" [rows]="searchResult" [columnMode]="'force'"
                           [offset]="page.pageNumber" [limit]="page.pageSize" [externalPaging]="true"
                           (page)='setPage($event)' [count]="page.totalElements"
                           [headerHeight]="50" [selectionType]="'selected'" [footerHeight]="50" [rowHeight]="50" [scrollbarH]="true">

              <!--<ngx-datatable-column [width]='150' prop="code" [canAutoResize]="false"
  name="{{'ORDER.CODE' | translate}}"></ngx-datatable-column>-->
              <ngx-datatable-column [width]='120' prop="customer.name" [canAutoResize]="false"
                                    name="{{'CUSTOMER.NAME' | translate}}"></ngx-datatable-column>
              <ngx-datatable-column [width]='50' prop="customer.kcrM_Customer_Id" [canAutoResize]="false"
                                    name="{{'CUSTOMER.KCRMID' | translate}}"></ngx-datatable-column>
              n>
              at
              <ngx-datatable-column [width]='100' prop="location.title" [canAutoResize]="false"
                                    name="{{'LOCATION.NAME' | translate}}"></ngx-datatable-column>


              <ngx-datatable-column [width]='160' [canAutoResize]="true" prop="startDate"
                                    name="{{'ORDER.FIRST_DATE' | translate}}">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  {{value | date:'medium'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]='120' prop="endDate" name="{{'ORDER.ALT_DATE' | translate}}">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  {{value | date:'medium'}}
                </ng-template>
              </ngx-datatable-column>
             

              <ngx-datatable-column name="{{'ORDER.STATUS' | translate}}" prop="status">
                <ng-template let-value="value" ngx-datatable-cell-template let-row="row">

                  {{selectedLang=='en' ? value.name: value.arabicName}}

                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-column [width]='60' prop="priority.name" [canAutoResize]="false"
                                    name="{{'ORDER.PRIORITY' | translate}}"></ngx-datatable-column>

              <ngx-datatable-column [width]='80' prop="contract.contractNumber" [canAutoResize]="true"
                                    name="{{'CONTRACT.NUMBER' | translate}}"></ngx-datatable-column>

              <ngx-datatable-column [width]='700' [canAutoResize]="true" prop="Actions">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <!-- <button type="button" class="btn btn-danger" (click)="reassignToFactory(row)"
              *ngIf="movementRole || adminRole">
        <i class="fa fa-industry"></i>
        {{'ORDER.REASSIGN' | translate}}
      </button> -->
                  <button type="button" class="btn btn-success" (click)="editOrder(row)">
                    <i class="fa fa-edit"></i>
                    {{'SHARED.EDIT' | translate}}
                  </button>
                  <button type="button" class="btn" (click)="addEquipment(row)">
                    <i class="fa fa-wrench"></i>
                    {{
'ORDER.ADD_EQUIPMENT'
                    | translate
                    }}
                  </button>
                  <button type="button" *ngIf="(dispatcherRole || adminRole)" class="btn btn-warning" (click)="showAllJobs(row)">
                    <i class="fa fa-cog"></i>
                    {{
'ORDER.SHOW_JOBS' |
                    translate
                    }}
                  </button>


                  <button type="button" *ngIf="(movementRole || adminRole) && (row?.status?.id==1 ||row?.status?.id==2 ||row?.status?.name=='Need To Change Date By Movement Ctrl' )" class="btn btn-info"
                          (click)="showRecomendationModal(row)">
                    <i class="fa fa-calendar-alt"></i>
                    {{'ORDER.RECOMMENDATION_DATE' | translate}}
                  </button>
                  <button type="button" class="btn btn-primary" (click)="ShowOrderDetails(row)">
                    <i class="fa fa-info"></i>
                    {{'ORDER.SHOW_DETAILS' | translate}}
                  </button>

                </ng-template>
              </ngx-datatable-column>


            </ngx-datatable>
</div>
        </div>
      </div>

    </div>

    <div class="row" *ngIf="!movementRole && !adminRole">
      <p *ngIf="searchResult.length == 0">no items found</p>

      <div class="col-xs-12 col-md-3 WorkOrder" *ngFor="let t of searchResult">

        <div class="boardItem" [ngClass]="SetStatusStyle(t?.status?.name)">
          <div class="orderTitle">
            <h4>{{'ORDER.CODE' | translate}}</h4>
            <span class="grayText">{{t?.code}}</span>
          </div>

          <div>
            <!-- <button type="button" class="btn btn-info halfwidthButton" (click)="reassignToFactory(t)"
                    *ngIf="movementRole || adminRole">{{'ORDER.REASSIGN' | translate}}
            </button> -->

            <button type="button" class="btn btn-info halfwidthButton" (click)="editOrder(t)">
              {{'SHARED.EDIT' | translate}}
            </button>

            <button type="button" class="btn btn-info halfwidthButton" (click)="addEquipment(t)">
              {{
'ORDER.ADD_EQUIPMENT'
              | translate
              }}
            </button>

            <button type="button" class="btn btn-info halfwidthButton" (click)="showAllJobs(t)">
              {{
'ORDER.SHOW_JOBS' |
              translate
              }}
            </button>

            <button *ngIf="(movementRole || adminRole) && t.status?.name.toLowerCase() == 'pending'" type="button"
                    style="width: 100%;margin-top: 10px" class="btn btn-info" (click)="showRecomendationModal(t)">
              {{'ORDER.RECOMMENDATION_DATE' | translate}}
            </button>

          </div>

          <div>
            <div class="statusItems">
              <span class="ColorStatus" [ngClass]="SetStatusStyle(t?.status?.name)"></span>
              <span>{{SetStatus(t?.status?.name)}}</span>
            </div>
          </div>

          <div>
            <button type="button" class="btn btn-primary fullWidthButton" (click)="ShowOrderDetails(t)">
              {{'ORDER.SHOW_DETAILS' | translate}}
            </button>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>


<!--/*************/-->
<!--/*View modals*/-->
<!--/*************/-->


<div class="modal-backdrop fade in confirm-popup-fade"
     *ngIf="showWorkOrder|| AddEquipment || editWorkOrder||reassignFactory||ShowJobs||NewJob||CancelJobModal||ReassignOption||showNotifWorkOrder || confirmationDateModal">
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="showWorkOrder">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'ORDER.WORK_ORDER_DETAILS' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12" *ngIf="dispatcherRole">

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PARENT_WORK_ORDER_CODE' | translate}}: </label>
              <input [(ngModel)]="currentOrder.parentWorkOrder.code" type="text" class="form-control" [disabled]="true">
            </div>

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PARENT_WORK_ORDER_AMOUNT' | translate}}: </label>
              <input [(ngModel)]="currentOrder.parentWorkOrder.amount" type="text" class="form-control"
                     [disabled]="true">
            </div>

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PARENT_WORK_ORDER_PENDING_AMOUNT' | translate}}: </label>
              <input [(ngModel)]="currentOrder.parentWorkOrder.pendingAmount" type="text" class="form-control"
                     [disabled]="true">
            </div>
          </div>

          <div class="col-md-6 col-xs-12">

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.CODE' | translate}}: </label>
              <input [(ngModel)]="currentOrder.code" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PERCENT' | translate}}: </label>
              <input [(ngModel)]="currentOrder.percentage" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PENDING_AMOUNT' | translate}}: </label>
              <input [(ngModel)]="currentOrder.pendingAmount" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">{{'SHARED.AMOUNT' | translate}}: </label>
              <input [(ngModel)]="currentOrder.amount" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="priority">{{'ORDER.FACTORY' | translate}}: </label>
              <select class="form-control" [(ngModel)]="currentOrder.fK_Factory_Id" [disabled]="true">
                <option *ngFor="let t of Factories" [value]="t.id">{{t.name}}</option>
              </select>
            </div>
            <div class="form-group halfInput">
              <label for="Title">{{'CONTRACT.NUMBER' | translate}}: </label>
              <input [(ngModel)]="currentOrder.contract.contractNumber" type="text" class="form-control"
                     [disabled]="true">
            </div>

            <!--<div class="form-group halfInput">
              <label for="pouredElement">{{'ORDER.PouredElement' | translate}}:</label>
              <select class="form-control" [(ngModel)]="currentOrder.fK_ElementToBePoured_Id" name="fK_ElementToBePoured_Id" [disabled]="true">
                <option *ngFor="let t of allItemsToPoured" [value]="t.id">{{t.name}}</option>
              </select>
            </div>-->


          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group halfInput">
              <label for="priority">{{'ORDER.PRIORITY' | translate}}: </label>
              <select [(ngModel)]="currentOrder.fK_Priority_Id" class="form-control" [disabled]="true">
                <option *ngFor="let t of Periorities" [value]="t.id">{{t.name}}</option>
              </select>
            </div>

            <div class="form-group halfInput">
              <label for="Category">{{'ORDER.STATUS' | translate}}: </label>
              <select class="form-control" [(ngModel)]="currentOrder.fK_Status_Id" [disabled]="true">
                <option *ngFor="let t of allStatus" [value]="t.id">{{selectedLang=='en'?t.name:t.arabicName}}</option>
              </select>
            </div>

            <div class="form-group halfInput">
              <label style="display:block" for="dates">{{'ORDER.FIRST_DATE' | translate}}: </label>


              <p-calendar showTime="true" [readonlyInput]="true" name="startDate" dateFormat="dd/mm/yy"
                          [(ngModel)]="currentOrder.startDate" required="true" [disabled]="true"
                          [showIcon]="true"></p-calendar>
            </div>

            <div class="form-group halfInput">
              <label style="display:block" for="dates">{{'ORDER.ALT_DATE' | translate}}: </label>

              <p-calendar showTime="true" [readonlyInput]="false" name="endDate" dateFormat="dd/mm/yy"
                          [(ngModel)]="currentOrder.endDate" required="true" [disabled]="true"
                          [showIcon]="true"></p-calendar>
            </div>
            <div class="form-group halfInput">
              <label for="LOCATION">{{'LOCATION.LocationTitle' | translate}}: </label>
              <input class="form-control" [(ngModel)]="currentOrder.location.title" [disabled]="true">
            </div>

            <div class="form-group halfInput">
              <label for="Title">{{'CUSTOMER.NAME' | translate}}: </label>
              <input [(ngModel)]="currentOrder.customer.name" type="text" class="form-control"
                     [disabled]="true">
            </div>

            <div class="form-group halfInput" *ngIf="currentOrder.items !==null">
              <label for="mixType">{{'CONTRACT.READY_MIX_TYPE' | translate}}: </label>
              <input [(ngModel)]="currentOrder.items.name" name="mixType" type="text" class="form-control"
                     [disabled]="true">
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-primary" (click)="Resetall()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="AddEquipment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{'ORDER.ADD_EQUIPMENT_TO' | translate}}
          <span class="titleSmall">{{currentOrder.code}}</span>
        </h4>
      </div>
      <div class="modal-body graymodal">
        <div class="row">
          <div class="col-xs-6">
            <span class="titleEquipment">{{'ORDER.AVAILABLE_EQUIPMENTS' | translate}}</span>
          </div>
          <div class="col-xs-6">
            <span class="titleEquipment">
              <span class="glyphicon glyphicon-ok-circle"></span> {{'ORDER.ASSIGNED_EQUIPMENTS' | translate}}
            </span>
          </div>

          <div class='col-xs-6 dragulaContainer' [dragula]='"another-bag"' [dragulaModel]='AllEqui' *ngIf="AllEqui">
            <div class="items" *ngFor='let all of AllEqui'>
              {{all.name}}
            </div>
          </div>

          <div class='col-xs-6 dragulaContainer ourEquipment' [dragula]='"another-bag"' [dragulaModel]='itemEqui'
               *ngIf="itemEqui">
            <div class="items" *ngFor='let item of itemEqui'>
              {{item.name}}
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="saveEquipments()">
          {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="Resetall()">{{'SHARED.CANCEL' | translate}}</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="editWorkOrder">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.EDIT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-6 col-xs-12">

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.CODE' | translate}}: </label>
              <input [(ngModel)]="currentOrder.code" type="text" class="form-control" [disabled]="true">
            </div>


            <!--<div class="form-group halfInput">-->
            <!--<label for="Title">Percentage: </label>-->
            <!--<input [(ngModel)]="currentOrder.percentage" type="text" class="form-control">-->
            <!--</div>-->

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PENDING_AMOUNT' | translate}}: </label>
              <input [(ngModel)]="currentOrder.pendingAmount" type="text" class="form-control"
                     [disabled]="true" >
            </div>

            <div class="form-group halfInput">
              <label for="Title">{{'SHARED.AMOUNT' | translate}}: </label>
              <input [(ngModel)]="currentOrder.amount" type="text" class="form-control"
                     [disabled]="true" maxlength="6"
                     (keypress)="keyPressNegative($event);keyPress($event)">
            </div>

            <div class="form-group halfInput">
              <label for="Title">{{'CUSTOMER.NAME' | translate}}: </label>
              <input [(ngModel)]="currentOrder.customer.name" type="text" class="form-control"
                     [disabled]="true">
            </div>

            <div class="form-group halfInput">
              <label for="REMARK">{{'SHARED.REMARK' | translate}}: </label>
              <input [(ngModel)]="currentOrder.description" type="text" name="REMARK" class="form-control" [disabled]="true">
            </div>


            <div class="form-group halfInput">
              <label for="pouredElement">{{'ORDER.PouredElement' | translate}}:</label>
              <select class="form-control" [(ngModel)]="currentOrder.fK_ElementToBePoured_Id" name="fK_ElementToBePoured_Id" [disabled]="true">
                <option *ngFor="let t of allItemsToPoured" [value]="t.id">{{t.name}}</option>
              </select>
            </div>

          </div>

          <div class="col-md-6 col-xs-12">
            <div class="form-group halfInput">
              <label for="priority">{{'ORDER.PRIORITY' | translate}}: </label>
              <select [disabled]="true" [(ngModel)]="currentOrder.fK_Priority_Id" class="form-control">
                <option *ngFor="let t of Periorities" [value]="t.id">{{t.name}}</option>
              </select>
            </div>

            <div class="form-group halfInput">
              <label for="Category">{{'ORDER.STATUS' | translate}}: </label>
              <select class="form-control" (change)=enableALtDate() [(ngModel)]="currentOrder.fK_Status_Id">
                <option *ngFor="let t of allStatus" [value]="t.id">{{selectedLang=='en'?t.name:t.arabicName}}</option>
              </select>
            </div>

            <div class="form-group halfInput">
              <label for="dates">{{'ORDER.FIRST_DATE' | translate}}: </label>
              <!--<input type="date" [disabled]="true" [ngModel]="currentOrder.startDate | date:'MMM d, y, h:mm:ss a'"
                     (ngModelChange)="currentOrder.startDate = $event" class="form-control" name="bday">-->

              <p-calendar showTime="true" [minDate]="currentDate" [readonlyInput]="false" name="startDate" dateFormat="dd/mm/yy"
                          [(ngModel)]="currentOrder.startDate" required="true" [disabled]="true" class="frmCtrl"
                          [showIcon]="true"></p-calendar>
            </div>

            <div class="form-group halfInput">
              <label for="dates">{{'ORDER.ALT_DATE' | translate}}: </label>
              <!--<input type="date" [disabled]="isAllowed" [ngModel]="currentOrder.endDate | date:'yyyy-MM-dd'"
                         (ngModelChange)="currentOrder.endDate = $event" class="form-control" name="bday">-->

              <p-calendar showTime="true" [minDate]="currentDate" [readonlyInput]="false" name="endDate" dateFormat="dd/mm/yy"
                          [(ngModel)]="currentOrder.endDate" required="true" [disabled]="true" class="frmCtrl"
                          [showIcon]="true"></p-calendar>
            </div>
            <div class="form-group halfInput">
              <label for="LOCATION">{{'LOCATION.LocationTitle' | translate}}: </label>
              <input class="form-control" [(ngModel)]="currentOrder.location.title" [disabled]="true">
            </div>

          </div>

          <!--*************** Assign  and select factory ********************-->

          <div *ngIf="(movementRole || adminRole) && (currentOrder.status?.name.toLowerCase() == 'approved' ||
              currentOrder.status?.name.toLowerCase() == 'pending')|| !assignedFactory || !oneFactory && !dispatcherRole"
               class="col-xs-12">

            <div class="row">
              <div class="col-xs-12">

                <hr />

              </div>

              <div class="col-md-6 col-xs-12">

                <input type="radio" [(ngModel)]="selectedState" id="assign" name="assign" value="assign">
                <label for="option" (click)="setSelectedState('assign')">{{'ORDER.ASSIGN' | translate}}</label>

                <br>

                <div class="form-group halfInput">
                  <label for="Amount">{{'ORDER.SELECTED_FACTORY' | translate}}:</label>
                  <select class="form-control" [(ngModel)]="assignedFactory"
                          (ngModelChange)='assignedFactory=assignedFactory'
                          [disabled]="selectedState!= 'assign'|| currentOrder.fK_Status_Id == 4">
                    <option *ngFor="let t of Factories" [value]="t.id">{{t.name}}</option>
                  </select>
                </div>

              </div>

              <div class="col-md-6 col-xs-12">
                <input type="radio" [(ngModel)]="selectedState" id="divide" name="divide" value="divide">
                <label for="option" (click)="setSelectedState('divide')">{{'ORDER.DIVIDE' | translate}}</label>
                <br>

                <div class="form-group halfInput">
                  <label for="Amount">
                    <span class="glyphicon glyphicon-plus"> </span>{{'ORDER.ADD_FACTORY' | translate }}:
                  </label>
                  <select class="form-control" [(ngModel)]="oneFactory" [disabled]="selectedState!='divide'"
                          (change)='AddToListofFactories()'>
                    <option *ngIf="!oneFactory" [value]="undefined">-- Select Factory --</option>
                    <option *ngFor="let t of Factories" [value]="t.id">{{t.name}}</option>
                  </select>
                </div>

                <div class="alert alert-info"
                     *ngIf="TotalAssignedFactories > 0 && TotalAssignedFactories < currentOrder.amount">
                  <strong>Assigned Amount is : {{TotalAssignedFactories}}</strong>
                </div>

                <div class="alert alert-danger" *ngIf="TotalAssignedFactories > currentOrder.amount">
                  <strong>Not valid!</strong> the total must be {{currentOrder.amount}} .
                </div>

                <div class="alert alert-danger" *ngIf="invalidTotalAmount">
                  <strong>Not valid!</strong> the total must be {{currentOrder.amount}} .
                </div>

                <div class="AllFactoris halfInput" *ngFor="let f of ListOfDividesFactories">
                  <div class="form-group halfInput">
                    <select class="form-control" [(ngModel)]="f.id" [disabled]="true">
                      <option *ngFor="let t of Factories" [value]="t.id">{{t.name}}</option>
                    </select>
                    <input type="number" min="1" class="form-control" [(ngModel)]="f.amount"
                           (ngModelChange)='getTotalAmount()'>
                    <span class="percentageIcon"></span> <span class="DeleteFactory glyphicon glyphicon-remove"
                                                               (click)="DeleteFactoryPer(f.id)"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--*********************************************-->

        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="saveWorkOrderEdits()" *ngIf="enableOrderEdit">
          {{'SHARED.CONFIRM' | translate}}
        </button>

        <button type="button" class="btn btn-primary" (click)="Resetall()">
          {{
'SHARED.CANCEL' |
          translate
          }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp reassignModal" *ngIf="reassignFactory">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{
'ORDER.REASSIGN' |
          translate
          }}
          <span class="titleSmall">{{currentOrder.code}}</span> to another factory
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group halfInput">
              <label for="priority">
                {{
'ORDER.FACTORY' |
                translate
                }}:
              </label>
              <select class="form-control" [(ngModel)]="assignedFactory">
                <option *ngFor="let t of Factories" [value]="t.id">{{t.name}}</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="ReassigntoNewFactory()">
          {{'SHARED.CONFIRM' | translate}}
        </button>

        <button type="button" class="btn btn-primary" (click)="Resetall()">
          {{
'SHARED.CANCEL' |
          translate
          }}
        </button>

      </div>

    </div>
  </div>
</div>


<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="showJobAmount">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'ADD_NEW_CUSTOMER.INFO' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h5>{{'SHARED.TheJobQuantity' | translate}} {{amount}}</h5>
          </div>
        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-primary"
                (click)="closeModel()">
          {{'SHARED.Close' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp reassignModal" *ngIf="ShowJobs">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{
'JOB.TITLE' |
          translate
          }} :
          <span class="titleSmall">{{currentOrder.code}}</span>
        </h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <span class="Addjob" *ngIf="dispatcherRole" (click)="AddNewJob(currentOrder)">
              <span class="glyphicon glyphicon-plus"></span>{{
'JOB.NEW_JOB' |
          translate
              }}
            </span>
            <p *ngIf="!JobsAll.length && (movementRole || adminRole)">
              {{
'JOB.TITLE' |
              translate
              }}
            </p>
          </div>

          <div class="col-xs-12">
            <div class="JobItem" *ngFor="let t of JobsAll;let i = index" [attr.data-index]="i">
              

              <h4>Job Status:<span style="color:blue">{{getStatusName(t.fK_Status_Id)}}</span><br /><span *ngIf="t.isDamaged" style="color:red"><i class="fa fa-exclamation-triangle"  aria-hidden="true"></i>The concrete mix exceeded th regular temp.</span></h4>
              <div class="form-group halfInput">
                <label for="priority">{{'JOB.VEHICLE'|translate}}: </label>
                <select class="form-control" [(ngModel)]="t.fK_Vehicle_Id" [disabled]="true">
                  <option *ngFor="let v of vehicles" [value]="v.id">{{v.number}}</option>
                </select>
              </div>
              <progressbar *ngIf="JobsAll.length > 0" [animate]="true" [value]="getcurrentValue(t)" [type]="type">
                <b>{{getcurrentValue2(t)}}</b>
              </progressbar>
              <div class="form-group halfInput" *ngIf="t.fK_Status_Id == 4">
                <label for="priority">{{'JOB.CANCELLATIONREASON'|translate}}: </label>
                <textarea class="form-control" [(ngModel)]="t.cancellationReason" readonly [disabled]="true">
                </textarea>
              </div>


              <div class="allbuttons" *ngIf="t.fK_Status_Id != 4">
                <button type="button" class="btn btn-success" [disabled]="t.fK_Status_Id == 7||t.fK_Status_Id == 5" (click)="ReassignJob(t.id)">
                  {{
'ORDER.REASSIGN'|
                  translate
                  }}
                </button>
                <button type="button" class="btn btn-danger" [disabled]="t.fK_Status_Id == 7||t.fK_Status_Id == 5" (click)="CancelJob(t.id)">
                  {{'SHARED.CANCEL'|translate}}
                </button>
                <button type="button" class="btn btn-primary" [disabled]="t.fK_Status_Id == 7||t.fK_Status_Id == 5" (click)="JobDone(t.id)">
                  {{'SHARED.JobDone'|translate}}
                </button>
                <button type="button" class="btn btn-info" (click)="JobQuantity(t)">
                  {{'SHARED.JobQuantity'|translate}}
                </button>
                <!--<button type="button" class="btn btn-default" [disabled]="true">-->
                <!--<span class="glyphicon glyphicon-map-marker"></span> Show on mab-->
                <!--</button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <!-- <button type="button" class="btn btn-success" (click)="ReassigntoNewFactory()"> Save </button> -->
        <button type="button" class="btn btn-primary" (click)="Resetall()">{{'SHARED.Close'|translate}}</button>

      </div>

    </div>
  </div>
</div>


<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="makeJobDone">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.CONFIRM' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h5>Are you sure you want to make the job done ?</h5>
          </div>
        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="confirmDoneJob()">{{'SHARED.YES' | translate}}</button>
        <button type="button" class="btn btn-primary"
                (click)="cancelJobDone()">
          {{'SHARED.NO' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in confirm-popup " *ngIf="NewJob">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{'JOB.ADD_NEW_JOB_TO'| translate}} :
          <span class="titleSmall">{{currentOrder.code}}</span>
        </h4>
      </div>

      <form #newJobForm="ngForm" (ngSubmit)="newJobForm.valid && AddNewJobdata(currentOrder)">

        <div class="modal-body">

          <div class="row">
            <div *ngIf="AllVehicle && !showNote">

              <div class="col-xs-12 col-md-5">
                <div class="form-group halfInput">
                  <label for="priority">{{'JOB.VEHICLE'|translate}}: </label>
                  <select class="form-control" name="fK_Vehicle_Id" required [(ngModel)]="newJobItem.fK_Vehicle_Id"
                          [disabled]="AllVehicle.length == 0">
                    <option *ngFor="let t of AllVehicle" [value]="t?.id">{{t?.number}}</option>
                  </select>
                </div>
              </div>

              <div class="col-xs-12 col-md-5">
                <div class="form-group halfInput">
                  <label for="Quantity">{{'SHARED.AMOUNT'|translate}}: </label>
                  <input type="number" required name="amount" [(ngModel)]="newJobItem.amount"
                         class="form-control quanitityItem"
                         id="Quantity" maxlength="6" [disabled]="newJobItem.fK_Vehicle_Id ==''"> m
                  <sup>3</sup>
                </div>
              </div>

              <div class="col-xs-12 col-md-1">
                <button type="button" [disabled]="newJobItem.amount > 0" class="btn btn-primary skip-btn"
                        (click)="toggleNote()">
                  {{'SHARED.SKIP'| translate}}
                </button>
              </div>

            </div>
          </div>

          <div *ngIf="newJobForm.submitted && (newJobForm?.controls?.fK_Vehicle_Id?.invalid || newJobForm?.controls?.amount?.invalid)"
               class="row">
            <div class="col-md-offset-1">
              <p style="color: red">Fields Required</p>
            </div>
          </div>

          <div class="row" *ngIf="showNote" ngModelGroup="reason">
            <div class="col-xs-12 col-md-10">
              <div class="form-group halfInput">
                <label for="Note" style="display: block">{{'JOB.REASON'| translate}}: </label>
                <textarea name="reason" [required]="showNote" [(ngModel)]="newJobItem.deliveryNote" class="form-control"
                          id="Note"></textarea>
              </div>
            </div>

            <div class="col-xs-12 col-md-1">
              <button type="button" class="btn btn-primary skip-btn" (click)="AddNewJobdata(currentOrder, 'skip')"
                      [disabled]="newJobForm.controls?.reason?.controls?.reason?.invalid">
                {{
'SHARED.CONFIRM'|
                translate
                }}
              </button>
            </div>
          </div>

        </div>
        <div class="modal-footer confirm-footer">
          <button type="submit" *ngIf="!showNote" class="btn btn-success">
            {{'SHARED.CONFIRM'| translate}}
          </button>
          <button type="button" class="btn btn-primary" (click)="cancelSidemodal(currentOrder)">
            {{
'SHARED.CANCEL'|
            translate
            }}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="CancelJobModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.CONFIRM' | translate}}:</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group halfInput">
              <label for="priority">{{'JOB.CANCELLATIONREASON'| translate}}: </label>
              <textarea class="form-control" required [(ngModel)]="cancelReason">
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="confirmCancelJob()">{{'SHARED.YES' | translate}}</button>
        <button type="button" class="btn btn-primary"
                (click)="cancelSidemodal(currentOrder)">
          {{'SHARED.NO' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp reassignModal" *ngIf="ReassignOption">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'JOB.MOVE_TO_ANOTHER_ORDER'| translate}} :</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group halfInput">
              <label for="priority">{{'ORDER.NAME'| translate}}: </label>
              <select class="form-control" [(ngModel)]="workOrderAssignTo">
                <option *ngFor="let t of allWorkOrder" [value]="t.id">{{t.code}}</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="confirmReassignJob(currentOrder)">
          {{
'SHARED.CONFIRM'|
          translate
          }}
        </button>
        <button type="button" class="btn btn-primary" (click)="cancelSidemodal(currentOrder)">
          {{
'SHARED.CANCEL'|
          translate
          }}
        </button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="showNotifWorkOrder">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'ORDER.ORDER_DETAILS'| translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12" *ngIf="dispatcherRole">

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PARENT_WORK_ORDER_CODE'| translate}}: </label>
              <input [(ngModel)]="currentOrder.code" type="text" class="form-control" [disabled]="true">
            </div>
            <!--<div class="form-group halfInput">
              <label for="Title">{{'ORDER.PARENT_WORK_ORDER_AMOUNT'| translate}}: </label>
              <input [(ngModel)]="currentOrder.parentWorkOrder.amount" type="text" class="form-control"
                     [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PARENT_WORK_ORDER_PENDING_AMOUNT'| translate}}: </label>
              <input [(ngModel)]="currentOrder.parentWorkOrder.pendingAmount" type="text" class="form-control"
                     [disabled]="true">
            </div>-->
          </div>
          <div class="col-md-6 col-xs-12">

            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.CODE'| translate}}: </label>
              <input [(ngModel)]="currentOrder.code" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PERCENT'| translate}}: </label>
              <input [(ngModel)]="currentOrder.percentage" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">{{'ORDER.PENDING_AMOUNT'| translate}}: </label>
              <input [(ngModel)]="currentOrder.pendingAmount" type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group halfInput">
              <label for="Title">{{'SHARED.AMOUNT'| translate}}: </label>
              <input [(ngModel)]="currentOrder.amount" type="text" class="form-control" [disabled]="true"
                     (keypress)="keyPressNegative($event);keyPress($event)">
            </div>
            <div class="form-group halfInput">
              <label for="priority">{{'ORDER.FACTORY'| translate}}: </label>
              <select class="form-control" [(ngModel)]="currentOrder.fK_Factory_Id" [disabled]="true">
                <option *ngFor="let t of Factories" [value]="t.id">{{t.name}}</option>
              </select>
            </div>


          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group halfInput">
              <label for="priority">{{'ORDER.PRIORITY'| translate}}: </label>
              <select [(ngModel)]="currentOrder.fK_Priority_Id" class="form-control" [disabled]="true">
                <option *ngFor="let t of Periorities" [value]="t.id">{{t.name}}</option>
              </select>
            </div>

            <div class="form-group halfInput">
              <label for="Category">{{'ORDER.STATUS'| translate}}: </label>
              <select class="form-control" [(ngModel)]="currentOrder.fK_Status_Id" [disabled]="true">
                <option *ngFor="let t of allStatus" [value]="t.id">{{selectedLang=='en'?t.name:t.arabicName}}</option>
              </select>
            </div>

            <div class="form-group halfInput">
              <label for="dates">{{'ORDER.FIRST_DATE'| translate}}: </label>
              <input type="date" [ngModel]="currentOrder.startDate | date:'yyyy-MM-dd'"
                     (ngModelChange)="currentOrder.startDate = $event" class="form-control" name="bday" [disabled]="true">
            </div>

            <div class="form-group halfInput">
              <label for="dates">{{'ORDER.ALT_DATE'| translate}}: </label>
              <input type="date" [ngModel]="currentOrder.endDate | date:'yyyy-MM-dd'"
                     (ngModelChange)="currentOrder.endDate = $event" class="form-control" name="bday" [disabled]="true">
            </div>


          </div>
        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-primary" (click)="Resetall()">{{'ORDER.CANCEL'| translate}}</button>

      </div>

    </div>
  </div>
</div>





<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="confirmationDateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-order-confirmation-modal [orderConfirmation]="orderConfirmation"
                                    (isModalClosed)="toggleConfirmationDateModal()"></app-order-confirmation-modal>
    </div>
  </div>
</div>

