
.BackStat{
    width: 100%;
    height:450px;;
}

.loginForm{
    /* background-color: rgba(77, 76, 76, 0.64); */
    background-color: rgba(192, 189, 189, 0.64);
    margin-top: 65px;
    border-radius: 5px;
    min-height: 180px;
}

.alertMsgs{
   margin-top: 20px;
}
.bluetxt{
    color: rgba(18, 120, 255, 0.91);
}
.SmallTxt{
    font-size: 16px;
}
.LogoutBtn{
    position: absolute;
    top: 32px;
    right: 19px;
}