<div class="operations-container">
  <app-search (exportToCsv)="exportCsv(allContracts)" [placeholder]="'contract Number'" (viewAll)="getAllContracts()"
              (searchValue)="search($event)"></app-search>

  <ngx-datatable class="material expandable" [rows]="allContracts" [columnMode]="'force'" [columns]="[]"
                 [headerHeight]="50"
                 [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10">

    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                          [resizeable]="false" [headerCheckboxable]="false"
                          [checkboxable]="false">
    </ngx-datatable-column>

    <ngx-datatable-column [width]='100' prop="contractNumber" name="{{'CONTRACT.NUMBER'| translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='100' prop="contractType.name" name="{{'CONTRACT.TYPE'| translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='100' prop="amount" name="{{'SHARED.AMOUNT'| translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='120' prop="customer.name" name="{{'CUSTOMER.NAME'| translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='120' prop="customer.phone" name="{{'ADD_NEW_CUSTOMER.PHONE'| translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='120' prop="startDateView"
                          name="{{'CONTRACT.START' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='90' prop="endDateView" name="{{'CONTRACT.EXPIRY' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='200' name="{{'SHARED.DETAILS' | translate}}">
      <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

        <button class="btn btn-primary" [routerLink]="[row.id]">{{'SHARED.SHOW_ORDERS' | translate}}</button>

      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
