<div class="col-xs-12 EditPanel">
  <div class="row">
    <div class="col-xs-12 mtb-20" [hidden]="isHideFromLoggedUser">
      <button type="button" class="btn btn-primary" [disabled]='selectedContract.length!=0' (click)="AddContract= true">
        {{'CONTRACT.NEW_CONTRACT' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedContract.length!=1'
              (click)="showEditContractForm()">
        {{'SHARED.EDIT' | translate}} <span class="glyphicon glyphicon-edit"></span>
      </button>


      <button type="button" class="btn btn-danger" [disabled]='selectedContract.length!=1' (click)="DeleteItem()">
        {{'SHARED.REMOVE' | translate}}<span class="glyphicon glyphicon-remove"></span>
      </button>
      <button (click)="exportCsv()" class="btn btn-dark"> {{'SHARED.EXPORT' | translate}} </button>

    </div>
    <div class="col-xs-12 mtb-20" *ngIf="isHideFromLoggedUser">
      <button type="button" class="btn btn-info" [disabled]='selectedContract.length !=1'
              (click)="viewContractDetails()">
        View Detail <span class="glyphicon glyphicon-eye"></span>
      </button>
    </div>



    <div class="col-xs-12">
      <ngx-datatable #myTable class="material expandable" [rows]="ContractInfo" [columnMode]="'force'"
                     [columns]="contractColumns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarH]="true"
                     [offset]="page.pageNumber" [limit]="page.pageSize" [externalPaging]="true"
                     (page)='setPage($event)' [count]="page.totalElements" [selected]="selectedContract" [selectionType]="'selected'">

        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='160' prop="id" name="{{'CONTRACT.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='160' prop="customer.name" name="{{'CUSTOMER.NAME' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='160' prop="contractNumber" name="{{'CONTRACT.NUMBER' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='160' prop="startDate" name="{{'CONTRACT.START' | translate}}">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{value | date:'mediumDate'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]='160' prop="endDate" name="{{'CONTRACT.EXPIRY' | translate}}">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{value | date:'mediumDate'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]='160' prop="contractType.name" name="{{'CONTRACT.TYPE' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='160' prop="remarks" name="{{'SHARED.REMARK' | translate}}">
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>

<div class="modal-backdrop fade in confirm-popup-fade"
     *ngIf="editContract || AddContract || contractAddMixType || contractEditMixType"></div>


<div class="modal fade in confirm-popup" *ngIf="editContract" id="editContact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.EDIT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <!--*** Mix **** Type ***-->

            <div class="form-group halfInput col-md-12 col-xs-12">
              <button class="btn btn-default pull-right" (click)="toggleContractEditMixType()" style="cursor: pointer;">
                <span class="glyphicon glyphicon-plus"></span>{{'CONTRACT.ADD_READY_MIX_TYPE' | translate}}
              </button>
            </div>

            <!--******************************-->

            <div class="col-md-6 col-xs-12">

              <div class="form-group halfInput">
                <label>{{'CONTRACT.TYPE' | translate}}: *</label>
                <select [(ngModel)]="selectedContract[0].fK_ContractType_Id" class="form-control" name="ContractType"
                        #ContractTyp="ngModel" (ngModelChange)='isDirty=true'
                        [ngClass]="{ 'has-error': firstSubmitTry && ContractTyp.invalid }" required>
                  <option *ngFor="let t of ContractType" [value]="t.id">{{t.name}}</option>
                </select>
                <small *ngIf="ContractTyp.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Contract Type is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="ContractNum">{{'CONTRACT.NUMBER' | translate}}:*</label>
                <input type="text" [(ngModel)]="selectedContract[0].contractNumber" class="form-control"
                       id="ContractNum" name="ContractNum" maxlength="15" (keypress)="keyPress($event)"
                       (ngModelChange)='isDirty=true' #ContractNum="ngModel"
                       [ngClass]="{ 'has-error': firstSubmitTry && ContractNum.invalid }" required>
                <small *ngIf="ContractNum.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Contract No. is required.
                </small>
              </div>



              <div class="form-group halfInput">
                <label for="Remark">{{'SHARED.REMARK' | translate}}:</label>
                <textarea type="text" rows="5" class="form-control" [(ngModel)]="selectedContract[0].remarks"
                          (ngModelChange)='isDirty=true' id="remark2" name="remark2" #remark2="ngModel">
                </textarea>
              </div>
            </div>

            <div class="col-md-6 col-xs-12">
              <div class="form-group halfInput">
                <label for="dateS">
                  {{'CONTRACT.START' | translate}}: * <span class="glyphicon glyphicon-calendar"></span>
                </label>


                <p-calendar #startDate="ngModel" [ngClass]="{ 'has-error': firstSubmitTry && startDate.invalid }" name="startDate" dateFormat="dd/mm/yy"
                            [(ngModel)]="selectedContract[0].startDate" required="true"
                            [showIcon]="true"></p-calendar>

                <small *ngIf="startDate.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Start Date is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="dateE">
                  {{'CONTRACT.EXPIRY' | translate}} <span class="glyphicon glyphicon-calendar"></span>
                </label>


                <p-calendar [ngClass]="{ 'has-error': firstSubmitTry && endDate.invalid  }" #endDate="ngModel" name="endDate" dateFormat="dd/mm/yy"
                            [(ngModel)]="selectedContract[0].endDate"
                            [showIcon]="true"></p-calendar>

                <small *ngIf="endDate.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Alternative date is required.
                </small>
              </div>






            </div>


            <div class="col-md-12 col-xs-12">
              <hr>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <div class="col-xs-12">
                    <button class="NewLink btn-link"
                            (click)="showAddNewLocationModal()">
                      {{'LOCATION.NEW_LOCATION' | translate}}
                    </button>
                  </div>
                </div>
              </div>
              <!--<span class="NewLink" (click)="openEditLocationModal()">Edit Location</span>-->
              <div class="row" *ngFor="let loc of contractLocations">
                <hr>
                <div class="form-group halfInput col-xs-12">
                  <button (click)="showEditLocationModal(loc)">Edit {{loc.title}} Location</button>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label for="PACI">PACI# :</label>
                  <span>{{loc.paciNumber}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label for="title">{{'LOCATION.TITLE' | translate}} :</label>
                  <span>{{loc.title}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.GOVERNORATE' | translate}}: </label>
                  <span>{{loc.governorate}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.AREA' | translate}} : </label>
                  <span>{{loc.area}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.BLOCK' | translate}} : </label>
                  <span>{{loc.block}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.STREET' | translate}} : </label>
                  <span>{{loc.street}}</span>
                </div>

                <div class="form-group halfInput col-xs-12">
                  <label for="note">{{'SHARED.REMARK' | translate}} : </label>
                  <span>{{loc.addressNote}}</span>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit(form)">
          {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetCustInfo()">
          {{'SHARED.CANCEL' | translate}}
        </button>

      </div>

    </div>
  </div>
</div>

<div class="cs-loader">
  <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
</div>
<div class="modal fade in confirm-popup" *ngIf="AddContract" id="addContact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'CONTRACT.NEW_CONTRACT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="form-group halfInput col-md-12 col-xs-12">
              <button class="btn btn-default pull-right" (click)="toggleContractAddMixType()" style="cursor: pointer;">
                <span class="glyphicon glyphicon-plus"></span> {{'CONTRACT.ADD_READY_MIX_TYPE' | translate}}
              </button>
            </div>

            <div class="col-md-6 col-xs-12">

              <div class="form-group halfInput">
                <label for="Type">{{'CONTRACT.TYPE' | translate}}: *</label>
                <select [(ngModel)]="newContract.fK_ContractType_Id" class="form-control" name="ContractTyp"
                        #ContractTyp="ngModel" (ngModelChange)='isDirty=true'
                        [ngClass]="{ 'has-error': firstSubmitTryadd && ContractTyp.invalid }" required>
                  <option *ngFor="let t of ContractType" [value]="t.id">{{t.name}}</option>
                </select>
                <small *ngIf="ContractTyp.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  Contract Type is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="ContractNum">{{'CONTRACT.NUMBER' | translate}}: *</label>
                <input type="text" [(ngModel)]="newContract.contractNumber" class="form-control" id="ContractNum"
                       name="ContractNum" maxlength="15" (keypress)="keyPress($event)" (ngModelChange)='isDirty=true'
                       #ContractNum="ngModel" [ngClass]="{ 'has-error': firstSubmitTryadd && ContractNum.invalid }" required>
                <small *ngIf="ContractNum.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  Contract Num is required.
                </small>
              </div>




              <div class="form-group halfInput">
                <label for="Remark">{{'SHARED.REMARK' | translate}}:</label>
                <textarea type="text" class="form-control" [(ngModel)]="newContract.remarks" rows="5"
                          (ngModelChange)='isDirty=true' id="remark2" name="remark2" #remark2="ngModel"></textarea>
              </div>
            </div>

            <div class="col-md-6 col-xs-12">

              <div class="form-group halfInput">
                <label for="dateS">
                  {{'CONTRACT.START' | translate}}: * <span class="glyphicon glyphicon-calendar"></span>
                </label>


                <p-calendar #startDate="ngModel" name="startDate" dateFormat="dd/mm/yy"
                            [(ngModel)]="newContract.startDate" required="true"
                            [showIcon]="true"></p-calendar>


                <small *ngIf="startDate.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  Work Date is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="dateE">
                  {{'CONTRACT.EXPIRY' | translate}} <span class="glyphicon glyphicon-calendar"></span>
                </label>

                <p-calendar #endDate="ngModel" [ngClass]="{ 'has-error': firstSubmitTryadd && endDate.invalid }" name="endDate" dateFormat="dd/mm/yy"
                            [(ngModel)]="newContract.endDate"
                            [showIcon]="true"></p-calendar>


                <small *ngIf="endDate.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  Alternative Date is required.
                </small>
              </div>

              <!--<div class="form-group halfInput">-->
              <!--<label for="location">{{'LOCATION.TITLE' | translate}}:</label>-->
              <!--<select name="fK_Location_Id" id="location"-->
              <!--[(ngModel)]="newContract.fK_Location_Id"-->
              <!--class="form-control">-->
              <!--<option *ngFor="let t of Locations" [value]="t.id">{{t.title}}</option>-->
              <!--</select>-->
              <!--&lt;!&ndash;<span class="NewLink" (click)="AddNewLocation=true;editWorkOrder=false">New Location</span>&ndash;&gt;-->
              <!--</div>-->




            </div>

            <div class="col-md-12 col-xs-12">
              <hr>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <div class="col-xs-12">
                    <button class="NewLink btn-link"
                            (click)="showAddLocationWithContractModal()">
                      {{'LOCATION.NEW_LOCATION' | translate}}
                    </button>
                  </div>
                </div>
              </div>
              <!--<span class="NewLink" (click)="openEditLocationModal()">Edit Location</span>-->
              <div class="row" *ngFor="let loc of contractLocations">
                <hr>
                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label for="PACI">PACI# :</label>
                  <span>{{loc.paciNumber}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label for="title">{{'LOCATION.TITLE' | translate}} :</label>
                  <span>{{loc.title}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.GOVERNORATE' | translate}}: </label>
                  <span>{{loc.governorate}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.AREA' | translate}} : </label>
                  <span>{{loc.area}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.BLOCK' | translate}} : </label>
                  <span>{{loc.block}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.STREET' | translate}} : </label>
                  <span>{{loc.street}}</span>
                </div>

                <div class="form-group halfInput col-xs-12">
                  <label for="note">{{'SHARED.REMARK' | translate}} : </label>
                  <span>{{loc.addressNote}}</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAddContract(form)" [disabled]="isDisableSaveAdd">
          {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetCustInfo()">
          {{'SHARED.CANCEL' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="contractAddMixType" id="addReady">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" (click)="CloseAddReadyMixType()" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>{{'CONTRACT.ADD_READY_MIX_TYPE' | translate}}</h4>
      </div>

      <form #contractAddMixTypeForm="ngForm" (ngSubmit)="contractAddMixTypeForm.valid">
        <div class="modal-body">
          <div class="row">

            <div class="form-group halfInput col-md-12 col-xs-12">
              <button type="button" onClick="document.getElementById('readyMix').scrollIntoView();" class="btn btn-default mixBtn" (click)="AddToListOfMixAdd()"
                      style="cursor: pointer;">
                <span class="glyphicon glyphicon-plus"></span>{{'CONTRACT.ASSIGN_MIX_TYPE' | translate}}
              </button>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success col-md-3"
                      (click)="checkAmountValidity(listOfMixTypesAdd);toggleContractAddMixType()">
                {{'SHARED.CONFIRM' | translate}}
              </button>

            </div>
            <div class="AllFactoris row"
                 *ngFor="let mixType of listOfMixTypesAdd; let i = index;">

              <div class="form-group col-md-4 marginContract">
                <label>{{'CONTRACT.READY_MIX_TYPE' | translate}}</label>
                <select (change)="chooseSelectedType(mixType)" class="form-control" [name]="'id' + i" required
                        [(ngModel)]="mixType.id">
                  <option *ngIf="!mixType.id" [value]="undefined">-- Select Ready Mix Type --</option>
                  <option [hidden]="checkSelectedAdd(type.id)" *ngFor="let type of readyMixTypes" [value]="type.id">
                    {{type.name}}, {{type.description}}
                  </option>
                </select>
              </div>

              <div class="form-group col-md-offset-1 col-md-3">
                <label>{{'SHARED.PRICE' | translate}}</label>

                <input type="number" min="0" step="any" (focusout)="checkNegative(mixType.price)" [name]="'price' + i"
                       [(ngModel)]="mixType.price" class="form-control" id="price">
              </div>
              <div class="form-group col-md-3">
                <button type="button" class="btn btn-danger styleBtn" (click)="removeReadyMixTypeAdd(mixType)">
                  <i class="fa fa-close"></i>{{'SHARED.REMOVE' | translate}}
                </button>
              </div>




            </div>

            <div id="readyMix" class="form-group halfInput col-md-12 col-xs-12">
              <button type="button" class="btn btn-default mixBtn" (click)="AddToListOfMixAdd()"
                      style="cursor: pointer;">
                <span class="glyphicon glyphicon-plus"></span>{{'CONTRACT.ASSIGN_MIX_TYPE' | translate}}
              </button>
            </div>
          </div>
        </div>


      </form>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="contractEditMixType" id="editReady">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button #btnClose type="button" class="close" (click)="CloseEditReadyMixType()" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>{{'CONTRACT.ADD_READY_MIX_TYPE' | translate}}</h4>
      </div>

      <form #contractEditMixTypeForm="ngForm" (ngSubmit)="contractEditMixTypeForm.valid">
        <div class="modal-body">
          <div class="row">

            <div class="form-group halfInput col-md-12 col-xs-12">
              <button type="button" onClick="document.getElementById('unique').scrollIntoView();" class="btn btn-default mixBtn" (click)="AddToListOfMixEdit()"
                      style="cursor: pointer;">
                <span class="glyphicon glyphicon-plus"></span> {{'CONTRACT.ASSIGN_MIX_TYPE' | translate}}
              </button>
            </div>
            <div class="form-group halfInput col-md-12 col-xs-12" *ngIf="showInfo">
              <div class="alert alert-info">
                <strong>Info!</strong> If you want to change the price related to a disabled item you need to create a
                new contract and then add the desired item with the new price .
              </div>
            </div>

            <div class="AllFactoris row"
                 *ngFor="let mixType of selectedContract[0]?.items; let i = index;">
              <div class="form-group col-md-4 marginContract">
                <label>
                  {{'CONTRACT.READY_MIX_TYPE' | translate}}
                </label>
                <p-dropdown (onChange)="showRepeated(mixType)" [filter]="true"
                            filterBy="label,value.code" placeholder="-- Select Ready Mix Type --" [disabled]="this.selectedContract[0].items[i].disabled" [name]="'id' + i"
                            [options]="getReadyMixTypes(mixType)" [(ngModel)]="mixType.fk_Item_Id"></p-dropdown>
              </div>
              <div class="form-group col-md-offset-1 col-md-3">
                <label>{{'SHARED.PRICE' | translate}}</label>
                <input type="number" min="0" step="any" (focusout)="checkNegative(mixType.price)" [name]="'price' + i"
                       [(ngModel)]="mixType.price" class="form-control" id="price" [disabled]="mixType.disabled == true"
                       required>
              </div>
              <!--<button class="btn btn-primary d-block" (click)="getReadyMixTypes(mixType)">click to see potential
              types</button>-->

              <div class="form-group col-md-3">
                <button type="button" class="btn btn-danger styleBtn" (click)="disableReadyMixType(mixType)"
                        [hidden]="mixType.isDisabled == true || mixType.disabled == false">
                  <i class="fa fa-close mr-1"></i>
                  <span>Disable</span>
                </button>
                <div class="bg-warning styleBtn" [hidden]="mixType.isDisabled == false || mixType.disabled == false">
                  This Ready Mix
                  Type is Disabled
                </div>

              </div>
              <hr [hidden]="mixType.disabled == false">
            </div>
            <div id="unique" class="form-group halfInput col-md-12 col-xs-12">
              <button type="button" class="btn btn-default mixBtn" (click)="AddToListOfMixEdit()"
                      style="cursor: pointer;">
                <span class="glyphicon glyphicon-plus"></span> {{'CONTRACT.ASSIGN_MIX_TYPE' | translate}}
              </button>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success  col-md-3" [disabled]="contractEditMixTypeForm.invalid"
                      (click)="checkAmountValidity(selectedContract[0].items);toggleContractEditMixType()">
                {{'SHARED.CONFIRM' | translate}}
              </button>
            </div>

          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddNewLocation">
  <div class="modal-dialog SmallModal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'LOCATION.NEW_LOCATION' | translate}}</h4>
      </div>
      <form #newLocationForm="ngForm" (ngSubmit)="createNewLocation('editWorkOrder')">

        <div class="modal-body">
          <div class="row">
            <!--<div class="col-xs-12 ">-->
            <!--<h5>please enter a PACI# ,or choose the site location details</h5>-->
            <!--</div>-->

            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="PACI">PACI# :</label>
                <input type="text" name="PACI" [(ngModel)]="PACI" class="form-control" id="PACI"
                       (focusout)="checktoSearch($event)" maxlength="8" (keypress)="keyPress($event)">
              </div>

              <div class="form-group halfInput">
                <label for="title">{{'LOCATION.TITLE' | translate}} : <span style="color:brown">*</span></label>
                <input type="text" name="title" [(ngModel)]="newLocation.title" class="form-control" id="title"
                       required>
              </div>

              <div class="form-group halfInput">
                <label for="Government">
                  {{'LOCATION.GOVERNORATE' | translate}} : <span style="color:brown">*</span>
                </label>
                <select [(ngModel)]="newLocation.Government" class="form-control" name="Government" required
                        (change)='CallArea();isDirty=true' [disabled]="showG">
                  <option [value]="undefined">-- {{'LOCATION.SelectGovernment' | translate}}  --</option>

                  <option *ngFor="let t of Governorates" [value]="t.id">{{selectedLang=="en" ? t.name :t.arabicName}}</option>
                </select>
              </div>

              <div class="form-group halfInput">
                <label for="area">{{'LOCATION.AREA' | translate}} : <span style="color:brown">*</span> </label>
                <select (change)='CallBlock();isDirty=true' [(ngModel)]="newLocation.area" name="area" class="form-control" required
                        [disabled]="showA">
                  <option [value]="undefined">-- {{'LOCATION.SelectArea' | translate}} --</option>

                  <option *ngFor="let t of areas" [value]="t.id"> {{selectedLang=="en" ? t.name :t.arabicName}}   </option>
                </select>

              </div>

              <div class="form-group halfInput" *ngIf="isBlockExist">
                <label for="block">{{'LOCATION.BLOCK' | translate}} : </label>
                <select [(ngModel)]="newLocation.block" name="block" class="form-control"
                        [disabled]="showB">
                  <option *ngFor="let t of blocks" [value]="t.id">{{t.name}}</option>
                </select>

              </div>


              <div class="form-group halfInput" *ngIf="!isBlockExist">
                <label for="block">{{'LOCATION.BLOCK' | translate}} : </label>
                <input type="text" name="block" [(ngModel)]="newLocation.block" class="form-control" id="block"
                       required>

              </div>




              <div class="form-group halfInput" *ngIf="isBlockExist">
                <label for="street">{{'LOCATION.STREET' | translate}} : </label>
                <select [(ngModel)]="newLocation.street" name="street" class="form-control"
                        (change)='CallAddGetStreat();isDirty=true' [disabled]="showS">
                  <option *ngFor="let t of streets" [value]="t.id">{{t.name}}</option>
                </select>
              </div>

              <div class="form-group halfInput" *ngIf="!isBlockExist">
                <label for="street">{{'LOCATION.STREET' | translate}} : </label>
                <input type="text" name="street" [(ngModel)]="newLocation.street" class="form-control" id="street"
                       required>
              </div>

              <div class="form-group halfInput">
                <label for="note">{{'SHARED.REMARK' | translate}} : </label>
                <textarea class="form-control" name="note" id="note"
                          [(ngModel)]="newLocation.addressNote"></textarea>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer confirm-footer">
          <button type="submit" class="btn btn-success"
                  [disabled]="!newLocation.title || !newLocation.Government || !newLocation.area">
            {{'SHARED.CONFIRM' | translate}}
          </button>
          <button type="button" class="btn btn-primary" (click)="ResetallLocation()">
            {{'SHARED.CANCEL' | translate}}
          </button>

        </div>
      </form>

    </div>
  </div>
</div>


<div class="modal fade in confirm-popup" *ngIf="EditLocation">
  <div class="modal-dialog SmallModal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'LOCATION.Edit_Location' | translate}}</h4>
      </div>
      <form #editLocationForm="ngForm" (ngSubmit)=" editLocationForContract()">

        <div class="modal-body">
          <div class="row">
            <!--<div class="col-xs-12 ">-->
            <!--<h5>please enter a PACI# ,or choose the site location details</h5>-->
            <!--</div>-->

            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="PACI">PACI# :</label>
                <input type="text" name="PACI" [(ngModel)]="paciEdit" class="form-control" (keyup)="checkEditToSearch()"
                       maxlength="8" (keypress)="keyPress($event)">
              </div>

              <div class="form-group halfInput">
                <label for="title">{{'LOCATION.TITLE' | translate}} : <span style="color:brown">*</span></label>
                <input type="text" name="title" [(ngModel)]="editedLocation.title" class="form-control" id="title"
                       required>
              </div>

              <div class="form-group halfInput">
                <label for="Government">
                  {{'LOCATION.GOVERNORATE' | translate}} : <span style="color:brown">*</span>
                </label>
                <select [(ngModel)]="editedLocation.governorate" class="form-control" name="Government"
                        (change)='GetAreasForEditLocation(editedLocation.governorate);isDirty=true' required
                        [disabled]="showG">
                  <option *ngFor="let t of Governorates" [value]="t.id">{{selectedLang=="en" ? t.name :t.arabicName}}</option>
                </select>
              </div>
              <!-- (change)='GetBlocksForEditLocation(areaId);isDirty=true'  -->
              <div class="form-group halfInput">
                <label for="area">{{'LOCATION.AREA' | translate}} : <span style="color:brown">*</span></label>
                <select (change)='GetBlocksForEditLocation(areaId);isDirty=true' [(ngModel)]="areaId" name="area" class="form-control" required
                        [disabled]="showA">
                  <option *ngFor="let t of areas" [ngValue]="t.id">{{selectedLang=="en" ? t.name :t.arabicName}}</option>
                </select>
              </div>
              <!-- (change)='GetStreetsForEditLocation(editedLocation.area,editedLocation.block,editedLocation.governorate);isDirty=true' -->
              <div class="form-group halfInput" *ngIf="isBlockExist">
                <label for="block">{{'LOCATION.BLOCK' | translate}} : </label>
                <select [(ngModel)]="editedLocation.block" name="block" class="form-control"
                        [disabled]="showB">
                  <option *ngFor="let t of blocks" [ngValue]="t.name">{{t.name}}</option>
                </select>
              </div>

              <div class="form-group halfInput" *ngIf="!isBlockExist">
                <label for="block">{{'LOCATION.BLOCK' | translate}} : </label>
                <input type="text" name="block" [(ngModel)]="editedLocation.block" class="form-control" id="block"
                       required>
              </div>
              <!-- (change)='CallGetStreat();isDirty=true'  -->
              <div class="form-group halfInput" *ngIf="isBlockExist">
                <label for="street">{{'LOCATION.STREET' | translate}} : </label>
                <select [(ngModel)]="editedLocation.street" name="street" class="form-control"
                        [disabled]="showS">
                  <option *ngFor="let t of streets" [ngValue]="t.id">{{t.name}}</option>
                </select>
              </div>

              <div class="form-group halfInput" *ngIf="!isBlockExist">
                <label for="street">{{'LOCATION.STREET' | translate}} : </label>
                <input type="text" name="street" [(ngModel)]="editedLocation.street" class="form-control" id="street"
                       required>
              </div>


              <div class="form-group halfInput">
                <label for="note">{{'SHARED.REMARK' | translate}} : </label>
                <textarea class="form-control" name="note" id="note"
                          [(ngModel)]="editedLocation.addressNote"></textarea>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer confirm-footer">
          <button type="submit" class="btn btn-success"
                  [disabled]="!editedLocation.title || !editedLocation.governorate || !editedLocation.area">
            {{'SHARED.CONFIRM' | translate}}
          </button>
          <!-- <button type="button" class="btn btn-success" (click)="createNewLocation('addWorkOrder')"> Save </button>                 -->
          <button type="button" class="btn btn-primary" (click)="ResetallLocation()">
            {{'SHARED.CANCEL' | translate}}
          </button>

        </div>
      </form>

    </div>
  </div>
</div>



<div class="modal fade in confirm-popup" *ngIf="viewContract">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.DETAILS' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <!--*** Mix **** Type ***-->
            <!--******************************-->

            <div class="col-md-6 col-xs-12">

              <div class="form-group halfInput">
                <label>{{'CONTRACT.TYPE' | translate}}: *</label>
                <select [(ngModel)]="selectedContract[0].fK_ContractType_Id" disabled class="form-control"
                        name="ContractType" #ContractTyp="ngModel" (ngModelChange)='isDirty=true'
                        [ngClass]="{ 'has-error': firstSubmitTry && ContractTyp.invalid }" required>
                  <option *ngFor="let t of ContractType" [value]="t.id">{{t.name}}</option>
                </select>
                <small *ngIf="ContractTyp.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Contract Type is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="ContractNum">{{'CONTRACT.NUMBER' | translate}}: *</label>
                <input type="text" [(ngModel)]="selectedContract[0].contractNumber" disabled class="form-control"
                       id="ContractNum" name="ContractNum" maxlength="15" (keypress)="keyPress($event)"
                       (ngModelChange)='isDirty=true' #ContractNum="ngModel"
                       [ngClass]="{ 'has-error': firstSubmitTry && ContractNum.invalid }" required>
                <small *ngIf="ContractNum.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Contract No. is required.
                </small>
              </div>

            </div>

            <div class="col-md-6 col-xs-12">
              <div class="form-group halfInput">
                <label for="dateS">
                  {{'CONTRACT.START' | translate}}: * <span class="glyphicon glyphicon-calendar"></span>
                </label>
                <input type="date" disabled [ngModel]="selectedContract[0].startDate | date:'yyyy-MM-dd'" (ngModelChange)="selectedContract[0].startDate  = $event"
                       class="form-control" id="startDate" name="startDate" #startDate="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && startDate.invalid }" [min]="getToday()" onkeydown="return false">
                <small *ngIf="startDate.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Start Date is required.
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="dateE">
                  {{'CONTRACT.EXPIRY' | translate}}: <span class="glyphicon glyphicon-calendar"></span>
                </label>
                <input type="date" disabled [ngModel]="selectedContract[0].endDate | date:'yyyy-MM-dd'" (ngModelChange)="selectedContract[0].endDate = $event"
                       class="form-control" id="endDate" name="endDate" #endDate="ngModel" (ngModelChange)='isDirty=true' [ngClass]="{ 'has-error': firstSubmitTry && endDate.invalid }"
                       [min]="selectedContract[0].startDate" onkeydown="return false">
                <small *ngIf="endDate.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Alternative date is required.
                </small>
              </div>



              <div class="form-group halfInput">
                <label for="Remark">{{'SHARED.REMARK' | translate}}:</label>
                <textarea type="text" rows="5" class="form-control" disabled [(ngModel)]="selectedContract[0].remarks"
                          (ngModelChange)='isDirty=true' id="remark2" name="remark2" #remark2="ngModel">
                </textarea>
              </div>
            </div>


            <div class="col-md-12 col-xs-12">
              <label for="PACI">{{'SHARED.LOCATION' | translate}}:</label>
              <div class="row" *ngFor="let loc of contractLocations">


                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label for="PACI">PACI# :</label>
                  <span>{{loc.paciNumber}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label for="title">{{'LOCATION.TITLE' | translate}} :</label>
                  <span>{{loc.title}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.GOVERNORATE' | translate}}: </label>
                  <span>{{loc.governorate}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.AREA' | translate}} : </label>
                  <span>{{loc.area}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.BLOCK' | translate}} : </label>
                  <span>{{loc.block}}</span>
                </div>

                <div class="form-group halfInput col-xs-12 col-md-6">
                  <label>{{'LOCATION.STREET' | translate}} : </label>
                  <span>{{loc.street}}</span>
                </div>

                <div class="form-group halfInput col-xs-12">
                  <label for="note">{{'SHARED.REMARK' | translate}} : </label>
                  <span>{{loc.addressNote}}</span>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer confirm-footer">

        <button type="button" class="btn btn-primary" (click)="ResetCusttInfo()">
          {{'SHARED.CANCEL' | translate}}
        </button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup WorkOrderpopUp" *ngIf="confirmDelete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.ConfirmDelete' | translate}}</h4>
      </div>
      <div class="delete">
        <div class="row">
          <div class="col-xs-12">
            <h5 class="orderPad">Are you sure you want to delete this contract ?</h5>
          </div>
        </div>
      </div>

      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="ConfirmDelete()">{{'SHARED.YES' | translate}}</button>
        <button type="button" class="btn btn-primary"
                (click)="cancelDelete()">
          {{'SHARED.NO' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
