.modal-dialog {
  width: 60%;
  display: block;
  margin: 40px auto;
}

.AllFactoris {
  margin-bottom: 35px;
}
.labelFixed {
  position: fixed;
  top: 2%;
  right: 2%;
}
.marginContract {
  margin-left: 20px;
}

.orderPad {
  padding: 10px !important;
}
.styleBtn {
  margin-top: 12%;
}
.cs-loader {
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0px;
  z-index: 1052;
}
.loading-logo {
  margin: auto;
  display: block;
  text-align: center;
  width: 200px;
}
.mixBtn{
  float: right;
}

/*:host >>> .ui-state-disabled {
  opacity: 1 !important;
}*/


button[hidden] {
  display: none;
}

.disabled_mix_type {
  background-color: #eee;
}
