<div class="row">
  <div class="col-xs-12 ">

    <div class="row searchPhonepanel mt-20">
      <div class="row AdminSearch">
        <div class="col-xs-12 col-md-3 col-md-offset-3">
          <label> {{'SHARED.SELECT_ITEM_TO_EDIT' | translate}}:</label>
        </div>
        <div class="col-xs-12 col-md-3">
          <select class="form-control" [(ngModel)]="manageItem" (ngModelChange)="ChangeRoute()">
            <option *ngFor="let t of AllItems" [value]="t">{{t}}</option>
          </select>
        </div>
      </div>

      <router-outlet (activate)="componentAdded($event)"></router-outlet>
      
    </div>
  </div>
</div>
