<div class="row search-from">
  <div class="md-col-12 text-right">

    <form #searchForm="ngForm" class="search-form form-inline" (submit)="searchForm.valid && search(searchForm.value)">

      <button class="btn btn-default" *ngIf="!back" (click)="exportCsv()" type="button">
        {{'SHARED.EXPORT'|translate}}
      </button>

      <button class="btn btn-default" *ngIf="back" (click)="exportCsv()" type="button">
        {{'SHARED.BACK'|translate}}
      </button>

      <button class="btn btn-default" (click)="applyViewAll()" type="button">{{'SHARED.SHOW_ALL'|translate}}</button>

      <!--<input type="text" class="form-control" name="searchText" [(ngModel)]="searchText"
             [placeholder]="placeholder">-->
      <input type="text" class="form-control" name="searchText"
             [placeholder]="placeholder">

      <button type="submit" class="btn btn-primary">{{'SHARED.SEARCH_OP'|translate}}</button>

    </form>

  </div>
</div>
