<div class="col-xs-12 EditPanel" *ngIf="RoleInfo">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" [disabled]='selectedRole.length!=0' (click)="AddRole=true">
        {{'SHARED.ADD_NEW' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedRole.length!=1' (click)="editRole=true">
        {{'SHARED.EDIT' | translate}}
        <span class="glyphicon glyphicon-edit"></span></button>
      <button type="button" class="btn btn-danger" [disabled]='selectedRole.length!=1' (click)="DeleteAllRole()">
        {{'SHARED.REMOVE' | translate}}
        <span class="glyphicon glyphicon-remove"></span></button>
      <!-- <button type="button" class="btn btn-danger" [disabled]='selectedRole.length < 2' (click)="DeleteAllRole()"> Delete All <span class="glyphicon glyphicon-remove"></span> </button> -->
    </div>
    <div class="col-xs-12">
      <ngx-datatable class="material expandable" [rows]="RoleInfo" [columnMode]="'force'" [columns]="RoleColumns"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5"
                     [selected]="selectedRole" [selectionType]="'checkbox'">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true"
                              [checkboxable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="id" name="{{'SHARED.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="name" name="{{'SHARED.ROLE' | translate}}"></ngx-datatable-column>


      </ngx-datatable>
    </div>

  </div>
</div>
<div class="cs-loader">
    <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo"/>
</div>

<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editRole || AddRole"></div>

<div class="modal fade in confirm-popup" *ngIf="editRole">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Role</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="id">ID</label>
                <input type="text" [(ngModel)]="selectedRole[0].id" class="form-control" id="id" name="id" #id="ngModel"
                       [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label for="Name">name: * </label>
                <input type="text" [(ngModel)]="selectedRole[0].name" class="form-control" id="Name" name="Name"
                       #Name="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && Name.invalid }" required>

                <small *ngIf="Name.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  name is required.
                </small>
              </div>

            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit(form)"> Save</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> Cancel</button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddRole">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ADD Role</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="Rolen">Role Name: </label>
                <input type="text" [(ngModel)]="newRole.name" class="form-control" id="Rolen" name="Rolen"
                       #Rolen="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && Rolen.invalid }" required>
                <small *ngIf="Rolen.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  Role is required.
                </small>
              </div>
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAdd(form)"> Save</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> Cancel</button>

      </div>

    </div>
  </div>
</div>
