<div class="row BackStat">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-12 loginForm">
        <h2>{{'LOGIN.TITLE' | translate}}</h2>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">{{'LOGIN.USERNAME' | translate}}</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
                   required/>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">{{'LOGIN.PASSWORD' | translate}}</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
                   required/>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">{{'LOGIN.SUBMIT' | translate}}</button>
            <img *ngIf="loading" src="{{loadingImage}}"/>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
