
.BackStat{
    width: 100%;
    height:410px;;
}

.loginForm{
    /* background-color: rgba(77, 76, 76, 0.64); */
    background-color: rgba(192, 189, 189, 0.64);
    margin-top: 65px;
    border-radius: 5px;
}

.alertMsgs{
   margin-top: 20px;
}