<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-xs-12 ">

    <div class="row searchPhonepanel">
      <div class="col-xs-12">
        <h4 class="mpt-0">
          <i class="AddUsericon"></i> <span class="AlignSup">{{'ADD_NEW_CUSTOMER.TITLE' | translate}}</span>
        </h4>
      </div>

      <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified">
          <li [ngClass]="{'active':selectedTab== 'tab1'}"><a> {{'ADD_NEW_CUSTOMER.INFO' | translate}}</a></li>
          <li [ngClass]="{'active':selectedTab== 'tab2'}"><a>{{'CONTRACT.NAME' | translate}}</a></li>
          <!-- <li [ngClass]="{'active':selectedTab== 'tab3'}"><a>Work Order</a></li> -->
        </ul>
      </div>

      <form #form="ngForm">
        <div *ngIf="selectedTab== 'tab1'" class="col-xs-12 EditPanel">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="form-group halfInput">
                <label for="Name">{{'CUSTOMER.NAME' | translate}} : *</label>
                <input type="text" [(ngModel)]="newCust.customer.name" class="form-control" id="Name" name="Name"
                       #Name="ngModel" [ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && Name.invalid }"
                       required>
                <small *ngIf="Name.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  Name is required
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Type">{{'CUSTOMER.TYPE' | translate}} : *</label>
                <select [(ngModel)]="newCust.customer.fK_CustomerType_Id" class="form-control" name="CustType"
                        #CustType="ngModel"
                        [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && CustType.invalid }"
                        required>
                  <option *ngFor="let t of CustomerType" [value]="t.id">{{t.name}}</option>
                </select>

                <small *ngIf="CustType.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  Customer Type is required
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Category">{{'CUSTOMER.CATEGORY' | translate}} : *</label>
                <select [(ngModel)]="newCust.customer.fK_CustomerCategory_Id" class="form-control" name="CustCategory"
                        #CustCategory="ngModel"
                        [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && CustCategory.invalid }"
                        required>
                  <option *ngFor="let t of CustomerCategory" [value]="t.id">{{t.name}}</option>
                </select>

                <small *ngIf="CustCategory.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  Customer Category is required
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="kcrm_ID">{{'CUSTOMER.KCRMID' | translate}} : *</label>
                <input type="number" [(ngModel)]="newCust.customer.kcrM_Customer_Id" class="form-control" id="kcrm_ID"
                       name="kcrm_ID" minlength="6" maxlength="6" (focusout)="KcrmIsExist(newCust.customer.kcrM_Customer_Id)"
                       #kcrm_ID="ngModel" [ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && kcrm_ID.invalid }"
                       required (keypress)="preventOverSix($event)">
                <small *ngIf="kcrm_ID.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  KCRM ID is required
                </small>
              </div>

              <div class="form-group halfInput" *ngIf="newCust.customer.fK_CustomerType_Id ==1 ||newCust.customer.fK_CustomerType_Id ==2||newCust.customer.fK_CustomerType_Id ==4">
                <label for="civil">{{'CUSTOMER.CIVIL_ID' | translate}} : </label>
                <input type="text" [(ngModel)]="newCust.customer.civilId" pattern="-?[\d]+" minlength="12"
                       maxlength="12" class="form-control"
                       id="civil" name="civil" #civil="ngModel" (keypress)="keyPressNegative($event);keyPress($event)"
                       [ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && civil.invalid }"
                        (change)="chechCivilId(newCust.customer.civilId)">
                <small *ngIf="civil.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  Civil Id is required (12 digit Number).
                </small>
                <div [hidden]="!civil.errors?.minlength" style="color:red">
                  Civil Id is required (12 digit Number).
                </div>
              </div>

              <div class="form-group halfInput" *ngIf="newCust.customer.fK_CustomerType_Id==3">
                <label for="company">{{'ADD_NEW_CUSTOMER.COMPANY_NAME' | translate}} : *</label>
                <input type="text" [(ngModel)]="newCust.customer.companyName" class="form-control" id="company"
                       name="company" #company="ngModel"
                       [ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && company.invalid }" required>
                <small *ngIf="company.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  company name is required.
                </small>
              </div>


              <!--<div class="form-group halfInput" *ngIf="newCust.customer.fK_CustomerType_Id==3">-->
              <!--<label for="company">Ready Mix Type: *</label>-->
              <!--<input type="text" [(ngModel)]="newCust.customer.companyName" class="form-control" id="company"-->
              <!--name="company" #company="ngModel"-->
              <!--[ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && company.invalid }" required>-->
              <!--<small *ngIf="company.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">-->
              <!--company name is required.-->
              <!--</small>-->
              <!--</div>-->
              <!--<button></button>-->


            </div>
            <div class="col-md-6 col-xs-12">

              <!-- <div class="form-group halfInput">
                  <label for="mobile1">Mobile 1: *</label>
                  <input type="tel" [(ngModel)]="newCust.customer.mobile1" class="form-control" minlength="8" maxlength="8" id="mobile1" name="mobile1"
                      #mobile1="ngModel" [ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && mobile1.invalid }"
                      required>
                  <small *ngIf="mobile1.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  mobile1 is required (8 digit Number)
                </small>
              </div> -->

              <div class="form-group halfInput" *ngFor="let t of TotalPhone ;let i = index" [attr.data-index]="i">
                <label for="phone">{{'ADD_NEW_CUSTOMER.PHONE' | translate}} : * </label>
                <input type="tel" [(ngModel)]="newCust.customer.phones[i]" (blur)="checkPhone(newCust.customer.phones[i])" class="form-control" [minlength]="numberCount"
                       [maxlength]="numberCount" name="phone{{i}}"
                       #phone="ngModel" [ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && phone.invalid }"
                       required (keypress)="eventHandler($event,i)">
                <span class="NewLink" (click)="AddPhoneItem()" *ngIf="i == 0">{{'ADD_NEW_CUSTOMER.ADD_PHONE' | translate}}</span>
                <span class="NewLink" (click)="DeletePhoneItem(i)" *ngIf="i != 0">{{'SHARED.REMOVE' | translate}}</span>

                <small *ngIf="(firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  phone is required (8 digit Number)
                </small>
              </div>

              <!-- <div class="form-group halfInput">
                  <label for="division">Division: *</label>
                  <input type="text" [(ngModel)]="newCust.customer.division" class="form-control" id="division" name="division" #division="ngModel"
                      [ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && division.invalid }" required>
                  <small *ngIf="division.invalid && (firstSubmitTry || firstStep) " class="text-danger ErrorLable">
                  division is required.
                </small>
              </div> -->

              <div class="form-group halfInput">
                <label for="remark">{{'SHARED.REMARK' | translate}} :</label>
                <input type="text" class="form-control" [(ngModel)]="newCust.customer.remarks" id="remark" name="remark"
                       #remark="ngModel">
              </div>

              <div class="form-group halfInput">
                <label for="remark">{{'SHARED.CREDIT_LIMIT' | translate}} : *</label>
                <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" [(ngModel)]="newCust.customer.creditLimit" id="creditLimit" name="creditLimit"
                       #creditLimit="ngModel" [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) }" required>
              </div>

              <div class="form-group halfInput">
                <label for="remark">{{'SHARED.BALANCE' | translate}} </label>
                <input type="number" min="0" class="form-control" [(ngModel)]="newCust.customer.balance" id="balance" name="balance"
                       #balance="ngModel" [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) }">
              </div>
              <div class="form-group halfInput" >
                <label for="messenger">{{'CUSTOMER.Messenger' | translate}} </label>
                <input type="text" [(ngModel)]="newCust.customer.messenger" class="form-control" id="messenger"  
                       name="messenger" #company="ngModel" >
                
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-12 mt-20">
            <button type="button" [ngClass]="{active: isOn, disabled: isDisabled}" (click)="ContinueAdd(form,true)" class="btn btn-primary centerBtn">
              {{'SHARED.CONTINUE' | translate}}<span class="glyphicon glyphicon-chevron-right"></span>
            </button>

            <button type="button" [ngClass]="{active: isOn, disabled: isDisabled}" (click)="CreateNewCustomerOnly(form,false)" style="margin-right: 10px"
                    class="btn btn-success centerBtn">
              {{'SHARED.CONFIRM' | translate}}
            </button>
          </div>
        </div>

        <div *ngIf="selectedTab== 'tab2'" class="col-xs-12 EditPanel">
          <div class="row">
            <div class="col-md-6 col-xs-12">

              <!--*** Mix **** Type ***-->

              <div class="form-group halfInput">
                <button class="btn btn-default" (click)="toggleContractMixTypeModal()" style="cursor: pointer;">
                  <span class="glyphicon glyphicon-plus"></span>
                  {{'CONTRACT.ADD_READY_MIX_TYPE' | translate}} :
                </button>
              </div>

              <div class="form-group halfInput">
                <label for="Type">{{'CONTRACT.TYPE' | translate}} : *</label>
                <select [(ngModel)]="newCust.contract.fK_ContractType_Id" class="form-control" name="ContractTyp"
                        #ContractTyp="ngModel"
                        [ngClass]="{ 'has-error': firstSubmitTry && ContractTyp.invalid }" required>
                  <option *ngFor="let t of ContractType" [value]="t.id">{{t.name}}</option>
                </select>
                <small *ngIf="ContractTyp.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Contract Type is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="ContractNum">{{'CONTRACT.NUMBER' | translate}} : *</label>
                <input type="text" [(ngModel)]="newCust.contract.contractNumber" class="form-control" id="ContractNum"
                       name="ContractNum" maxlength="15" (keypress)="keyPress($event)"
                       #ContractNum="ngModel" [ngClass]="{ 'has-error': firstSubmitTry && ContractNum.invalid }"
                       required>
                <small *ngIf="ContractNum.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  Contract Num is required.
                </small>
              </div>

      

            </div>

            <div class="col-md-6 col-xs-12">
              <div class="form-group halfInput">
                <label for="dateS">
                  {{'CONTRACT.START' | translate}} : * <span class="glyphicon glyphicon-calendar"></span>
                </label>
                <input type="date" [(ngModel)]="newCust.contract.startDate" class="form-control" id="startDate"
                       name="startDate" #startDate="ngModel"
                       [ngClass]="{ 'has-error': firstSubmitTry && startDate.invalid }" required>
                <small *ngIf="startDate.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  start Date is required.
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="date">
                  {{'CONTRACT.EXPIRY' | translate}} : <span class="glyphicon glyphicon-calendar"></span>
                </label>
                <input type="date" [(ngModel)]="newCust.contract.endDate" class="form-control" id="endDate"
                       name="endDate" #endDate="ngModel" [min]="newCust.contract.startDate">
              </div>

              <!--<div class="form-group halfInput">
                <label for="file">{{'ADD_NEW_CUSTOMER.UPLOAD_FILE' | translate}}</label>
                <input type="file" name="file" ngModel (change)="getFiles($event)">
              </div>-->
              <div class="form-group halfInput">
                <label for="Remark">{{'SHARED.REMARK' | translate}} :</label>
                <input type="text" class="form-control" [(ngModel)]="newCust.contract.remarks" id="remark2"
                       name="remark2" #remark2="ngModel">
              </div>
              <div class="form-group halfInput">
                <!--<label for="Type">Location: *</label>-->
                <!--<select [(ngModel)]="newCust.customer.fK_Location_Id" class="form-control" name="Location"-->
                <!--#Location="ngModel"-->
                <!--[ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && Location.invalid }"-->
                <!--required>-->
                <!--<option *ngFor="let t of Locations" [value]="t.id">{{t.title}}</option>-->
                <!--</select>-->
                <button style="z-index: 1054;" class="NewLink btn-link" (click)="AddNewLocation=true">
                  {{
'LOCATION.NEW_LOCATION' |
                  translate
                  }}
                </button>

                

              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-2 mt-20">
            <button type="button" (click)="selectedTab='tab1' ; prevTab='tab2'" class="btn btn-primary Fullwidth">
              <span class="glyphicon glyphicon-chevron-left"></span> {{'SHARED.BACK' | translate}}
            </button>
          </div>
          <div class="col-xs-12 col-md-10 mt-20">
            <!-- <button type="button" (click)="selectedTab='tab3' ; prevTab='tab2'" class="btn btn-primary centerBtn">  Continue <span class="glyphicon glyphicon-chevron-right"></span></button> -->
            <button type="button" *ngIf="!(id>0)" class="btn btn-primary centerBtn" (click)="onSubmit(form)">
              {{
'SHARED.CONFIRM' |
              translate
              }}
            </button>

            <button type="button" *ngIf="id>0" class="btn btn-primary centerBtn" (click)="Addcontract(form)">
              {{
'SHARED.CONFIRM' |
              translate
              }}
            </button>

            <button type="button" style="margin-right:2%" *ngIf="id>0" class="btn btn-primary centerBtn" (click)="GoToCustomerDetails()">
              {{
'CUSTOMER.GO_TO_DETAILS' |
              translate
              }}
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="AddNewLocation || contractMixTypeModal"></div>

<div class="modal fade in confirm-popup" *ngIf="AddNewLocation">
  <div class="modal-dialog SmallModal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{
'LOCATION.NEW_LOCATION' |
          translate
          }}
        </h4>
      </div>
      <form #newLocationForm="ngForm" (ngSubmit)="createNewLocation('editWorkOrder')">

        <div class="modal-body">
          <div class="row">

            <!--<div class="col-xs-12 ">-->
            <!--<h5>{{'SHARED.LOCATION_NOTE' |-->
            <!--translate}}</h5>-->
            <!--</div>-->

            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="PACI">PACI# :</label>
                <input type="text" name="PACI" [(ngModel)]="PACI" class="form-control" id="PACI"
                       (focusout)="checktoSearch($event)" maxlength="8" (keypress)="keyPress($event)">
              </div>

              <div class="form-group halfInput">
                <label for="title">
                  {{'LOCATION.TITLE' | translate }} : <span style="color:brown">*</span>
                </label>
                <input type="text" name="title" [(ngModel)]="newLocation.title" class="form-control" id="title"
                       required>
              </div>

              <div class="form-group halfInput">
                <label for="Government">
                  {{
'LOCATION.GOVERNORATE' |
                  translate
                  }} : <span style="color:brown">*</span>
                </label>
                <select [(ngModel)]="newLocation.governorate" class="form-control" name="Government" required
                        (change)='CallArea();isDirty=true'
                        [disabled]="showG">
                  <option *ngFor="let t of Governorates" [value]="t.id">{{selectedLang=="en" ? t.name :t.arabicName}}</option>
                </select>
              </div>

              <div class="form-group halfInput">
                <label for="area">
                  {{
'LOCATION.AREA' |
                  translate
                  }} : <span style="color:brown">*</span>
                </label>
                <select [(ngModel)]="newLocation.area" name="area" class="form-control"
                        (change)='CallBlock();isDirty=true' required
                        [disabled]="showA">
                  <option *ngFor="let t of areas" [value]="t.id">{{selectedLang=="en" ? t.name :t.arabicName}}</option>
                </select>
              </div>

              <div class="form-group halfInput"  *ngIf="isBlockExist">
                <label for="block">
                  {{
'LOCATION.BLOCK' |
                  translate
                  }} :
                </label>
                <select [(ngModel)]="newLocation.block" name="block" class="form-control"
                        (change)='CallStreet();isDirty=true'
                        [disabled]="showB">
                  <option *ngFor="let t of blocks" [value]="t.name">{{t.name}}</option>
                </select>

              </div>

              
              <div class="form-group halfInput" *ngIf="!isBlockExist">
                <label for="block">{{'LOCATION.BLOCK' | translate}} : </label>
                <input type="text" name="block" [(ngModel)]="newLocation.block" class="form-control" id="block"
                required>

              </div>

              <div class="form-group halfInput"  *ngIf="isBlockExist">
                <label for="street">
                  {{
'LOCATION.STREET' |
                  translate
                  }} :
                </label>
                <select [(ngModel)]="newLocation.street" name="street" class="form-control"
                        (change)='CallGetStreat();isDirty=true'
                        [disabled]="showS">
                  <option *ngFor="let t of streets" [value]="t.id">{{t.name}}</option>
                </select>
              </div>

              <div class="form-group halfInput"  *ngIf="!isBlockExist">
                <label for="street">{{'LOCATION.STREET' | translate}} : </label>
                <input type="text" name="street" [(ngModel)]="newLocation.street" class="form-control" id="street"
                required>
              </div>

              <div class="form-group halfInput">
                <label for="note">
                  {{
'SHARED.REMARK' |
                  translate
                  }}:
                </label>
                <textarea class="form-control" name="note" id="note"
                          [(ngModel)]="newLocation.addressNote"></textarea>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer confirm-footer">
          <button type="submit" class="btn btn-success" [disabled]="!newLocation.title || !newLocation.governorate || !newLocation.area ">
            {{
'SHARED.CONFIRM' |
            translate
            }}
          </button>
          <!-- <button type="button" class="btn btn-success" (click)="createNewLocation('addWorkOrder')"> Save </button>                 -->
          <button type="button" class="btn btn-primary" (click)="ResetallLocation()">
            {{
'SHARED.CANCEL' |
            translate
            }}
          </button>

        </div>
      </form>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" 
*ngIf="contractMixTypeModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close"
         (click)="contractMixTypeModal = false" 
         aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4>{{'CONTRACT.ADD_READY_MIX_TYPE' | translate}}</h4>
      </div>

      <form #contractMixTypeForm="ngForm" 
      (ngSubmit)="contractAddMixTypeForm.valid">
        <div class="modal-body">
          <div class="row">

            <div class="form-group halfInput col-md-12 col-xs-12">
              <button type="button"  onClick="document.getElementById('readyMix').scrollIntoView();" class="btn btn-default mixBtn" (click)="AddToListOfMixEdit()"
                      style="cursor: pointer;">
                <span class="glyphicon glyphicon-plus"></span>{{'CONTRACT.ASSIGN_MIX_TYPE' | translate}}
              </button>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success col-md-3"
                      (click)="toggleContractMixTypeModal()">
                {{'SHARED.CONFIRM' | translate}}
              </button>

            </div>
            <div class="AllFactoris row"
                 *ngFor="let mixType of listOfMixTypes; let i = index;">

              <div class="form-group col-md-4 marginContract">
                <label>{{'CONTRACT.READY_MIX_TYPE' | translate}}</label>
                <select (change)="chooseSelectedType(mixType)" class="form-control" [name]="'id' + i" required
                        [(ngModel)]="mixType.id">
                  <option *ngIf="!mixType.id" [value]="undefined">-- Select Ready Mix Type --</option>
                  <option [hidden]="checkSelected(type.id)" *ngFor="let type of readyMixTypes" [value]="type.id">
                    {{type.name}}, {{type.description}}
                  </option>
                </select>
              </div>

              <div class="form-group col-md-offset-1 col-md-3">
                <label>{{'SHARED.PRICE' | translate}}</label>

                <input type="number" min="0" step="any" (focusout)="checkNegative(mixType.price)" [name]="'price' + i"
                       [(ngModel)]="mixType.price" class="form-control" id="price">
              </div>
              <div class="form-group col-md-3">
                <button type="button" class="btn btn-danger styleBtn" (click)="removeReadyMixType(mixType)">
                  <i class="fa fa-close"></i>{{'SHARED.REMOVE' | translate}}
                </button>
              </div>




            </div>

            <div  id="readyMix" class="form-group halfInput col-md-12 col-xs-12">
              <button type="button" class="btn btn-default mixBtn" (click)="AddToListOfMixAdd()"
                      style="cursor: pointer;">
                <span class="glyphicon glyphicon-plus"></span>{{'CONTRACT.ASSIGN_MIX_TYPE' | translate}}
              </button>
            </div>
          </div>
        </div>


      </form>





      
    </div>
  </div>
</div>







<div class="cs-loader">
  <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo" />
</div>
