.searchPhonepanel{
    /* background-color: rgba(77, 76, 76, 0.64); */
    padding: 0px 35px;
    border-radius: 5px;
    border: 1px solid #ccc9c9;
}
.searchPhonepanel .searchIcon{
    float: right;
}
.isDisabled {
  opacity: 0.65;
  cursor: not-allowed;
}
.mixBtn{
   float: right;
 }
.isOn {
  opacity: 1;
  cursor: default;
}
.marginContract {
  margin-left: 20px;
}

.styleBtn {
  margin-top: 12%;
}
.nav-justified > li > a
{
    border-radius: 0px;
    color: #636161;
    border: solid 1px transparent;
    /* border-radius: 69px; */
    margin: 5px;
    cursor: default;
    background-color: rgba(186, 196, 208, 0.58);

}
.nav-pills>li.active a,.nav-pills>li.active a:hover { 
    background-color:rgba(48, 120, 217, 0.99);
    color: #fff;
 }
 
 .nav>li>a:hover{
    background-color: rgba(56, 141, 255, 0.45);
     border: solid 1px transparent;
     /* border-radius: 69px; */
     transition: all;
 }

 .AddUsericon{
     width:48px;
     height: 48px;
     display: inline-block;
     background:url(./../../../assets/Images/AddUser.png);
     transform: scale(0.7);
 }
 .EditPanel{
    border: solid 1px rgba(175, 175, 175, 0.59);
    border-radius: 5px;
    padding: 15px;
    margin: 5px 10px;
    transition: all 2ms;
 }
 .AlignSup{
    vertical-align: super;
 }
 .halfInput input,.halfInput select{
    width: 250px;
    display: inline-block;
 }
 .halfInput label{
    width: 180px;
 }
 .centerBtn{
    float: right;
 }
 .Fullwidth{
     width: 60%;
 }
 .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.NewLink{
    color: rgb(56, 141, 255);
    cursor: pointer;
    text-decoration: underline;
    padding: 5px;
}
.SmallModal{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.modal .halfInput input,.modal .halfInput select{
    width: 200px;
    display: inline-block;
 }
 .modal .halfInput label{
    width: 130px;
 }
.percentageIcon{
    font-size: 20px;
}
 .DeleteFactory{
    color: #c82020;
    cursor: pointer;
 }
 .AddSpace{
    margin: 0px 5px;
    color: rgba(48, 120, 217, 0.99)
 }
 .currentLocation{
    width: 250px;
    display: inline-block;
    vertical-align:middle;
 }

 .cs-loader {
    width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 0px;
    z-index: 1052;
  }
  .loading-logo {
    margin: auto;
    display: block;
    text-align: center;
    width: 200px;
  }
