<div class="operations-container">
  <app-search [back]="true" [placeholder]="'Vehicle Code'" (viewAll)="getAllJobs()"
              (searchValue)="search($event)"></app-search>

  <ngx-datatable class="material expandable" [rows]="jobs" [columnMode]="'force'" [columns]="[]"
                 [headerHeight]="50"
                 [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
  >
    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                          [resizeable]="false" [headerCheckboxable]="false"
                          [checkboxable]="false">
    </ngx-datatable-column>

    <!--<ngx-datatable-column [width]='70' name="{{'CUSTOMER.NAME' | translate}}">-->
    <!--<ng-template let-row="row" let-value="id" ngx-datatable-cell-template>-->
    <!--{{row.firstName}} {{row.lastName}}-->
    <!--</ng-template>-->
    <!--</ngx-datatable-column>-->

    <ngx-datatable-column [width]='120' prop="startDateView"
                          name="{{'ORDER.FIRST_DATE' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='90' prop="status.name"
                          name="{{'ORDER.STATUS' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='90' prop="endDateView"
                          name="{{'ORDER.ALT_DATE' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='50' prop="amount" name="{{'SHARED.AMOUNT' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='90' prop="vehicleNumber"
                          name="{{'TRACKING_FILTER.VEHICLE_NUMBER' | translate}}">

    </ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="vehicle.driver.name"
                          name="{{'TRACKING_FILTER.DRIVER_NAME' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='300' name="{{'SHARED.REMARK' | translate}}">
      <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

        <form #noteForm="ngForm" (submit)="saveNote(row)" class="form-inline">
          <input type="text" name="deliveryNote" class="form-control" [(ngModel)]="row.deliveryNote" required>
          <button class="btn btn-primary" placeholder="Note.." type="submit">{{'SHARED.CONFIRM' | translate}}</button>
        </form>

      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
