<div class="col-xs-12 EditPanel" *ngIf="allAppConfigurationa">
  <div class="row">
    <div class="col-xs-12 mtb-20">
      <button type="button" class="btn btn-primary" [disabled]='selectedAppConfiguration.length!=0'
              (click)="AddElement=true"> {{'SHARED.ADD_NEW' | translate}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]='selectedAppConfiguration.length!=1'
              (click)="editElement=true"> {{'SHARED.EDIT' | translate}} <span
        class="glyphicon glyphicon-edit"></span></button>
      <button type="button" class="btn btn-danger" [disabled]='selectedAppConfiguration.length!=1'
              (click)="DeleteElementToBePoured()"> {{'SHARED.REMOVE' | translate}} <span
        class="glyphicon glyphicon-remove"></span></button>
      <!-- <button type="button" class="btn btn-danger" [disabled]='selectedEquipmentType.length < 2' (click)="DeleteAllEquipmentType()"> Delete All <span class="glyphicon glyphicon-remove"></span> </button> -->
    </div>
    <div class="col-xs-12">
      <ngx-datatable class="material expandable" [rows]="allAppConfigurationa" [columnMode]="'force'"
                     [columns]="EquipmentTypeColumns" [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5"
                     [selected]="selectedAppConfiguration" [selectionType]="'checkbox'">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true"
                              [checkboxable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="id" name="{{'SHARED.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="name" name="{{'SHARED.TransportationTime' | translate}}"></ngx-datatable-column>


      </ngx-datatable>
    </div>

  </div>
</div>

<div class="cs-loader">
    <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo"/>
</div>

<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editElement || AddElement"></div>

<div class="modal fade in confirm-popup" *ngIf="editElement">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.EDIT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="id">{{'SHARED.ID' | translate}}</label>
                <input type="text" [(ngModel)]="selectedAppConfiguration[0].id" class="form-control" id="id" name="id"
                       #id="ngModel" [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.NAME' | translate}}: * </label>
                <input type="text" [(ngModel)]="selectedAppConfiguration[0].name" class="form-control" id="Name"
                       name="Name" #Name="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && Name.invalid }" required>

                <small *ngIf="Name.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  name is required.
                </small>
              </div>

            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit(form)"> {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddElement">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.ADD_NEW' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="editElement">{{'SHARED.TransportationTime' | translate}}: </label>
                <input type="text" [(ngModel)]="newAppConfiguration.name" class="form-control" id="editElement"
                       name="editElement" #editElement="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && editElement.invalid }" required>
                <small *ngIf="editElement.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  name is required.
                </small>
              </div>
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAdd(form)"> {{'SHARED.CONFIRM' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>
