/* You can add global styles to this file, and also import other style files */
/*  @import "~/node_modules/fullcalendar/dist/fullcalendar.min.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.app-spinner {
  position: absolute !important;
  left: 50%;
  top: 50%;
  z-index: 1000;
}

.operations-container {
  margin: 50px auto;
}

.modal.fade.in.confirm-popup {
  overflow: scroll;
}

textarea {
  resize: vertical;
}

.confirmation-dialog-btn {
  width: 100%;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.clickable {
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

.bluetxt {
  color: rgba(18, 120, 255, 0.91);
}

.mpt-0 {
  margin-top: 0px;
  padding-top: 0px;
}

.mtb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

:host /deep/ datatable-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

:host /deep/ datatable-body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

:host /deep/ datatable-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #E0E0E0;
}

:host /deep/ .datatable-header-cell, :host /deep/ .datatable-header-inner {
  height: 100%;
}

:host /deep/ .datatable-header-cell-label {
  font-size: 14px;
}

:host /deep/ .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
:host /deep/ .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: #cccccc !important;
  color: #FFF;
}

:host /deep/ .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  color: black;
  display: block;

}

@keyframes showNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: block;
  color: black;
  animation: showNav 300ms ease-in-out both;
}

.datatable-row-detail {
  padding: 0px !important;
}

.ErrorLable {
  display: block;
  margin-left: 184px;
  margin-top: 5px;
  color: #e18887;
}

.has-error {
  border: solid 2px #fa1414 !important;
}

.noOverflow {
  overflow: hidden !important;
}


.loadingImageStyle{ 
  text-align: center !important;
}
