<div class="col-xs-12 EditPanel" *ngIf="StatusInfo">
  <div class="row">
    <div class="col-xs-12 mtb-20">
        
      <button type="button" class="btn btn-primary" [disabled]='selectedStatus?.length!=0' (click)="AddStatus=true">
        {{'SHARED.ADD_NEW' | translate}}
      </button>
  

      <!-- <button type="button" class="btn btn-danger" [disabled]='selectedStatus.length < 2' (click)="DeleteAllStatus()"> Delete All <span class="glyphicon glyphicon-remove"></span> </button> -->
    </div>
    <div class="col-xs-12">
      <ngx-datatable class="material expandable" [rows]="StatusInfo" [columnMode]="'force'" [columns]="StatusColumns"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5" [selected]="selectedStatus"
                     [selectionType]="'checkbox'">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true"
                              [checkboxable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="id" name="{{'SHARED.ID' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="name" name="{{'ORDER.STATUS' | translate}}"></ngx-datatable-column>


      </ngx-datatable>
    </div>

  </div>
</div>
<div class="cs-loader">
    <img *ngIf="loading" src={{loadingImage}} class="text-center loading-logo"/>
</div>

<div class="modal-backdrop fade in confirm-popup-fade" *ngIf="editStatus || AddStatus"></div>

<div class="modal fade in confirm-popup" *ngIf="editStatus">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.EDIT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">

            <div class="col-xs-12">

              <div class="form-group halfInput">
                <label for="id">{{'SHARED.ID' | translate}}</label>
                <input type="text" [(ngModel)]="selectedStatus[0].id" class="form-control" id="id" name="id"
                       #id="ngModel" [disabled]="true">
              </div>

              <div class="form-group halfInput">
                <label for="Name">{{'SHARED.NAME' | translate}}: * </label>
                <input type="text" [(ngModel)]="selectedStatus[0].name" class="form-control" id="Name" name="Name"
                       #Name="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTry && Name.invalid }" required>

                <small *ngIf="Name.invalid && firstSubmitTry" class="text-danger ErrorLable">
                  name is required.
                </small>
              </div>

            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit(form)"> {{'SHARED.CONFIRM' | translate}}
        </button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>

<div class="modal fade in confirm-popup" *ngIf="AddStatus">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'SHARED.ADD_NEW' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #form="ngForm">
            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="Statusn">{{'SHARED.NAME' | translate}}: </label>
                <input type="text" [(ngModel)]="newStatus.name" class="form-control" id="Statusn" name="Statusn"
                       #Statusn="ngModel" (ngModelChange)='isDirty=true'
                       [ngClass]="{ 'has-error': firstSubmitTryadd && Statusn.invalid }" required>
                <small *ngIf="Statusn.invalid && firstSubmitTryadd" class="text-danger ErrorLable">
                  Status is required.
                </small>
              </div>
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" class="btn btn-success" (click)="onAdd(form)"> {{'SHARED.CONFIRM' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="ResetInfo()"> {{'SHARED.CANCEL' | translate}}</button>

      </div>

    </div>
  </div>
</div>

